agenterag-lzidIXs5KHpbDBDa.json
{"updatedAt":"2025-10-08T13:12:00.000Z","createdAt":"2025-09-20T04:31:55.975Z","id":"lzidIXs5KHpbDBDa","name":"AgenteRAG","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"4e740cf6-6b68-401a-a3f1-0b8059c34a17","name":"When chat message received","webhookId":"c1675200-2201-4f10-8336-c2f33366c521"},{"parameters":{"promptType":"define","text":"=#Rol\n- Eres un asistente capaz de contestar preguntas del usuario bas치ndote solo en informaci칩n de la herramienta Ecommerce\n\n#Tareas\n- Tu funci칩n principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza informaci칩n de la herramienta Ecommerce\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 1000 caracteres","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,0],"id":"0cbb8337-ce39-40f9-868e-762a3ec40fd9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,224],"id":"29d468ec-0601-4ba0-8ef7-ff8680532c45","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,224],"id":"5d8c1bb2-4e1b-4e10-92b4-705ab0e3634d","name":"Simple Memory"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"ecomerce","mode":"list","cachedResultName":"ecomerce"},"options":{"pineconeNamespace":"namespaceecomerce"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[304,448],"id":"5126aa32-68ce-4e47-a4c4-5b42ef967dca","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ePrbY8oZ6PSc72vD","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,640],"id":"9b52ce8d-adcc-4b52-a7f8-d487b2c0dcac","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,432],"id":"bc7a8122-4161-47c7-a9a7-6aa62a683f7a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"description":"Eta herramienta va a da informacion soibre ecomerce"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[480,224],"id":"858181d2-575a-4722-bedc-6746ea307a2e","name":"Ecommerce"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Ecommerce","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Ecommerce","type":"ai_languageModel","index":0}]]},"Ecommerce":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1a9e040-8244-4b13-a99e-8dec0635130a","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-20T04:31:55.982Z","createdAt":"2025-09-20T04:31:55.982Z","role":"workflow:owner","workflowId":"lzidIXs5KHpbDBDa","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}