agenterag-qdrant-Nne1Ov4TGRNi8fCJ.json
{"updatedAt":"2025-10-08T20:00:14.000Z","createdAt":"2025-10-08T13:11:37.923Z","id":"Nne1Ov4TGRNi8fCJ","name":"AgenteRAG Qdrant","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"1471382c-6402-4326-8eb5-dc89d652dec2","name":"When chat message received","webhookId":"e036385f-64b0-4b3a-9e56-f1c8cc625572"},{"parameters":{"promptType":"define","text":"=#Rol\n- Eres un asistente capaz de contestar preguntas del usuario bas치ndote solo en informaci칩n de la herramienta Ecommerce\n\n#Tareas\n- Tu funci칩n principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza informaci칩n de la herramienta Ecommerce\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 1000 caracteres","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,0],"id":"035188af-5757-4bad-9e77-00d61a8287d5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,224],"id":"5932f93c-fa6c-4809-99ed-9ac38ca37a1d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,224],"id":"7aafbb2a-98eb-494c-8be8-e6ddd15c17e1","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,640],"id":"84ea4c05-d8c1-4300-b767-05682b61af8c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,432],"id":"0e2b4fdf-41d6-48d4-991a-2cfebcffce61","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"description":"Eta herramienta va a da informacion soibre ecomerce"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[480,224],"id":"d56541f1-6337-41d5-a2d1-91ded63bda89","name":"Ecommerce"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"comercio","mode":"list","cachedResultName":"comercio"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[368,448],"id":"356dc2b6-06b4-4fa2-a839-e533ca1f9012","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"j0ROEzR2Z2a8sWdf","name":"QdrantApi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Ecommerce","type":"ai_languageModel","index":0}]]},"Ecommerce":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Ecommerce","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea8ec000-d6e2-4c9e-a3df-948b5615cc9e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-08T13:11:37.926Z","createdAt":"2025-10-08T13:11:37.926Z","role":"workflow:owner","workflowId":"Nne1Ov4TGRNi8fCJ","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}