analizaimagenwebhook-FK69OVQgCAczyKry.json
{"updatedAt":"2025-11-15T14:01:08.000Z","createdAt":"2025-11-02T03:44:43.919Z","id":"FK69OVQgCAczyKry","name":"AnalizaImagenWebHook","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Analiza la imagen, busca siempre la pizarra aclilica y devuelve  SOLO un JSON válido con el siguiente esquema:\n{\"proyecto\": string,\n \"cui\": string,\n \"margen\": string, \n \"codigo\": string,\n \"coordenadas\": { \"x\": number,\n                  \"y\": number \n                },\n  \"pk\": string,\n  \"ensayo\": string,\n  \"profundidad_m\": number,\n  \"fecha_original\": string\n}\n\nSi no ves algún dato, usa null. Sin texto adicional","inputType":"base64","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1536,16],"id":"9a932936-4be8-412c-9cdc-3f3ab2e9499e","name":"Analyze image","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Function (Parsear + fecha ISO) → envuelve todo en { resultadoAnalisis: {...} }\nfunction toISO(d) {\n  if (!d) return null;\n  const parts = String(d).trim().replace(/\\./g,'/').replace(/\\s+/g,'').split(/[\\/\\-]/);\n  if (parts.length < 3) return null;\n  const [dd, mm, yy] = parts.map(p => parseInt(p, 10));\n  if (!dd || !mm || !yy) return null;\n  const year = yy < 100 ? 2000 + yy : yy;\n  const date = new Date(Date.UTC(year, mm - 1, dd));\n  return date.toISOString().slice(0, 10);\n}\n\n// ----- SOLO 1 ITEM (loop) -----\nconst item = $input.first();\n\n// Soporta tanto content plano como respuesta de chat.completions\nlet text = item.json?.content ?? item.json?.choices?.[0]?.message?.content ?? '';\n\n// Quita fences ```json ... ```\ntext = text.trim()\n           .replace(/^```[\\w-]*\\s*/,'')\n           .replace(/```$/,'')\n           .trim();\n\n// Toma bloque {...} o [...]\nconst m = text.match(/[\\[{][\\s\\S]*[\\]}]\\s*$/);\nconst candidate = m ? m[0] : text;\n\n// Parseo + normalización\nlet j;\ntry { j = JSON.parse(candidate); }\ncatch (e) { j = { _error: 'JSON inválido en content', raw: text }; }\n\nif (j?.coordenadas) {\n  if (j.coordenadas.x != null) j.coordenadas.x = Number(String(j.coordenadas.x).replace(/[^0-9.-]/g,'')) || null;\n  if (j.coordenadas.y != null) j.coordenadas.y = Number(String(j.coordenadas.y).replace(/[^0-9.-]/g,'')) || null;\n}\nif (j?.profundidad_m != null) j.profundidad_m = Number(String(j.profundidad_m).replace(/[^0-9.-]/g,'')) || null;\n\n// \"65200\" -> \"65+200\"\nif (j?.pk != null) {\n  const digits = String(j.pk).replace(/\\D/g,'');\n  j.pk = digits.length >= 4 ? digits.slice(0, -3) + '+' + digits.slice(-3) : digits || null;\n}\n\nif (j?.fecha_original) j.fecha_iso = toISO(j.fecha_original);\n\n// Devuelve 1 ítem por iteración del loop\nreturn [{ json: { resultadoAnalisis: j } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,16],"id":"47051403-36dd-40a2-8503-a2bbb19c3063","name":"parseoAnalisis"},{"parameters":{"httpMethod":"POST","path":"sendimagestoanalize","authentication":"basicAuth","responseMode":"lastNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2208,16],"id":"4b2707ec-a04c-4ee6-93d4-17ea8ad051c2","name":"Webhook","webhookId":"55c72a27-4313-48cc-87e6-4f903e8b198f","credentials":{"httpBasicAuth":{"id":"cq3OBWUKNWft7giY","name":"image-analize"}}},{"parameters":{"jsCode":"// Toma el $binary del primer ítem (con data0, data1, etc.)\n// y genera un item por cada archivo, estandarizando el nombre a \"file\".\nconst out = [];\nconst bin = $input.first().binary || {};\nfor (const [key, file] of Object.entries(bin)) {\n  out.push({\n    json: { field: key, fileName: file.fileName, mimeType: file.mimeType },\n    binary: { file }, // <-- quedará siempre en binary.file\n  });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,16],"id":"c03b5951-efe7-4abe-941d-aef078af032a","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1760,16],"id":"2b8baa50-bc99-4641-b96b-e13b32de18b4","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-1088,88],"id":"272761e6-d902-4f80-a705-f34c5e7bd144"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Final","typeVersion":1,"position":[-1536,-176],"id":"b4eef1ea-fe65-4020-a579-2e494b40f243"},{"parameters":{"jsCode":"const resultados = $input.all().map(i => i.json.resultadoAnalisis);\nreturn [{ json: { resultados } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,-176],"id":"886f4c93-238d-4ae2-8c64-9ab1c0ea49c3","name":"Code in JavaScript1"}],"connections":{"Analyze image":{"main":[[{"node":"parseoAnalisis","type":"main","index":0}]]},"parseoAnalisis":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Final","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Final":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-11-01T23:56:14Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d36af0a3-4b63-484d-b312-6f994362fa1e","triggerCount":1,"shared":[{"updatedAt":"2025-11-02T03:44:43.927Z","createdAt":"2025-11-02T03:44:43.927Z","role":"workflow:owner","workflowId":"FK69OVQgCAczyKry","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}