analizaimagen-ZEgDQHZ9GVt3gONI.json
{"updatedAt":"2025-11-02T03:44:28.000Z","createdAt":"2025-11-01T03:10:25.883Z","id":"ZEgDQHZ9GVt3gONI","name":"AnalizaImagen","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1J3jpeVqy0GcFdnVXa7mXlfviBklzeQTW","mode":"list","cachedResultName":"UploadImages","cachedResultUrl":"https://drive.google.com/drive/folders/1J3jpeVqy0GcFdnVXa7mXlfviBklzeQTW"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1968,-176],"id":"4f2b32de-3fe2-432b-a3c7-be7181a5c883","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1744,-176],"id":"7d458359-2a56-418f-8cc5-baddc128de9c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Analiza la imagen, busca siempre la pizarra aclilica y devuelve  SOLO un JSON válido con el siguiente esquema:\n{\"proyecto\": string,\n \"cui\": string,\n \"margen\": string, \n \"codigo\": string,\n \"coordenadas\": { \"x\": number,\n                  \"y\": number \n                },\n  \"pk\": string,\n  \"ensayo\": string,\n  \"profundidad_m\": number,\n  \"fecha_original\": string\n}\n\nSi no ves algún dato, usa null. Sin texto adicional","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1520,-176],"id":"6fdcb205-9981-40e2-a576-98084c44f977","name":"Analyze image","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"sendTo":"fmcuya@gmail.com","subject":"Resultado Analisis Imagen","message":"=<pre>{{ JSON.stringify($('parseoAnalisis').item.json.resultadoAnalisis, null, 2) }}</pre>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-896,-176],"id":"a38fbad2-b605-45eb-a008-6747e93f1c60","name":"Send a message","webhookId":"74cc8ff7-72ec-4d9d-8cd4-ba3e60e78a28","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1q5N9uDTy3dzQd6DYoWTy1xTslQBlz3ZT","mode":"list","cachedResultName":"Procesados","cachedResultUrl":"https://drive.google.com/drive/folders/1q5N9uDTy3dzQd6DYoWTy1xTslQBlz3ZT"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1104,-176],"id":"5e893aa0-5731-4d95-afaa-7e0b580b39d8","name":"Move file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Function (Parsear + fecha ISO) → envuelve todo en { resultadoAnalisis: {...} }\nfunction toISO(d) {\n  if (!d) return null;\n  const parts = String(d).trim().replace(/\\./g,'/').replace(/\\s+/g,'').split(/[\\/\\-]/);\n  if (parts.length < 3) return null;\n  const [dd, mm, yy] = parts.map(p => parseInt(p, 10));\n  if (!dd || !mm || !yy) return null;\n  const year = yy < 100 ? 2000 + yy : yy;\n  const date = new Date(Date.UTC(year, mm - 1, dd));\n  return date.toISOString().slice(0, 10);\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  // Soporta tanto content plano como respuesta de chat.completions\n  let text = item.json?.content ?? item.json?.choices?.[0]?.message?.content ?? '';\n\n  // Quita fences ```json ... ```\n  text = text.trim()\n             .replace(/^```[\\w-]*\\s*/,'')\n             .replace(/```$/,'')\n             .trim();\n\n  // Toma bloque {...} o [...]\n  const m = text.match(/[\\[{][\\s\\S]*[\\]}]\\s*$/);\n  const candidate = m ? m[0] : text;\n\n  // Parseo + normalización\n  let j;\n  try { j = JSON.parse(candidate); }\n  catch (e) { j = { _error: 'JSON inválido en content', raw: text }; }\n\n  if (j?.coordenadas) {\n    if (j.coordenadas.x != null) j.coordenadas.x = Number(String(j.coordenadas.x).replace(/[^0-9.-]/g,'')) || null;\n    if (j.coordenadas.y != null) j.coordenadas.y = Number(String(j.coordenadas.y).replace(/[^0-9.-]/g,'')) || null;\n  }\n  if (j?.profundidad_m != null) j.profundidad_m = Number(String(j.profundidad_m).replace(/[^0-9.-]/g,'')) || null;\n\n  // \"65200\" -> \"65+200\"\n  if (j?.pk != null) {\n    const digits = String(j.pk).replace(/\\D/g,'');\n    j.pk = digits.length >= 4 ? digits.slice(0, -3) + '+' + digits.slice(-3) : digits || null;\n  }\n\n  if (j?.fecha_original) j.fecha_iso = toISO(j.fecha_original);\n\n  // <<< Aquí va el cambio pedido >>>\n  out.push({ json: { resultadoAnalisis: j } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,-176],"id":"5c10685c-ba3e-4dd7-9862-a0727fc015be","name":"parseoAnalisis"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"parseoAnalisis","type":"main","index":0}]]},"Move file":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"parseoAnalisis":{"main":[[{"node":"Move file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-11-01T23:56:14Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f38a39ff-048b-456e-bba2-c3cfafcc8dd8","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-01T03:10:25.894Z","createdAt":"2025-11-01T03:10:25.894Z","role":"workflow:owner","workflowId":"ZEgDQHZ9GVt3gONI","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}