asistente-interno-flujo-principal-30CVIkkv8atY3OkR.json
{"updatedAt":"2025-11-29T03:51:11.000Z","createdAt":"2025-11-23T03:18:04.552Z","id":"30CVIkkv8atY3OkR","name":"asistente-interno-flujo-principal","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"asitente-interno","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,176],"id":"fd787830-55c5-4bb2-8041-888d7031ec7d","name":"Webhook","webhookId":"48ff13b2-f339-4c1f-af60-eef1727d921c"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"estado\": \"recibido\",\n  \"usuario\":\"{{ $('Edit Fields').item.json.usuario }}\",\n\"mensaje\" : \"{{ $('Edit Fields').item.json.mensaje }}\",\n\"prioridad\" : \"{{ $('Edit Fields').item.json.pioridad }}\",\n\"fecha\" : \"{{ $('Edit Fields').item.json.fecha }}\",\n\"flujo\" : \"{{ $('Edit Fields').item.json.flujo }}\",\n\"ejecuion_id\" : \"{{ $('Edit Fields').item.json.ejecucion_id }}\",\n\"categoria\" : \"{{ $json.categoria }}\",\n\"confianza\" : \"{{ $json.confianza }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,176],"id":"80a7c434-1f1b-4ad4-9439-7ef9fed72308","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"77dc577d-2aa6-46e2-b617-b0bbb93863b1","name":"usuario","value":"={{ $json.body.usuario }}","type":"string"},{"id":"ae483107-2842-45ce-a0e3-f59702ae2e0c","name":"mensaje","value":"={{ $json.body.mensaje }}","type":"string"},{"id":"c79ee065-eb1d-4b22-9f55-2542d50828f2","name":"pioridad","value":"={{ $json.body.mensaje.includes(\"urgente\") ? \"alta\" :\"normal\" }}","type":"string"},{"id":"328f8750-eef1-4877-a87b-e6aa96cd6858","name":"fecha","value":"={{ $now.toISO() }}","type":"string"},{"id":"a53d3228-74cd-43bf-94c2-f4c646713466","name":"flujo","value":"={{ $workflow.name }}","type":"string"},{"id":"bfdb5171-02a9-4bb6-9084-4e53e8064c80","name":"ejecucion_id","value":"={{ $execution.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,272],"id":"0ceaad2d-de84-41f6-80c5-cae2e7ff15cf","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b109d096-e224-4ffe-875e-2a5f91391f8d","leftValue":"={{ $json.mensaje }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9f478f46-8e5b-4eea-96b0-5bfd0002aa93","leftValue":"={{ $json.mensaje.length }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,272],"id":"1783cc5b-371a-4f80-8724-e64af8a80896","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"estado\": \"error\",\n  \"usuario\":\"esta vacio o mensaje demasiado corto\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,368],"id":"fd021074-ea14-4bd1-9cc2-79d9cbcf4d2a","name":"Respond to Webhook1"},{"parameters":{"workflowId":{"__rl":true,"value":"Q6o2A3hJDHnkQd7U","mode":"id","cachedResultUrl":"/workflow/Q6o2A3hJDHnkQd7U"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.mensaje }}"},"matchingColumns":["mensaje"],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[128,176],"id":"1571ec2c-fe72-4a38-80e0-55b727273060","name":"Call 'sub_clasificar_mensaje'"},{"parameters":{"workflowId":{"__rl":true,"value":"FJV8h70seq7pGSph","mode":"list","cachedResultUrl":"/workflow/FJV8h70seq7pGSph","cachedResultName":"sub-enrutado"},"workflowInputs":{"mappingMode":"defineBelow","value":{"categoria":"={{ $json.categoria }}","pioridad":"={{ $('Edit Fields').item.json.pioridad }}","usuario":"={{ $('Edit Fields').item.json.usuario }}","mensaje":"={{ $('Edit Fields').item.json.mensaje }}","ejecucion_id":"={{ $('Edit Fields').item.json.ejecucion_id }}","fecha":"={{ $('Edit Fields').item.json.fecha }}"},"matchingColumns":["categoria","pioridad","usuario","mensaje","ejecucion_id","fecha"],"schema":[{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"pioridad","displayName":"pioridad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"usuario","displayName":"usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"ejecucion_id","displayName":"ejecucion_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[352,176],"name":"Call sub-enrutado","id":"4bf6c812-9127-4b33-9998-108a4ececc9a"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Asistente Interno - Solicitud</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <style>\n    * {\n      box-sizing: border-box;\n      font-family: system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif;\n    }\n\n    body {\n      margin: 0;\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      background: #f5f5f5;\n    }\n\n    .app-wrapper {\n      width: 100%;\n      max-width: 480px;\n      padding: 20px;\n    }\n\n    .card {\n      background: #ffffff;\n      border-radius: 18px;\n      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);\n      padding: 24px 24px 18px;\n      position: relative;\n      overflow: hidden;\n    }\n\n    .card::before {\n      content: \"\";\n      position: absolute;\n      top: 0;\n      left: 0;\n      height: 4px;\n      width: 100%;\n      background: linear-gradient(\n        to right,\n        #4285f4 25%,\n        #ea4335 25% 50%,\n        #fbbc04 50% 75%,\n        #34a853 75% 100%\n      );\n    }\n\n    .header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 16px;\n    }\n\n    .logo-circle {\n      width: 40px;\n      height: 40px;\n      border-radius: 50%;\n      background: conic-gradient(\n        from 220deg,\n        #4285f4,\n        #34a853,\n        #fbbc04,\n        #ea4335,\n        #4285f4\n      );\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      color: #fff;\n      font-weight: 700;\n      font-size: 20px;\n      margin-right: 10px;\n    }\n\n    .header-text h1 {\n      margin: 0;\n      font-size: 20px;\n      font-weight: 600;\n      color: #202124;\n    }\n\n    .header-text p {\n      margin: 2px 0 0;\n      font-size: 13px;\n      color: #5f6368;\n    }\n\n    form {\n      margin-top: 10px;\n    }\n\n    .field-group {\n      margin-bottom: 14px;\n    }\n\n    label {\n      display: block;\n      font-size: 13px;\n      font-weight: 500;\n      margin-bottom: 4px;\n      color: #3c4043;\n    }\n\n    input[type=\"text\"],\n    textarea {\n      width: 100%;\n      border-radius: 10px;\n      border: 1px solid #dadce0;\n      padding: 10px 11px;\n      font-size: 14px;\n      outline: none;\n      transition: border-color 0.15s ease, box-shadow 0.15s ease;\n      resize: vertical;\n      min-height: 40px;\n      background: #fbfbfb;\n    }\n\n    textarea {\n      min-height: 90px;\n    }\n\n    input[type=\"text\"]:focus,\n    textarea:focus {\n      border-color: #4285f4;\n      box-shadow: 0 0 0 1px rgba(66, 133, 244, 0.2);\n      background: #ffffff;\n    }\n\n    .help-text {\n      font-size: 11px;\n      color: #80868b;\n      margin-top: 2px;\n    }\n\n    .actions {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      margin-top: 10px;\n      gap: 10px;\n    }\n\n    .btn-primary {\n      border: none;\n      border-radius: 999px;\n      padding: 9px 18px;\n      font-size: 14px;\n      font-weight: 500;\n      cursor: pointer;\n      background: #4285f4;\n      color: #ffffff;\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      transition: background 0.15s ease, box-shadow 0.15s ease, transform 0.05s ease;\n    }\n\n    .btn-primary:hover {\n      background: #3367d6;\n      box-shadow: 0 2px 6px rgba(66, 133, 244, 0.4);\n      transform: translateY(-1px);\n    }\n\n    .btn-primary:active {\n      transform: translateY(0);\n      box-shadow: none;\n    }\n\n    .btn-primary:disabled {\n      opacity: 0.7;\n      cursor: default;\n      box-shadow: none;\n      transform: none;\n    }\n\n    .status {\n      font-size: 12px;\n      min-height: 16px;\n    }\n\n    .status.ok {\n      color: #34a853;\n    }\n\n    .status.error {\n      color: #ea4335;\n    }\n\n    .status.info {\n      color: #5f6368;\n    }\n\n    .footer-note {\n      margin-top: 10px;\n      text-align: right;\n      font-size: 11px;\n      color: #9aa0a6;\n    }\n\n    .spinner {\n      width: 14px;\n      height: 14px;\n      border: 2px solid rgba(255, 255, 255, 0.6);\n      border-top-color: #ffffff;\n      border-radius: 50%;\n      animation: spin 0.8s linear infinite;\n    }\n\n    @keyframes spin {\n      to {\n        transform: rotate(360deg);\n      }\n    }\n\n    @media (max-width: 480px) {\n      .card {\n        padding: 20px 18px 14px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"app-wrapper\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <div class=\"logo-circle\">Ai</div>\n        <div class=\"header-text\">\n          <h1>Asistente Interno</h1>\n          <p>Envía tu consulta o petición rápida al equipo.</p>\n        </div>\n      </div>\n\n      <form id=\"solicitudForm\">\n        <div class=\"field-group\">\n          <label for=\"usuario\">Usuario</label>\n          <input\n            type=\"text\"\n            id=\"usuario\"\n            name=\"usuario\"\n            placeholder=\"Ej: mcuya\"\n            required\n          />\n          <div class=\"help-text\">\n            Ingresa tu usuario de red o el identificador que uses en la empresa.\n          </div>\n        </div>\n\n        <div class=\"field-group\">\n          <label for=\"mensaje\">Mensaje / Petición</label>\n          <textarea\n            id=\"mensaje\"\n            name=\"mensaje\"\n            placeholder=\"Describe brevemente tu consulta o lo que necesitas…\"\n            required\n          ></textarea>\n          <div class=\"help-text\">\n            Sé claro y directo para que el asistente pueda ayudarte mejor.\n          </div>\n        </div>\n\n        <div class=\"actions\">\n          <div id=\"status\" class=\"status info\">\n            Completa los campos y envía tu solicitud.\n          </div>\n          <button type=\"submit\" id=\"btnEnviar\" class=\"btn-primary\">\n            <span id=\"btnText\">Enviar</span>\n            <span id=\"btnSpinner\" class=\"spinner\" style=\"display: none;\"></span>\n          </button>\n        </div>\n      </form>\n\n      <div class=\"footer-note\">\n        Tus datos se envían de forma segura mediante JSON (POST) al asistente.\n      </div>\n    </div>\n  </div>\n\n  <script>\n    const form = document.getElementById(\"solicitudForm\");\n    const statusEl = document.getElementById(\"status\");\n    const btn = document.getElementById(\"btnEnviar\");\n    const btnText = document.getElementById(\"btnText\");\n    const btnSpinner = document.getElementById(\"btnSpinner\");\n\n    const WEBHOOK_URL =\n      \"https://n8n-project-n8n.z4znbw.easypanel.host/webhook-test/asitente-interno\";\n\n    form.addEventListener(\"submit\", async (event) => {\n      event.preventDefault();\n\n      const usuario = document.getElementById(\"usuario\").value.trim();\n      const mensaje = document.getElementById(\"mensaje\").value.trim();\n\n      if (!usuario || !mensaje) {\n        statusEl.textContent = \"Por favor completa todos los campos.\";\n        statusEl.className = \"status error\";\n        return;\n      }\n\n      // Estado: enviando\n      btn.disabled = true;\n      btnText.textContent = \"Enviando...\";\n      btnSpinner.style.display = \"inline-block\";\n      statusEl.textContent = \"Enviando tu solicitud…\";\n      statusEl.className = \"status info\";\n\n      try {\n        const res = await fetch(WEBHOOK_URL, {\n          method: \"POST\",\n          headers: {\n            \"Content-Type\": \"application/json\",\n          },\n          body: JSON.stringify({\n            usuario: usuario,\n            mensaje: mensaje,\n          }),\n        });\n\n        if (!res.ok) {\n          throw new Error(\"HTTP \" + res.status);\n        }\n\n        statusEl.textContent = \"Solicitud enviada correctamente. ¡Gracias!\";\n        statusEl.className = \"status ok\";\n        form.reset();\n      } catch (err) {\n        console.error(err);\n        statusEl.textContent =\n          \"Ocurrió un error al enviar la solicitud. Intenta nuevamente.\";\n        statusEl.className = \"status error\";\n      } finally {\n        btn.disabled = false;\n        btnText.textContent = \"Enviar\";\n        btnSpinner.style.display = \"none\";\n      }\n    });\n  </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-320,80],"id":"3103e5c2-bc81-4358-98fe-0dc64260f1b2","name":"Respond to Webhook2"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'sub_clasificar_mensaje'","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Call 'sub_clasificar_mensaje'":{"main":[[{"node":"Call sub-enrutado","type":"main","index":0}]]},"Call sub-enrutado":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35c7fcc7-7039-41bb-b8a4-3fe92eae60a2","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T03:18:04.557Z","createdAt":"2025-11-23T03:18:04.557Z","role":"workflow:owner","workflowId":"30CVIkkv8atY3OkR","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}