backupflujos-PDiA2fQiQo7cnnjf.json
{"updatedAt":"2026-01-02T12:32:51.488Z","createdAt":"2026-01-02T11:21:24.619Z","id":"PDiA2fQiQo7cnnjf","name":"BackupFlujos","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"2339d419-f228-49b0-a731-1638026dbad2","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1168,1872],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"IpdhjOPWsuvv3m0K","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1616,1872],"id":"d0f444c2-0b65-4b47-a414-4a14ceffc535","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1840,1600],"id":"6a7b5d91-6df7-489e-9051-81b1306a589f","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,1872],"id":"e0748af6-09ec-4173-a458-d323b49cae36","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $('Preparar ruta').item.json.filePath }}","fileContent":"={{ $json.data }}","commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"ba3a487f-c1fb-44cf-aa65-c36a69b69cde","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2512,1872],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"uUpjLAoxfAdjOeNC","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $('Preparar ruta').item.json.filePath }}","fileContent":"={{ $json.data }}","commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"b4cb962a-bc0d-4505-9569-2483f2bbf123","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2512,2064],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"uUpjLAoxfAdjOeNC","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"mcuya","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_backup_personal","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,1872],"id":"cb000282-d1c4-4016-8f6a-a2d9e24351f7","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[720,1872],"id":"7b5772d6-9f7e-4abb-b65b-4f540c918105","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"uUpjLAoxfAdjOeNC","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ String(($json.name ?? 'sin-nombre')).replace(/[\\r\\n]+/g,' ').trim().replace(/\\s+/g, '-').replace(/[^\\w.-]+/g, '-').toLowerCase() + '-' + String(($json.id ?? $itemIndex)).trim() + '.json' }}"}},"id":"ac0329f1-0ccc-4e19-9174-733028e1cb55","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1392,1872]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $('Preparar ruta').item.json.filePath }}"}]}},"id":"44ee1302-d159-4b18-beb0-60b202a5c1ca","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2288,1792]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[944,1872],"id":"283c081a-4e4e-4a1a-97fb-b02b64d27e07","name":"Combinar archivos"},{"parameters":{"assignments":{"assignments":[{"id":"d5800024-b409-4061-b80c-71619023e562","name":"filePath","value":"={{ ($binary.data.fileName || ('sin-nombre-' + $itemIndex + '.json')).replace(/[\\r\\n]+/g,'').trim() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"cc7e2d8a-f648-4fd5-9fe4-349dae709301","name":"Preparar ruta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,1792]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"fccfa378-130d-4439-b288-b902258b4bbf","name":"Extract from File (Base64)","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2064,1792]}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Preparar ruta","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Preparar ruta":{"main":[[{"node":"Extract from File (Base64)","type":"main","index":0}]]},"Extract from File (Base64)":{"main":[[{"node":"Si existe","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b6672c36-4eec-4e4c-9c3c-9681fa3cc1f8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T11:21:24.625Z","createdAt":"2026-01-02T11:21:24.625Z","role":"workflow:owner","workflowId":"PDiA2fQiQo7cnnjf","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}