cargadocumentoselectronicos-Jz0lDFXAhNz2VoLF.json
{"updatedAt":"2025-11-15T14:14:04.000Z","createdAt":"2025-11-05T03:17:37.009Z","id":"Jz0lDFXAhNz2VoLF","name":"CargaDocumentosElectronicos","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Analiza la imagen de un comprobante electrónico (Perú). Devuelve ÚNICAMENTE un JSON válido, plano, sin Markdown ni texto extra, con EXACTAMENTE estas 12 claves y estos tipos, usando punto como separador decimal y sin símbolos de moneda:\n\n{\n  \"TipoDocumentoElectronico\": string | null,\n  \"NumeroDocumentoElectronico\": string | null,\n  \"TipoDocumento\": string | null,\n  \"NumeroDocumento\": string | null,\n  \"Codigo\": string | null,\n  \"ImporteSubtotal\": number | null,\n  \"MontoImpuesto\": number | null,\n  \"TotalComprobante\": number | null,\n  \"FechaEmision\": string | null,      // formatea como YYYY-MM-DD si es posible; si no, deja como aparece\n  \"HoraEmision\": string | null,       // HH:mm:ss si es posible; si no, deja como aparece\n  \"emisorRazonSocial\": string | null,\n  \"emisorRUC\": string | null\n}\n\nReglas de extracción y normalización:\n- A \"TotalComprobante\" asígnale el total a pagar (etiquetas posibles: \"TOTAL A PAGAR\", \"IMPORTE TOTAL\", \"TOTAL\", \"TOTAL S/\").\n- \"MontoImpuesto\": toma IGV (etiquetas posibles: \"IGV\", \"I.G.V.\", \"I.G.V\", \"IGV (18%)\"). Si hay varios impuestos, suma.\n- Si \"ImporteSubtotal\" no aparece, calcula: subtotal = TotalComprobante - MontoImpuesto (si ambos existen).\n- \"Codigo\": serie o prefijo (p.ej. F001, BA01, BW01, BP2). Si solo hay número con guion, toma lo de la izquierda del guion.\n- \"TipoDocumento\" y \"NumeroDocumento\": del receptor (DNI, RUC, Cédula).\n- \"emisorRazonSocial\" y \"emisorRUC\": del emisor.\n- Quita símbolos de moneda, comas o espacios en montos; devuelve números (ej: 136.50).\n- Si no puedes determinar un dato, devuelve null.\n- Sin campos adicionales ni anidados. Devuelve solo el JSON.\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2112,-752],"id":"bb1a3e66-9670-42ca-9302-859013c93a16","name":"Analyze image","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-3008,-752],"id":"b08738de-5357-45e1-8657-923f0d222a7b","name":"Telegram Trigger","webhookId":"969d3b50-8ff7-4581-a213-f42f6ee62c03","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"assignments":{"assignments":[{"id":"tg-1","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"tg-2","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"tg-3","name":"nombre_usuario","value":"={{ ($json.message.from.first_name || '') + ($json.message.from.last_name ? (' ' + $json.message.from.last_name) : '') }}","type":"string"},{"id":"tg-4","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"tg-5","name":"id_mensaje","value":"={{ $json.message.message_id }}","type":"number"},{"id":"tg-6","name":"hora","value":"={{ $json.message.date }}","type":"number"},{"id":"tg-7","name":"mensaje_usuario","value":"={{ $json.message.text || $json.message.caption || '' }}","type":"string"},{"id":"tg-8","name":"tipo_mensaje","value":"={{ $json.message.voice ? 'audio' : ($json.message.photo ? 'image' : ($json.message.text ? 'text' : '')) }}","type":"string"},{"id":"tg-9","name":"voice_file_id","value":"={{ $json.message.voice?.file_id }}","type":"string"},{"id":"tg-10","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,-752],"id":"b95361f7-42d1-48bc-b4e1-0525e700cdc1","name":"InfoDeTG"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"tg-s-1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-2","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-3","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,-784],"id":"a7181ce6-cefc-4c1a-a1b1-ddcdda777c82","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.photo_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2336,-752],"id":"530d68f7-12f0-490d-9c47-cd69cbbb63e9","name":"ObtenerImagenTG","webhookId":"52d8bedb-f1db-4873-9609-a8503e05155f","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=El Documento {{ $json.NumeroDocumentoElectronico }} se ha registrado.\n\nPara revisarlo puede hacer click en este link:\nhttps://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit?usp=sharing\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1440,-752],"id":"79f191ba-5370-49f1-aa1f-3d4c326a817b","name":"Enviar a Telegram1","webhookId":"96ed0f36-c54d-49ed-882b-154a498ca767","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"jsCode":"const raw = $json.content || ''; // Ajusta el campo si es necesario\n\n// Limpiar delimitadores\nconst cleaned = raw.replace(/```json\\n?|```|\\n/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('JSON inválido: ' + err.message);\n}\n\n// Aplanar Emisor si existe\nconst emisor = parsed.Emisor || {};\ndelete parsed.Emisor;\n\n// Fusionar todos los datos en un solo JSON plano\nreturn {\n  json: {\n    ...parsed,\n    emisorRazonSocial: emisor.RazonSocial || null,\n    emisorRUC: emisor.RUC || null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-752],"id":"851c5454-5ac4-469e-81c2-82adc2d3a467","name":"Code in JavaScript"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE","mode":"list","cachedResultName":"DocumentosElectronicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"TipoDocumentoElectronico":"={{ $json.TipoDocumentoElectronico }}","NumeroDocumentoElectronico":"={{ $json.NumeroDocumentoElectronico }}","TipoDocumento":"={{ $json.TipoDocumento }}","NumeroDocumento":"={{ $json.NumeroDocumento }}","Codigo":"={{ $json.Codigo }}","ImporteSubtotal":"={{ $json.ImporteSubtotal }}","MontoImpuesto":"={{ $json.MontoImpuesto }}","TotalComprobante":"={{ $json.TotalComprobante }}","FechaEmision":"={{ $json.FechaEmision }}","HoraEmision":"={{ $json.HoraEmision }}","emisorRazonSocial":"={{ $json.emisorRazonSocial }}","emisorRUC":"={{ $json.emisorRUC }}"},"matchingColumns":[],"schema":[{"id":"TipoDocumentoElectronico","displayName":"TipoDocumentoElectronico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NumeroDocumentoElectronico","displayName":"NumeroDocumentoElectronico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TipoDocumento","displayName":"TipoDocumento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NumeroDocumento","displayName":"NumeroDocumento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Codigo","displayName":"Codigo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ImporteSubtotal","displayName":"ImporteSubtotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MontoImpuesto","displayName":"MontoImpuesto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TotalComprobante","displayName":"TotalComprobante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FechaEmision","displayName":"FechaEmision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HoraEmision","displayName":"HoraEmision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emisorRazonSocial","displayName":"emisorRazonSocial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emisorRUC","displayName":"emisorRUC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1664,-752],"id":"a96ffeda-1475-403e-a331-86ccea6e3542","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"InfoDeTG","type":"main","index":0}]]},"InfoDeTG":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[],[{"node":"ObtenerImagenTG","type":"main","index":0}]]},"ObtenerImagenTG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Enviar a Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9b896c9-4277-4020-a5e5-838677172fe5","activeVersionId":"c9b896c9-4277-4020-a5e5-838677172fe5","triggerCount":1,"shared":[{"updatedAt":"2025-11-05T03:17:37.012Z","createdAt":"2025-11-05T03:17:37.012Z","role":"workflow:owner","workflowId":"Jz0lDFXAhNz2VoLF","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-11-28T10:24:07.534Z","createdAt":"2025-11-28T10:24:07.534Z","versionId":"c9b896c9-4277-4020-a5e5-838677172fe5","workflowId":"Jz0lDFXAhNz2VoLF","nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Analiza la imagen de un comprobante electrónico (Perú). Devuelve ÚNICAMENTE un JSON válido, plano, sin Markdown ni texto extra, con EXACTAMENTE estas 12 claves y estos tipos, usando punto como separador decimal y sin símbolos de moneda:\n\n{\n  \"TipoDocumentoElectronico\": string | null,\n  \"NumeroDocumentoElectronico\": string | null,\n  \"TipoDocumento\": string | null,\n  \"NumeroDocumento\": string | null,\n  \"Codigo\": string | null,\n  \"ImporteSubtotal\": number | null,\n  \"MontoImpuesto\": number | null,\n  \"TotalComprobante\": number | null,\n  \"FechaEmision\": string | null,      // formatea como YYYY-MM-DD si es posible; si no, deja como aparece\n  \"HoraEmision\": string | null,       // HH:mm:ss si es posible; si no, deja como aparece\n  \"emisorRazonSocial\": string | null,\n  \"emisorRUC\": string | null\n}\n\nReglas de extracción y normalización:\n- A \"TotalComprobante\" asígnale el total a pagar (etiquetas posibles: \"TOTAL A PAGAR\", \"IMPORTE TOTAL\", \"TOTAL\", \"TOTAL S/\").\n- \"MontoImpuesto\": toma IGV (etiquetas posibles: \"IGV\", \"I.G.V.\", \"I.G.V\", \"IGV (18%)\"). Si hay varios impuestos, suma.\n- Si \"ImporteSubtotal\" no aparece, calcula: subtotal = TotalComprobante - MontoImpuesto (si ambos existen).\n- \"Codigo\": serie o prefijo (p.ej. F001, BA01, BW01, BP2). Si solo hay número con guion, toma lo de la izquierda del guion.\n- \"TipoDocumento\" y \"NumeroDocumento\": del receptor (DNI, RUC, Cédula).\n- \"emisorRazonSocial\" y \"emisorRUC\": del emisor.\n- Quita símbolos de moneda, comas o espacios en montos; devuelve números (ej: 136.50).\n- Si no puedes determinar un dato, devuelve null.\n- Sin campos adicionales ni anidados. Devuelve solo el JSON.\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2112,-752],"id":"bb1a3e66-9670-42ca-9302-859013c93a16","name":"Analyze image","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-3008,-752],"id":"b08738de-5357-45e1-8657-923f0d222a7b","name":"Telegram Trigger","webhookId":"969d3b50-8ff7-4581-a213-f42f6ee62c03","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"assignments":{"assignments":[{"id":"tg-1","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"tg-2","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"tg-3","name":"nombre_usuario","value":"={{ ($json.message.from.first_name || '') + ($json.message.from.last_name ? (' ' + $json.message.from.last_name) : '') }}","type":"string"},{"id":"tg-4","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"tg-5","name":"id_mensaje","value":"={{ $json.message.message_id }}","type":"number"},{"id":"tg-6","name":"hora","value":"={{ $json.message.date }}","type":"number"},{"id":"tg-7","name":"mensaje_usuario","value":"={{ $json.message.text || $json.message.caption || '' }}","type":"string"},{"id":"tg-8","name":"tipo_mensaje","value":"={{ $json.message.voice ? 'audio' : ($json.message.photo ? 'image' : ($json.message.text ? 'text' : '')) }}","type":"string"},{"id":"tg-9","name":"voice_file_id","value":"={{ $json.message.voice?.file_id }}","type":"string"},{"id":"tg-10","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,-752],"id":"b95361f7-42d1-48bc-b4e1-0525e700cdc1","name":"InfoDeTG"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"tg-s-1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-2","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-3","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,-784],"id":"a7181ce6-cefc-4c1a-a1b1-ddcdda777c82","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.photo_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2336,-752],"id":"530d68f7-12f0-490d-9c47-cd69cbbb63e9","name":"ObtenerImagenTG","webhookId":"52d8bedb-f1db-4873-9609-a8503e05155f","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=El Documento {{ $json.NumeroDocumentoElectronico }} se ha registrado.\n\nPara revisarlo puede hacer click en este link:\nhttps://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit?usp=sharing\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1440,-752],"id":"79f191ba-5370-49f1-aa1f-3d4c326a817b","name":"Enviar a Telegram1","webhookId":"96ed0f36-c54d-49ed-882b-154a498ca767","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"jsCode":"const raw = $json.content || ''; // Ajusta el campo si es necesario\n\n// Limpiar delimitadores\nconst cleaned = raw.replace(/```json\\n?|```|\\n/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('JSON inválido: ' + err.message);\n}\n\n// Aplanar Emisor si existe\nconst emisor = parsed.Emisor || {};\ndelete parsed.Emisor;\n\n// Fusionar todos los datos en un solo JSON plano\nreturn {\n  json: {\n    ...parsed,\n    emisorRazonSocial: emisor.RazonSocial || null,\n    emisorRUC: emisor.RUC || null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-752],"id":"851c5454-5ac4-469e-81c2-82adc2d3a467","name":"Code in JavaScript"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE","mode":"list","cachedResultName":"DocumentosElectronicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19beXQDNl7abDG4Ww2WI9osaq5SchgltGj7OiHxM84RE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"TipoDocumentoElectronico":"={{ $json.TipoDocumentoElectronico }}","NumeroDocumentoElectronico":"={{ $json.NumeroDocumentoElectronico }}","TipoDocumento":"={{ $json.TipoDocumento }}","NumeroDocumento":"={{ $json.NumeroDocumento }}","Codigo":"={{ $json.Codigo }}","ImporteSubtotal":"={{ $json.ImporteSubtotal }}","MontoImpuesto":"={{ $json.MontoImpuesto }}","TotalComprobante":"={{ $json.TotalComprobante }}","FechaEmision":"={{ $json.FechaEmision }}","HoraEmision":"={{ $json.HoraEmision }}","emisorRazonSocial":"={{ $json.emisorRazonSocial }}","emisorRUC":"={{ $json.emisorRUC }}"},"matchingColumns":[],"schema":[{"id":"TipoDocumentoElectronico","displayName":"TipoDocumentoElectronico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NumeroDocumentoElectronico","displayName":"NumeroDocumentoElectronico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TipoDocumento","displayName":"TipoDocumento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NumeroDocumento","displayName":"NumeroDocumento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Codigo","displayName":"Codigo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ImporteSubtotal","displayName":"ImporteSubtotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MontoImpuesto","displayName":"MontoImpuesto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TotalComprobante","displayName":"TotalComprobante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FechaEmision","displayName":"FechaEmision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HoraEmision","displayName":"HoraEmision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emisorRazonSocial","displayName":"emisorRazonSocial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emisorRUC","displayName":"emisorRUC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1664,-752],"id":"a96ffeda-1475-403e-a331-86ccea6e3542","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"InfoDeTG","type":"main","index":0}]]},"InfoDeTG":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[],[{"node":"ObtenerImagenTG","type":"main","index":0}]]},"ObtenerImagenTG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Enviar a Telegram1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}