cargadocumentoselectronicosconnodosocultos-NB8klaPs0ZLfKbxy.json
{"updatedAt":"2025-11-10T20:50:16.000Z","createdAt":"2025-11-10T20:50:08.376Z","id":"NB8klaPs0ZLfKbxy","name":"CargaDocumentosElectronicosConNodosOcultos","active":false,"isArchived":false,"nodes":[{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3008,-1008],"id":"75271666-dc5c-49db-8b40-3ac24f32e40c","name":"Send a text message","webhookId":"770c3108-3f10-427d-ac44-2d3f1cf168ab","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}},"disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=La imagen que se carga deberia ser de un comprobante de pago, anlizalo, busca siempre la informacion del documento y devuelve  SOLO un JSON válido con el siguiente esquema:\n{\"TipoDocumentoElectronico\": string,\n \"NumeroDocumentoElectronico\": string,\n \"TipoDocumento\": string, \n \"NumeroDocumento\": string, \n \"codigo\": string,\n  \"importe\": number,\n  \"impuesto\": number,\n  \"total\": number,\n  \"fechaEmision\": string\n}\n\nSi no ves algún dato, usa null. Sin texto adicional","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2112,-448],"id":"06057b51-20aa-4763-9486-cc871fca48b5","name":"Analyze image","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-3008,-592],"id":"bddb2cf9-3e74-4e74-bf01-d5e52295e5d5","name":"Telegram Trigger","webhookId":"7b92a12d-4093-4870-9094-c5cfec65fb53","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"assignments":{"assignments":[{"id":"tg-1","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"tg-2","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"tg-3","name":"nombre_usuario","value":"={{ ($json.message.from.first_name || '') + ($json.message.from.last_name ? (' ' + $json.message.from.last_name) : '') }}","type":"string"},{"id":"tg-4","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"tg-5","name":"id_mensaje","value":"={{ $json.message.message_id }}","type":"number"},{"id":"tg-6","name":"hora","value":"={{ $json.message.date }}","type":"number"},{"id":"tg-7","name":"mensaje_usuario","value":"={{ $json.message.text || $json.message.caption || '' }}","type":"string"},{"id":"tg-8","name":"tipo_mensaje","value":"={{ $json.message.voice ? 'audio' : ($json.message.photo ? 'image' : ($json.message.text ? 'text' : '')) }}","type":"string"},{"id":"tg-9","name":"voice_file_id","value":"={{ $json.message.voice?.file_id }}","type":"string"},{"id":"tg-10","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,-592],"id":"8b484e08-d5e5-4340-80bf-89c946f7c27f","name":"InfoDeTG"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"tg-s-1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-2","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-3","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,-624],"id":"6f0f75d9-c132-42cc-be3f-0ee980875c13","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.voice_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2304,-1040],"id":"5e52b997-7f0c-4fad-bcc2-46575604e478","name":"ObtenerAudioTG","webhookId":"2e5361d3-bca7-4eda-a9c5-e20aca6da22e","disabled":true},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.photo_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2336,-448],"id":"8034d11f-c9b2-4de4-aedd-9a61be3fc63d","name":"ObtenerImagenTG","webhookId":"9868fef8-3a28-4872-ac52-78de0257cc31","credentials":{"telegramApi":{"id":"8kbLlsSwqKJx0WsY","name":"CargaImagenes"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2080,-1040],"id":"04b3ed40-2133-4b8d-bbbd-4deec48f4aed","name":"Transcribe a recording","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-1","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-1040],"id":"1644b49a-a46d-402b-b71f-405d01e05058","name":"Edit Fields","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-2","name":"mensaje","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,-688],"id":"a23c6584-0d00-4fd9-b3cb-8e3d417a991b","name":"Edit Fields1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-3","name":"mensaje","value":"={{ $json.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,-880],"id":"f4fc5ae0-32fc-467a-995a-2241070318f7","name":"Edit Fields2","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"Eres el asistente personal de Manuel Cuya"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1664,-880],"id":"cfc0f75d-096f-4a40-b72d-1b3e26dcc209","name":"AI Agent","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1632,-672],"id":"a079841f-b13a-4cbf-80b8-8d6a426342b9","name":"OpenAI Chat Model","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('InfoDeTG').item.json.chat_id + '-' + $('InfoDeTG').item.json.id_mensaje }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1504,-672],"id":"42ae6591-4a98-4d2e-bfbb-86ef285d6ec3","name":"Simple Memory","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1312,-880],"id":"e4ece8c0-3c6a-4e41-8594-66b0f3bfeb42","name":"Enviar a Telegram","webhookId":"2ac788c7-892f-4b98-8c59-409aedc30a35","disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Analiza la Imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2032,-688],"id":"a60d9908-d890-46f8-a01b-73e419affb38","name":"Analyze image1","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.content }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1856,-448],"id":"c1c8cd08-af5d-4f8d-ab8c-3f21d592eeb8","name":"Enviar a Telegram1","webhookId":"4ccc38e5-e9dd-4a39-9619-9b9891a202c7","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"InfoDeTG","type":"main","index":0}]]},"InfoDeTG":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"ObtenerAudioTG","type":"main","index":0}],[{"node":"ObtenerImagenTG","type":"main","index":0}]]},"ObtenerAudioTG":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"ObtenerImagenTG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar a Telegram","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Analyze image1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Enviar a Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5748399d-9849-483f-83db-0db958caabb7","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-10T20:50:08.384Z","createdAt":"2025-11-10T20:50:08.384Z","role":"workflow:owner","workflowId":"NB8klaPs0ZLfKbxy","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}