citas-RnIb8Y9FBtUXqPAP.json
{"updatedAt":"2025-11-03T00:21:25.160Z","createdAt":"2025-11-03T00:21:25.160Z","id":"RnIb8Y9FBtUXqPAP","name":"Citas","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"73ed165f-b345-4ae5-a952-a6424ebc79e2","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-592,464],"webhookId":"f58cafd7-8951-40a0-9d72-5750fe8f8734","typeVersion":1.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3d67f2fa-ab68-4d63-92d5-98e39a74e654","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.message.text }}","rightValue":"/start"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"82403d8b-6194-41ab-a033-06c9d5f2491e","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.text }}","rightValue":"agendar "}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"882a2a60-bf83-4195-8347-3d3fcbc43dec","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.text }}","rightValue":"cancelar "}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"42e95cb5-de43-4724-bd5d-7521740b777d","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.text }}","rightValue":"citas "}]}}]},"options":{"fallbackOutput":"extra"}},"id":"c224af72-d1fe-4348-a229-cb1b360b5ea9","name":"Switch","type":"n8n-nodes-base.switch","position":[-368,416],"typeVersion":3.2},{"parameters":{"jsCode":"// Obtenemos los datos del mensaje como antes\nconst text = $input.first().json.message.text;\nconst parts = text.split(' ');\nconst date = parts[1];\nconst time = parts[2];\nconst name = parts.slice(3).join(' ');\n\n// 1. Define tu zona horaria para evitar errores\nconst zone = 'America/Guayaquil';\n\n// 2. Creamos un objeto de fecha REAL a partir del texto, especificando el formato y la zona horaria\nconst startDateTime = DateTime.fromFormat(`${date} ${time}`, 'yyyy-MM-dd HH:mm', { zone });\n\n// 3. Calculamos la hora de fin (1 hora después) usando el objeto que creamos\nconst endDateTime = startDateTime.plus({ hours: 1 });\n\n// 4. Devolvemos los datos listos para Google Calendar en el formato que necesita (ISO)\nreturn {\n  name: name,\n  summary: `Cita para ${name} - Bot CIAP`,\n  startDateTime: startDateTime.toISO(),\n  endDateTime: endDateTime.toISO()\n};"},"id":"c8090237-262b-4781-9c16-b391d03a254a","name":"Code in JavaScript","type":"n8n-nodes-base.code","position":[-144,80],"typeVersion":2},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":"609c991f2d18dc48becef29cc15681413164f070e6e9c30caef0c54589a88f0d@group.calendar.google.com","cachedResultName":"Citas CIAP"},"start":"={{ $('Code in JavaScript').item.json.startDateTime }}","end":"={{ $('Code in JavaScript').item.json.endDateTime }}","useDefaultReminders":false,"additionalFields":{"attendees":[],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"Cita CIAP agendada con Bot","summary":"={{ $('Code in JavaScript').item.json.summary }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":30}]}},"id":"4f737ea5-74bf-4f6c-b6e6-cf4d5cbfd9e1","name":"Create an event","type":"n8n-nodes-base.googleCalendar","position":[528,-16],"typeVersion":1.3},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=¡Tu cita ha sido agendada con éxito! ✅\n\n👤  *Nombre:* {{ $('Code in JavaScript').item.json.name }}\n\n📅  *Fecha y Hora:* {{ DateTime.fromISO($('Code in JavaScript').item.json.startDateTime).setLocale('es').toFormat(\"EEEE, dd 'de' MMMM 'de' yyyy 'a las' HH:mm\") }}\n\nRecibirás un recordatorio. ¡Te esperamos!","additionalFields":{"parse_mode":"Markdown"}},"id":"6f76eba0-6c6b-4961-aa87-d813faf52d0e","name":"Respuesta de Cita Agendada","type":"n8n-nodes-base.telegram","position":[976,-16],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"¡Hola! 👋 ¡Bienvenido/a al Asistente Virtual de Citas!\n\nEstoy aquí para ayudarte a gestionar tus citas de forma rápida y sencilla.\n\n**🗓️ Para agendar una cita**\nUsa el siguiente formato exacto:\n`agendar AAAA-MM-DD HH:MM Tu Nombre Completo`\n\n*Ejemplo:*\n`agendar 2025-09-22 15:00 Ana Rodriguez`\n\n---\n\n**❌ Para cancelar una cita existente**\nUsa el mismo formato que usaste para agendar:\n`cancelar AAAA-MM-DD HH:MM Tu Nombre Completo`\n\n*Ejemplo:*\n`cancelar 2025-09-22 15:00 Ana Rodriguez`\n\n---\n\n**📋 Para ver tus próximas citas**\nSimplemente envía un mensaje con tu nombre:\n`citas Tu Nombre Completo`\n*Ejemplo: `citas Ana Rodriguez`*\n\nProcesaré tu solicitud y te enviaré una confirmación al instante.\n\nUna vez que envíes tu mensaje, procesaré tu solicitud y te enviaré una confirmación.","additionalFields":{"parse_mode":"Markdown"}},"id":"a081780c-f679-48f8-a1ec-373347709162","name":"Respuesta Bot Inicial","type":"n8n-nodes-base.telegram","position":[-144,-112],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"609c991f2d18dc48becef29cc15681413164f070e6e9c30caef0c54589a88f0d@group.calendar.google.com","cachedResultName":"Citas CIAP"},"returnAll":true,"timeMin":"={{ $json.startDateTime }}","timeMax":"={{ $json.endDateTime }}","options":{}},"id":"ca2a91c8-60b4-47dd-81c2-f55cd37dc1f1","name":"Get many events","type":"n8n-nodes-base.googleCalendar","position":[80,80],"notesInFlow":false,"retryOnFail":false,"typeVersion":1.3,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e9199cc8-ccae-402f-9170-06d16542c4fa","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isEmpty() }}","rightValue":0}]},"options":{}},"id":"1feb3773-ebe6-4fd0-bb97-37570dca494c","name":"If","type":"n8n-nodes-base.if","position":[304,80],"typeVersion":2.2},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Lo siento, ese horario ya no está disponible.\n\n🗓️ Por favor, intenta con otra fecha u hora.","additionalFields":{"parse_mode":"Markdown"}},"id":"14505c17-8cae-4882-88c5-f8d54e436ad2","name":"Respuesta Hora no disponible","type":"n8n-nodes-base.telegram","position":[528,176],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit?usp=drivesdk","cachedResultName":"Citas Agendadas"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit#gid=0","cachedResultName":"Hoja 1"},"columns":{"value":{"id":"={{ $json.id }}","Fecha ISO":"={{ $json.start.dateTime }}","Fecha y hora":"={{ DateTime.fromISO($('Code in JavaScript').item.json.startDateTime).setLocale('es').toFormat(\"EEEE, dd 'de' MMMM 'de' yyyy 'a las' HH:mm\") }}","Nombre Cliente":"={{ $('Code in JavaScript').item.json.name }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"Nombre Cliente","type":"string","display":true,"required":false,"displayName":"Nombre Cliente","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Fecha y hora","type":"string","display":true,"required":false,"displayName":"Fecha y hora","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Fecha ISO","type":"string","display":true,"required":false,"displayName":"Fecha ISO","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ca56be4d-99f3-4840-84cb-8ce111363ac2","name":"Agregar cita en Google Sheets","type":"n8n-nodes-base.googleSheets","position":[752,-16],"typeVersion":4.7},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"🤔 No entendí tu mensaje.\n\nRecuerda los comandos disponibles:\n\n• Envía /start para ver el mensaje de bienvenida.\n• Para agendar una cita, usa el formato:\n`agendar AAAA-MM-DD HH:MM Tu Nombre Completo`","additionalFields":{"parse_mode":"Markdown"}},"id":"5069dfee-cd4e-4270-a8ce-5233c44d7333","name":"Respuesta Bot Defecto","type":"n8n-nodes-base.telegram","position":[-144,1040],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"jsCode":"// Obtenemos los datos del mensaje\nconst text = $input.first().json.message.text;\nconst parts = text.split(' ');\nconst date = parts[1];\nconst time = parts[2];\nconst name = parts.slice(3).join(' ');\n\n// Define tu zona horaria\nconst zone = 'America/Guayaquil'; // Asegúrate que sea la correcta\n\n// Creamos el objeto de fecha para buscar\nconst startDateTime = DateTime.fromFormat(`${date} ${time}`, 'yyyy-MM-dd HH:mm', { zone });\n\n// 3. Calculamos la hora de fin (1 hora después) usando el objeto que creamos\nconst endDateTime = startDateTime.plus({ hours: 1 });\n\n// Devolvemos los datos necesarios para la búsqueda\nreturn {\n  name: name,\n  summary: `Cita para ${name}`, // El título exacto que debe buscar\n  startDateTime: startDateTime.toISO(),\n  endDateTime: endDateTime.toISO()\n};"},"id":"e95abe2f-526e-4959-bb1e-76dc05611994","name":"Code in JavaScript1","type":"n8n-nodes-base.code","position":[-144,464],"typeVersion":2},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"609c991f2d18dc48becef29cc15681413164f070e6e9c30caef0c54589a88f0d@group.calendar.google.com","cachedResultName":"Citas CIAP"},"returnAll":true,"timeMin":"={{ $json.startDateTime }}","timeMax":"={{ $json.endDateTime }}","options":{}},"id":"da024c21-f4ac-43a4-8393-4ddd2f94af8e","name":"Get many events1","type":"n8n-nodes-base.googleCalendar","position":[80,464],"notesInFlow":false,"retryOnFail":false,"typeVersion":1.3,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"61e695f8-6364-4e01-9456-ee5937b41cc5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isEmpty() }}","rightValue":""}]},"options":{}},"id":"b683b221-1243-4647-9b50-03f2e25833ff","name":"If1","type":"n8n-nodes-base.if","position":[304,464],"typeVersion":2.2},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"list","value":"609c991f2d18dc48becef29cc15681413164f070e6e9c30caef0c54589a88f0d@group.calendar.google.com","cachedResultName":"Citas CIAP"},"eventId":"={{ $json.id }}","options":{}},"id":"07427dc6-bdfe-421d-9943-9e3774332270","name":"Delete an event","type":"n8n-nodes-base.googleCalendar","position":[528,560],"typeVersion":1.3},{"parameters":{"operation":"delete","documentId":{"__rl":true,"mode":"list","value":"1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit?usp=drivesdk","cachedResultName":"Citas Agendadas"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit#gid=0","cachedResultName":"Hoja 1"},"startIndex":"={{ $json.row_number }}"},"id":"6c27abd3-e632-4342-9b12-93483dc2fea5","name":"Delete rows or columns from sheet","type":"n8n-nodes-base.googleSheets","position":[976,560],"typeVersion":4.7},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ ¡Tu cita ha sido cancelada con éxito!","additionalFields":{"parse_mode":"Markdown"}},"id":"16cec7fd-7237-4818-a807-cce0761b36f3","name":"Respuesta Cita Cancelada","type":"n8n-nodes-base.telegram","position":[1200,560],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"❌ No se encontró ninguna cita agendada con esos datos. Por favor, verifica la fecha, hora y nombre.","additionalFields":{"parse_mode":"Markdown"}},"id":"e6164af1-77d1-40e3-9491-6b1208b7afbd","name":"Respuesta Cita no encontrada","type":"n8n-nodes-base.telegram","position":[528,368],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"jsCode":"const text = $input.first().json.message.text;\n\n// \"citas\" es la 0, el nombre empieza en la 1\nconst name = text.split(' ').slice(1).join(' '); \n\n// Preparamos el término de búsqueda exacto para el título del evento\nconst searchTerm = `Cita para ${name}`;\n\nreturn {\n  name: name,\n  searchTerm: searchTerm\n};"},"id":"e569f0c2-05a3-4a31-bb58-53d1ed3d4448","name":"Code in JavaScript2","type":"n8n-nodes-base.code","position":[-144,848],"typeVersion":2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit?usp=drivesdk","cachedResultName":"Citas Agendadas"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit#gid=0","cachedResultName":"Hoja 1"},"filtersUI":{"values":[{"lookupColumn":"id","lookupValue":"={{ $('If1').item.json.id }}"}]},"options":{}},"id":"38f9deb2-1ff4-4e12-9d44-879b9e04f432","name":"Buscar cita agendada","type":"n8n-nodes-base.googleSheets","position":[752,560],"typeVersion":4.7},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit?usp=drivesdk","cachedResultName":"Citas Agendadas"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zDo2juIh2YkYZx1erqdhu5y5WC43iM0GV8LpMqov3UM/edit#gid=0","cachedResultName":"Hoja 1"},"filtersUI":{"values":[{"lookupColumn":"Nombre Cliente","lookupValue":"={{ $json.name }}"}]},"options":{}},"id":"e39c035a-b11e-41e9-810a-6e0b85cf8a25","name":"Buscar citas de cliente","type":"n8n-nodes-base.googleSheets","position":[80,848],"typeVersion":4.7,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"62047214-0958-4dcb-9b5f-0ccc359ba9de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isEmpty() }}","rightValue":""}]},"options":{}},"id":"081a7897-0c7f-4e5f-8954-a32d6b0be7a5","name":"If2","type":"n8n-nodes-base.if","position":[304,848],"typeVersion":2.2},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=🤔 No encontré ninguna cita futura agendada para  {{ $('Code in JavaScript2').item.json.name }}. ","additionalFields":{"parse_mode":"Markdown"}},"id":"2b316033-c676-4c32-9d68-c92029214647","name":"Respuesta Citas no encontradas","type":"n8n-nodes-base.telegram","position":[528,752],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"jsCode":"// 1. Recibe los datos que vienen del nodo IF.\n// Ya sabemos que no vienen vacíos, así que los procesamos directamente.\nconst citas = $items().map(item => item.json);\n\n// 2. Obtenemos la fecha y hora actual para comparar.\nconst ahora = DateTime.now();\n\n// 3. Filtramos para quedarnos solo con las citas futuras.\nconst citasFuturas = citas.filter(cita => {\n  // Convertimos la \"Fecha ISO\" de la hoja de cálculo a un objeto de fecha real.\n  const fechaCita = DateTime.fromISO(cita[\"Fecha ISO\"]);\n  // Devolvemos 'true' solo si la fecha de la cita es posterior a ahora.\n  return fechaCita > ahora;\n});\n\n// 4. Verificamos si, después de filtrar, nos quedamos sin citas.\nif (citasFuturas.length === 0) {\n  // Tomamos el nombre del cliente de los datos originales para el mensaje.\n  const nombreCliente = citas[0][\"Nombre Cliente\"];\n  return {\n    message: `Hola, ${nombreCliente}. 👋 Veo que tienes citas registradas en nuestro sistema, pero ninguna será en los próximos días.`\n  };\n}\n\n// 5. Si SÍ hay citas futuras, construimos el mensaje de respuesta.\nconst nombreCliente = citasFuturas[0][\"Nombre Cliente\"];\nlet mensaje = `¡Hola, ${nombreCliente}! 👋 Aquí tienes un resumen de tus próximas citas:\\n\\n`;\n\nfor (const cita of citasFuturas) {\n  // Usamos la columna \"Fecha y hora\" que ya tiene el formato amigable.\n  mensaje += `🗓️ ${cita[\"Fecha y hora\"]}\\n`;\n}\n\n// Devolvemos el mensaje final listo para ser enviado.\nreturn {\n  message: mensaje\n};"},"id":"02caa29e-9809-4b3d-ab42-727c50ffc809","name":"Code in JavaScript3","type":"n8n-nodes-base.code","position":[528,944],"typeVersion":2},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"0bb8d88f-0195-4a65-81ba-b7d5ac80817a","name":"Respuesta de Cita Agendada1","type":"n8n-nodes-base.telegram","position":[752,944],"webhookId":"fbbaa02f-9ecf-42e0-ba21-54bc354c7733","typeVersion":1.2},{"parameters":{"content":"## Start Point \nTelegram Trigger to listen the new messages from the users","height":128,"width":256,"color":4},"id":"f4901ae5-9893-4f3f-ac0e-e4f579a15913","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-928,672],"typeVersion":1},{"parameters":{"content":"## Commands Options \n**Switch** for control the command send for the user (/help, agendar, cancelar, citas)","height":128,"width":256,"color":5},"id":"e4e0ff12-c782-4d4f-92f8-18cb2664b8b5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-384,464],"typeVersion":1},{"parameters":{"content":"## Help Response\nInformation about the Bot's functions","height":112,"width":208},"id":"746dc0c6-0043-4e4a-85c2-f69ead5f8782","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[320,-112],"typeVersion":1},{"parameters":{"content":"## \"Agendar\" Module \nFlow to schedule a appointment with Telegram Bot and register on Google Calendar and Google Sheets","height":112,"width":464,"color":4},"id":"f1035e08-2f96-4337-a894-0ce9519bd3d9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[352,192],"typeVersion":1},{"parameters":{"content":"## \"Cancelar\" Module \nFlow to cancel a appointment with Telegram Bot and register this change deleting on Google Calendar and Google Sheets","height":112,"width":464,"color":3},"id":"c6932155-7c2f-47af-a4dc-8859e0709825","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[384,640],"typeVersion":1},{"parameters":{"content":"## \"Citas\" Module \nFlow to check all the appointments from a user","height":80,"width":464,"color":2},"id":"0eb3a1be-848d-4810-a0c4-30e8738e5ffc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[416,1120],"typeVersion":1},{"parameters":{"content":"## Default Response \nBot's Response for unexpected messages","height":96,"width":320,"color":2},"id":"775f8487-48e1-44a3-82c0-0eb8a2a8d882","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[240,1504],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Respuesta Hora no disponible","type":"main","index":0}]]},"If1":{"main":[[{"node":"Respuesta Cita no encontrada","type":"main","index":0}],[{"node":"Delete an event","type":"main","index":0}]]},"If2":{"main":[[{"node":"Respuesta Citas no encontradas","type":"main","index":0}],[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Respuesta Bot Inicial","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Respuesta Bot Defecto","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Agregar cita en Google Sheets","type":"main","index":0}]]},"Delete an event":{"main":[[{"node":"Buscar cita agendada","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Buscar citas de cliente","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Respuesta de Cita Agendada1","type":"main","index":0}]]},"Buscar cita agendada":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Buscar citas de cliente":{"main":[[{"node":"If2","type":"main","index":0}]]},"Agregar cita en Google Sheets":{"main":[[{"node":"Respuesta de Cita Agendada","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Respuesta Cita Cancelada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8f6ebdd0-52e0-4f12-9bf4-d1fea35eef36","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-03T00:21:25.178Z","createdAt":"2025-11-03T00:21:25.178Z","role":"workflow:owner","workflowId":"RnIb8Y9FBtUXqPAP","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}