diaslibres-webhooks-8zkupgupDpI2Y473.json
{"updatedAt":"2025-10-26T11:42:34.000Z","createdAt":"2025-10-26T11:41:14.650Z","id":"8zkupgupDpI2Y473","name":"DiasLibres WebHooks","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Solicitud de Vacaciones","formDescription":"Aca puedes pedir tus vacaciones","formFields":{"values":[{"fieldLabel":"Nombre Completo","placeholder":"Nombre Completo del Empleado","requiredField":true},{"fieldLabel":"Correo Electrónico","fieldType":"email","placeholder":"Correo Electrónico del Empleado","requiredField":true},{"fieldLabel":"Fecha de Inicio de Vacaciones","fieldType":"date","requiredField":true},{"fieldLabel":"Fecha de Fin de Vacaciones","fieldType":"date","requiredField":true},{"fieldLabel":"Comentarios","placeholder":"Comentarios Adicionales de la Solicitud"}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"formSubmittedText":"Información enviada correctamente"}},"customCss":"/* ================================\n   Tema Gris Intermedio + Rojo (con gradientes)\n   ================================ */\n\n:root {\n  /* Tipografía */\n  --font-family: 'Open Sans', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-body: 12px;\n  --font-size-label: 14px;\n  --font-size-header: 20px;\n  --font-size-paragraph: 14px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-html-h1: 28px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n\n  /* Paleta gris intermedia + rojo */\n  --gray-50:  #f3f4f5;\n  --gray-100: #e2e4e6;\n  --gray-200: #c8cbcf;\n  --gray-300: #aeb2b7;\n  --gray-400: #90959c;\n  --gray-500: #74787f;   /* tono base: gris acero */\n  --gray-600: #5a5e64;\n  --gray-700: #44474c;\n  --gray-800: #33363a;\n  --gray-900: #252729;\n\n  --red-300: #ff7b7b;\n  --red-500: #e63946;\n  --red-600: #d62828;\n  --red-700: #b71c1c;\n  --red-800: #8b0000;\n\n  --white: #ffffff;\n\n  /* Colores principales */\n  --color-background: var(--gray-200);\n  --color-card-bg: var(--gray-100);\n  --color-card-border: var(--gray-400);\n  --color-card-shadow: rgba(0, 0, 0, 0.18);\n\n  --color-header: var(--gray-900);\n  --color-label: var(--gray-700);\n  --color-input-border: var(--gray-500);\n  --color-input-text: var(--gray-900);\n  --color-focus-border: var(--red-500);\n\n  --color-link: var(--red-600);\n  --color-submit-btn-bg: var(--red-600);\n  --color-submit-btn-text: var(--white);\n\n  --color-error: var(--red-600);\n  --color-required: var(--red-500);\n  --color-html-text: var(--gray-800);\n  --color-html-link: var(--red-600);\n\n  /* Gradientes */\n  --gradient-bg: linear-gradient(135deg, var(--gray-300), var(--gray-500));\n  --gradient-header: linear-gradient(135deg, var(--gray-\n"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1376,-304],"id":"8561d7e1-abfd-4639-ae28-286458e23c0c","name":"Nueva Solicitud","webhookId":"96306caa-913f-4faa-a077-8bf794fdf0bd"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"email\": \"{{ $json['Correo Electrónico'] }}\",\n    \"fullName\": \"{{ $json['Nombre Completo'] }}\",\n    \"startDate\": \"{{ $json['Fecha de Inicio de Vacaciones'] }}\",\n    \"endDate\": \"{{ $json['Fecha de Fin de Vacaciones'] }}\",\n    \"comments\": \"{{ $json.Comentarios }}\",\n    \"daysRequested\": {{ \n\n(\n  $json['Fecha de Fin de Vacaciones'].toDateTime()\n  - $json['Fecha de Inicio de Vacaciones'].toDateTime()\n)\n/\n( 1000 * 60 * 60 * 24)\n\n\n}}\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-304],"id":"7b57802d-a102-4ce3-8ed6-0b023b92b206","name":"Extraer Variables de la Solicitud"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95a4e577-1628-4de1-824d-96847726bf8c","leftValue":"={{ $now }}","rightValue":"={{ $json.startDate.toDateTime().plus(7,'days') }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-304],"id":"d7fe56f2-d2f8-455a-b6e3-8a57ec24d88e","name":"¿Es mayor a hoy + 7 dias?"},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Rechazo de Solicitud","message":"=<h1>Envie la solicitud de nuevo</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[192,-208],"id":"0a428372-3b56-4f14-88af-44cacc21ce01","name":"Enviar Mensaje de Rechazo","webhookId":"850e796d-8040-4818-bf63-443c07ad7ad4","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"Se debe solcicitar con 7 dias de anticipación\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"f8774cd9-c23f-444d-881b-5ab576ed514f","name":"Añadir error - TiempoSolicitud"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f309f26-203b-4d88-961e-cc7d0b525b4d","leftValue":"={{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,-400],"id":"5347bc50-6d5a-4029-94f0-71eb34e183c0","name":"¿Fechas son correctas?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"Las fechas de inicio y fin no son correctas\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-208],"id":"52cb5151-a250-42c4-9ea4-f145a2b91f55","name":"Añadir error - Fechas No son Correctas"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"days_off","mode":"list","cachedResultName":"days_off"},"limit":1,"where":{"values":[{"column":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,-496],"id":"d04c6e5e-f4e4-4244-8664-dd93b4b063af","name":"Obtener Dias Libres","alwaysOutputData":true,"credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78d056c8-ad0d-4fed-892a-4d624d9b5ed4","leftValue":"={{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","rightValue":"={{ $json.vacation_days }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,-496],"id":"d82a8c81-a1d8-46fa-bc0b-f7a542ee5708","name":"¿Tiene suficiente vacaciones?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"No tiene suficiente dias de vacaciones, solo tiene {{ $json.vacation_days }} dias disponibles\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-400],"id":"1a103887-aa85-4c2e-bbdc-e0e127c160fb","name":"Añadir error - No cuenta con Dias Diponibles"},{"parameters":{"authentication":"webhook","content":"=## Solicitud nuyeva:\nEmpleado : {{ $('Extraer Variables de la Solicitud').item.json.fullName }}\nCorreo: {{ $('Extraer Variables de la Solicitud').item.json.email }}\n\nFecha Inicio: {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nFecha fin: {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\n\n### Comentarios\n{{ $('Extraer Variables de la Solicitud').item.json.comments }}\n\n## Aprobar o Rechazar:\nPara continuar [click aqui]({{ $execution.resumeFormUrl }})","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-32,-592],"id":"f3131ff3-4f57-47bf-a5ae-8a23659406dd","name":"Enviar Mensaje RRHH","webhookId":"6c8e565b-75d8-47c9-a270-9661433315ac","credentials":{"discordWebhookApi":{"id":"f6DIEI9QEdXA8Yg6","name":"Discord RRHH Webhook"}}},{"parameters":{"resume":"form","formTitle":"Aprobar Solicitud","formDescription":"=El empleado {{ $('Extraer Variables de la Solicitud').item.json.fullName }} ha solicitado vacaciones:\n\nInicio : {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nFin    : {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\nDias   : {{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","formFields":{"values":[{"fieldLabel":"Aprobar o Rechazar","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Aprobar"},{"option":"Rechazar"}]},"requiredField":true},{"fieldLabel":"Motivo","fieldType":"textarea","placeholder":"Motivo por el cual no se puede aprobar"}]},"limitWaitTime":true,"resumeAmount":2,"resumeUnit":"days","options":{"appendAttribution":false}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,-592],"id":"955a3199-bcda-4e27-ba0f-58c24d751f2c","name":"Espera Aprobacion","webhookId":"ab29d959-a193-4871-84f4-f21d166f4dfc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4c50305-d283-4bca-8c21-afbfd4bd7e50","leftValue":"={{ $json['Aprobar o Rechazar'] }}","rightValue":"Aprobar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,-592],"id":"79b7a771-1f05-4875-adb0-5c0e02f836bd","name":"¿RRHH Aprueba Solicitud?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"{{ $json.Motivo }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-496],"id":"cf17ddb8-9241-4fe2-b866-febd6df45eca","name":"Añadir error - RRHHRechazó Solicitud"},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Rechazo de Solicitud","message":"=<h1>RRHH Rechazó la Solicitud de Vacaciones</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[864,-496],"id":"f2fc8d43-1b2b-4fda-b751-6eb568a05a2e","name":"Enviar Mensaje Rechazo RRHH","webhookId":"531230c3-d177-47e2-a127-566609f3d385","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"0e371f5b58c38ad65b4f68c68352664e5beba3d5550a12a110b5722e3bbca5c7@group.calendar.google.com","mode":"list","cachedResultName":"Vacaniones n8n"},"start":"={{ $('Extraer Variables de la Solicitud').item.json.startDate }}","end":"={{ $('Extraer Variables de la Solicitud').item.json.endDate }}","additionalFields":{"summary":"=Vacaciones de {{ $('Extraer Variables de la Solicitud').item.json.fullName }}\n\nTiempo Solicitado: {{ $('Extraer Variables de la Solicitud').item.json.daysRequested }} días"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[640,-688],"id":"e1a95aa3-750e-4afb-8c3a-5821db59e5e4","name":"Crear Evento Vacaciones","credentials":{"googleCalendarOAuth2Api":{"id":"sX57ATAsJNQSKVNk","name":"Google Calendar account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"days_off","mode":"list","cachedResultName":"days_off"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Obtener Dias Libres').item.json.id }}","vacation_days":"={{ $('Obtener Dias Libres').item.json.vacation_days - $('Extraer Variables de la Solicitud').item.json.daysRequested}}","sick_day":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vacation_days","displayName":"vacation_days","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sick_day","displayName":"sick_day","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,-688],"id":"1f0295ba-854f-45ee-89e4-d2c3081729ed","name":"Restar Días de Vacaciones","alwaysOutputData":true,"credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Solicitud Aprobada","message":"=<h1>RRHH Aprobó la Solicitud de Vacaciones</h1>\n\n<p>\nLas vacaciones han sido aprobadas:\n</p>\n\n<p>\nDesde: {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nHasta: {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1088,-688],"id":"f58b0356-e994-4f0c-9284-27d0d5567387","name":"Enviar Mensaje Aprobacion Vacaciones","webhookId":"32667a73-290e-439b-b7f5-7a4fbb82cbc2","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}}],"connections":{"Nueva Solicitud":{"main":[[{"node":"Extraer Variables de la Solicitud","type":"main","index":0}]]},"Extraer Variables de la Solicitud":{"main":[[{"node":"¿Es mayor a hoy + 7 dias?","type":"main","index":0}]]},"¿Es mayor a hoy + 7 dias?":{"main":[[{"node":"¿Fechas son correctas?","type":"main","index":0}],[{"node":"Añadir error - TiempoSolicitud","type":"main","index":0}]]},"Añadir error - TiempoSolicitud":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"¿Fechas son correctas?":{"main":[[{"node":"Obtener Dias Libres","type":"main","index":0}],[{"node":"Añadir error - Fechas No son Correctas","type":"main","index":0}]]},"Añadir error - Fechas No son Correctas":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"Obtener Dias Libres":{"main":[[{"node":"¿Tiene suficiente vacaciones?","type":"main","index":0}]]},"¿Tiene suficiente vacaciones?":{"main":[[{"node":"Enviar Mensaje RRHH","type":"main","index":0}],[{"node":"Añadir error - No cuenta con Dias Diponibles","type":"main","index":0}]]},"Añadir error - No cuenta con Dias Diponibles":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"Enviar Mensaje RRHH":{"main":[[{"node":"Espera Aprobacion","type":"main","index":0}]]},"Espera Aprobacion":{"main":[[{"node":"¿RRHH Aprueba Solicitud?","type":"main","index":0}]]},"¿RRHH Aprueba Solicitud?":{"main":[[{"node":"Crear Evento Vacaciones","type":"main","index":0}],[{"node":"Añadir error - RRHHRechazó Solicitud","type":"main","index":0}]]},"Añadir error - RRHHRechazó Solicitud":{"main":[[{"node":"Enviar Mensaje Rechazo RRHH","type":"main","index":0}]]},"Crear Evento Vacaciones":{"main":[[{"node":"Restar Días de Vacaciones","type":"main","index":0}]]},"Restar Días de Vacaciones":{"main":[[{"node":"Enviar Mensaje Aprobacion Vacaciones","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4756edfe-d569-4315-ae9b-cf9e58e6c506","triggerCount":0,"shared":[{"updatedAt":"2025-10-26T11:41:14.660Z","createdAt":"2025-10-26T11:41:14.660Z","role":"workflow:owner","workflowId":"8zkupgupDpI2Y473","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}