diaslibres-uvPZgrAeaXnPUDJT.json
{"updatedAt":"2025-10-26T11:26:52.000Z","createdAt":"2025-10-22T04:24:40.214Z","id":"uvPZgrAeaXnPUDJT","name":"DiasLibres","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Solicitud de Vacaciones","formDescription":"Aca puedes pedir tus vacaciones","formFields":{"values":[{"fieldLabel":"Nombre Completo","placeholder":"Nombre Completo del Empleado","requiredField":true},{"fieldLabel":"Correo Electrónico","fieldType":"email","placeholder":"Correo Electrónico del Empleado","requiredField":true},{"fieldLabel":"Fecha de Inicio de Vacaciones","fieldType":"date","requiredField":true},{"fieldLabel":"Fecha de Fin de Vacaciones","fieldType":"date","requiredField":true},{"fieldLabel":"Comentarios","placeholder":"Comentarios Adicionales de la Solicitud"}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"formSubmittedText":"Información enviada correctamente"}},"customCss":"/* ================================\n   Tema Gris Intermedio + Rojo (con gradientes)\n   ================================ */\n\n:root {\n  /* Tipografía */\n  --font-family: 'Open Sans', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-body: 12px;\n  --font-size-label: 14px;\n  --font-size-header: 20px;\n  --font-size-paragraph: 14px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-html-h1: 28px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n\n  /* Paleta gris intermedia + rojo */\n  --gray-50:  #f3f4f5;\n  --gray-100: #e2e4e6;\n  --gray-200: #c8cbcf;\n  --gray-300: #aeb2b7;\n  --gray-400: #90959c;\n  --gray-500: #74787f;   /* tono base: gris acero */\n  --gray-600: #5a5e64;\n  --gray-700: #44474c;\n  --gray-800: #33363a;\n  --gray-900: #252729;\n\n  --red-300: #ff7b7b;\n  --red-500: #e63946;\n  --red-600: #d62828;\n  --red-700: #b71c1c;\n  --red-800: #8b0000;\n\n  --white: #ffffff;\n\n  /* Colores principales */\n  --color-background: var(--gray-200);\n  --color-card-bg: var(--gray-100);\n  --color-card-border: var(--gray-400);\n  --color-card-shadow: rgba(0, 0, 0, 0.18);\n\n  --color-header: var(--gray-900);\n  --color-label: var(--gray-700);\n  --color-input-border: var(--gray-500);\n  --color-input-text: var(--gray-900);\n  --color-focus-border: var(--red-500);\n\n  --color-link: var(--red-600);\n  --color-submit-btn-bg: var(--red-600);\n  --color-submit-btn-text: var(--white);\n\n  --color-error: var(--red-600);\n  --color-required: var(--red-500);\n  --color-html-text: var(--gray-800);\n  --color-html-link: var(--red-600);\n\n  /* Gradientes */\n  --gradient-bg: linear-gradient(135deg, var(--gray-300), var(--gray-500));\n  --gradient-header: linear-gradient(135deg, var(--gray-\n"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1376,-304],"id":"f81b20a6-e814-40ed-83cb-6c69ccb0b941","name":"Nueva Solicitud","webhookId":"c0d064d3-41cd-4649-a4fd-5b0ba3c15143"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"email\": \"{{ $json['Correo Electrónico'] }}\",\n    \"fullName\": \"{{ $json['Nombre Completo'] }}\",\n    \"startDate\": \"{{ $json['Fecha de Inicio de Vacaciones'] }}\",\n    \"endDate\": \"{{ $json['Fecha de Fin de Vacaciones'] }}\",\n    \"comments\": \"{{ $json.Comentarios }}\",\n    \"daysRequested\": {{ \n\n(\n  $json['Fecha de Fin de Vacaciones'].toDateTime()\n  - $json['Fecha de Inicio de Vacaciones'].toDateTime()\n)\n/\n( 1000 * 60 * 60 * 24)\n\n\n}}\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-304],"id":"1dfe8bd3-f5b1-46e9-98d7-d146a61928fe","name":"Extraer Variables de la Solicitud"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95a4e577-1628-4de1-824d-96847726bf8c","leftValue":"={{ $now }}","rightValue":"={{ $json.startDate.toDateTime().plus(7,'days') }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-304],"id":"71be5563-b0ba-4abb-bd5e-768d3b7e8fa2","name":"¿Es mayor a hoy + 7 dias?"},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Rechazo de Solicitud","message":"=<h1>Envie la solicitud de nuevo</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[192,-208],"id":"5982c16d-92b9-4baa-91db-ef1e967a17e6","name":"Enviar Mensaje de Rechazo","webhookId":"4d3ff7a0-df28-4856-9f9f-5d292a7ef57a","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"Se debe solcicitar con 7 dias de anticipación\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"77db9dd8-6ebb-4784-90d9-d27677fd37ac","name":"Añadir error - TiempoSolicitud"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f309f26-203b-4d88-961e-cc7d0b525b4d","leftValue":"={{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,-400],"id":"2ea4f09b-edbe-4f46-b1c7-b10287b328f6","name":"¿Fechas son correctas?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"Las fechas de inicio y fin no son correctas\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-208],"id":"234c0f68-7acc-446b-94a4-240dbc267336","name":"Añadir error - Fechas No son Correctas"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"days_off","mode":"list","cachedResultName":"days_off"},"limit":1,"where":{"values":[{"column":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,-496],"id":"32110c26-dd5e-4f08-93c2-32ae1f57cddb","name":"Obtener Dias Libres","alwaysOutputData":true,"credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78d056c8-ad0d-4fed-892a-4d624d9b5ed4","leftValue":"={{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","rightValue":"={{ $json.vacation_days }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,-496],"id":"73e2af96-c162-4af6-a28f-7b5b6b62868d","name":"¿Tiene suficiente vacaciones?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"No tiene suficiente dias de vacaciones, solo tiene {{ $json.vacation_days }} dias disponibles\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-400],"id":"3caf1c23-c2c8-4a01-a620-095f36f4bb32","name":"Añadir error - No cuenta con Dias Diponibles"},{"parameters":{"authentication":"webhook","content":"=## Solicitud nuyeva:\nEmpleado : {{ $('Extraer Variables de la Solicitud').item.json.fullName }}\nCorreo: {{ $('Extraer Variables de la Solicitud').item.json.email }}\n\nFecha Inicio: {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nFecha fin: {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\n\n### Comentarios\n{{ $('Extraer Variables de la Solicitud').item.json.comments }}\n\n## Aprobar o Rechazar:\nPara continuar [click aqui]({{ $execution.resumeFormUrl }})","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-32,-592],"id":"f14c3969-9ada-4327-8690-bbaad1d73662","name":"Enviar Mensaje RRHH","webhookId":"0841e1e5-52ce-490f-8be3-f38238ee0a83","credentials":{"discordWebhookApi":{"id":"f6DIEI9QEdXA8Yg6","name":"Discord RRHH Webhook"}}},{"parameters":{"resume":"form","formTitle":"Aprobar Solicitud","formDescription":"=El empleado {{ $('Extraer Variables de la Solicitud').item.json.fullName }} ha solicitado vacaciones:\n\nInicio : {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nFin    : {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\nDias   : {{ $('Extraer Variables de la Solicitud').item.json.daysRequested }}","formFields":{"values":[{"fieldLabel":"Aprobar o Rechazar","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Aprobar"},{"option":"Rechazar"}]},"requiredField":true},{"fieldLabel":"Motivo","fieldType":"textarea","placeholder":"Motivo por el cual no se puede aprobar"}]},"limitWaitTime":true,"resumeAmount":2,"resumeUnit":"days","options":{"appendAttribution":false}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,-592],"id":"b923b0dc-8e47-4f83-a333-64693002b371","name":"Espera Aprobacion","webhookId":"65c17edd-fa7e-4519-aaa2-ff7f4310bcdf"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4c50305-d283-4bca-8c21-afbfd4bd7e50","leftValue":"={{ $json['Aprobar o Rechazar'] }}","rightValue":"Aprobar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,-592],"id":"fb7e1849-0d57-4278-a524-86012802c541","name":"¿RRHH Aprueba Solicitud?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": false,\n  \"message\": \"{{ $json.Motivo }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-496],"id":"94b62163-3c5f-4359-b375-4c9cb27c09ce","name":"Añadir error - RRHHRechazó Solicitud"},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Rechazo de Solicitud","message":"=<h1>RRHH Rechazó la Solicitud de Vacaciones</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[864,-496],"id":"b4bb718e-49f6-4e18-832e-7de7dfa1f169","name":"Enviar Mensaje Rechazo RRHH","webhookId":"4d3ff7a0-df28-4856-9f9f-5d292a7ef57a","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"0e371f5b58c38ad65b4f68c68352664e5beba3d5550a12a110b5722e3bbca5c7@group.calendar.google.com","mode":"list","cachedResultName":"Vacaniones n8n"},"start":"={{ $('Extraer Variables de la Solicitud').item.json.startDate }}","end":"={{ $('Extraer Variables de la Solicitud').item.json.endDate }}","additionalFields":{"summary":"=Vacaciones de {{ $('Extraer Variables de la Solicitud').item.json.fullName }}\n\nTiempo Solicitado: {{ $('Extraer Variables de la Solicitud').item.json.daysRequested }} días"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[640,-688],"id":"8a3e78cf-7095-4bd3-a468-cd7e596142a1","name":"Crear Evento Vacaciones","credentials":{"googleCalendarOAuth2Api":{"id":"sX57ATAsJNQSKVNk","name":"Google Calendar account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"days_off","mode":"list","cachedResultName":"days_off"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Obtener Dias Libres').item.json.id }}","vacation_days":"={{ $('Obtener Dias Libres').item.json.vacation_days - $('Extraer Variables de la Solicitud').item.json.daysRequested}}","sick_day":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vacation_days","displayName":"vacation_days","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sick_day","displayName":"sick_day","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,-688],"id":"4b6f45bc-c97f-444a-bf53-5e486442b463","name":"Restar Días de Vacaciones","alwaysOutputData":true,"credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"sendTo":"={{ $('Extraer Variables de la Solicitud').item.json.email }}","subject":"Solicitud Aprobada","message":"=<h1>RRHH Aprobó la Solicitud de Vacaciones</h1>\n\n<p>\nLas vacaciones han sido aprobadas:\n</p>\n\n<p>\nDesde: {{ $('Extraer Variables de la Solicitud').item.json.startDate }}\nHasta: {{ $('Extraer Variables de la Solicitud').item.json.endDate }}\n</p>\n\n<p>\nAtentamenmte RRHH\n</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1088,-688],"id":"d220011e-4002-4411-9a2d-e903e4a3e2cc","name":"Enviar Mensaje Aprobacion Vacaciones","webhookId":"4d3ff7a0-df28-4856-9f9f-5d292a7ef57a","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}}],"connections":{"Nueva Solicitud":{"main":[[{"node":"Extraer Variables de la Solicitud","type":"main","index":0}]]},"Extraer Variables de la Solicitud":{"main":[[{"node":"¿Es mayor a hoy + 7 dias?","type":"main","index":0}]]},"¿Es mayor a hoy + 7 dias?":{"main":[[{"node":"¿Fechas son correctas?","type":"main","index":0}],[{"node":"Añadir error - TiempoSolicitud","type":"main","index":0}]]},"Añadir error - TiempoSolicitud":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"¿Fechas son correctas?":{"main":[[{"node":"Obtener Dias Libres","type":"main","index":0}],[{"node":"Añadir error - Fechas No son Correctas","type":"main","index":0}]]},"Añadir error - Fechas No son Correctas":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"Obtener Dias Libres":{"main":[[{"node":"¿Tiene suficiente vacaciones?","type":"main","index":0}]]},"¿Tiene suficiente vacaciones?":{"main":[[{"node":"Enviar Mensaje RRHH","type":"main","index":0}],[{"node":"Añadir error - No cuenta con Dias Diponibles","type":"main","index":0}]]},"Añadir error - No cuenta con Dias Diponibles":{"main":[[{"node":"Enviar Mensaje de Rechazo","type":"main","index":0}]]},"Enviar Mensaje RRHH":{"main":[[{"node":"Espera Aprobacion","type":"main","index":0}]]},"Espera Aprobacion":{"main":[[{"node":"¿RRHH Aprueba Solicitud?","type":"main","index":0}]]},"¿RRHH Aprueba Solicitud?":{"main":[[{"node":"Crear Evento Vacaciones","type":"main","index":0}],[{"node":"Añadir error - RRHHRechazó Solicitud","type":"main","index":0}]]},"Añadir error - RRHHRechazó Solicitud":{"main":[[{"node":"Enviar Mensaje Rechazo RRHH","type":"main","index":0}]]},"Crear Evento Vacaciones":{"main":[[{"node":"Restar Días de Vacaciones","type":"main","index":0}]]},"Restar Días de Vacaciones":{"main":[[{"node":"Enviar Mensaje Aprobacion Vacaciones","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Nueva Solicitud":[{"json":{"Nombre Completo":"jorge","Correo Electrónico":"fmcuya@gmail.com","Fecha de Inicio de Vacaciones":"2025-10-15","Fecha de Fin de Vacaciones":"2025-10-16","Comentarios":"sssssssssssssss","submittedAt":"2025-10-24T08:37:13.788-04:00","formMode":"test"}}],"Espera Aprobacion":[{"json":{"Aprobar o Rechazar":"Aprobar","Motivo":"","submittedAt":"2025-10-26T03:03:04.672Z","formMode":"test"}}]},"versionId":"1a971145-2282-4231-bc89-56795cb5330c","triggerCount":0,"shared":[{"updatedAt":"2025-10-22T04:24:40.221Z","createdAt":"2025-10-22T04:24:40.221Z","role":"workflow:owner","workflowId":"uvPZgrAeaXnPUDJT","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}