dpwc-login-with-airtop-(template)-fvr9nQsiPYlwijsZ.json
{"updatedAt":"2025-10-30T03:15:07.000Z","createdAt":"2025-10-29T19:55:27.341Z","id":"fvr9nQsiPYlwijsZ","name":"DPWC Login with Airtop (Template)","active":false,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"usuario","stringValue":"mcuya"},{"name":"contraseña","stringValue":"F3rr3r$$1972$$"},{"name":"pagina","stringValue":"https://www.dpwc.com.pe/Account/LogOn?ReturnUrl=%2fMain"}]},"options":{}},"id":"79b1a21e-ee1b-4f2a-98c0-6de03057d57a","name":"Set (URL & Creds)","type":"n8n-nodes-base.set","typeVersion":3,"position":[-1008,96]},{"parameters":{"profileName":"dportn8n","additionalFields":{}},"id":"00fcf294-2b14-4320-90b1-020b7b385cc5","name":"Airtop: Create session","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[-784,96],"credentials":{"airtopApi":{"id":"AHHjkQdSzyJ3icQC","name":"Airtop account"}}},{"parameters":{"resource":"window","url":"={{ $('Set (URL & Creds)').item.json.pagina }}","getLiveView":true,"additionalFields":{}},"id":"7ae120de-38a7-403c-88c4-65550ced3963","name":"Airtop: Create window","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[-560,96],"credentials":{"airtopApi":{"id":"AHHjkQdSzyJ3icQC","name":"Airtop account"}}},{"parameters":{"resource":"interaction","operation":"fill","formData":"={{ $('Set (URL & Creds)').item.json.usuario }}"},"id":"e85f5027-781a-40f1-8121-ef7c19e3c7e7","name":"Airtop: Type (username)","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[-336,0],"credentials":{"airtopApi":{"id":"AHHjkQdSzyJ3icQC","name":"Airtop account"}}},{"parameters":{"resource":"interaction","operation":"fill","formData":"={{ $('Set (URL & Creds)').item.json['contraseña'] }}"},"id":"b11c4b0d-48e3-4cd0-89c2-da9caae7a0fb","name":"Airtop: Type (password)","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[-336,192],"credentials":{"airtopApi":{"id":"AHHjkQdSzyJ3icQC","name":"Airtop account"}}},{"parameters":{"resource":"interaction","elementDescription":"Iniciar sesión","additionalFields":{}},"id":"2794790f-e3ab-499e-acfc-7b91485c7187","name":"Airtop: Click (submit)","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[-112,96],"credentials":{"airtopApi":{"id":"AHHjkQdSzyJ3icQC","name":"Airtop account"}}},{"parameters":{"operation":"query"},"id":"12a3fd2a-f513-499d-9e41-c9ec330df96e","name":"Airtop: Query (validate)","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[112,96],"disabled":true},{"parameters":{"operation":"endSession"},"id":"767e062b-1904-4ec4-9d86-6597c611bfa4","name":"Airtop: End session","type":"n8n-nodes-base.airtop","typeVersion":1,"position":[336,96],"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1232,96],"id":"7c29020a-1332-48c0-9cd9-eb5176b4f2dd","name":"When clicking ‘Execute workflow’"}],"connections":{"Set (URL & Creds)":{"main":[[{"node":"Airtop: Create session","type":"main","index":0}]]},"Airtop: Create session":{"main":[[{"node":"Airtop: Create window","type":"main","index":0}]]},"Airtop: Create window":{"main":[[{"node":"Airtop: Type (username)","type":"main","index":0},{"node":"Airtop: Type (password)","type":"main","index":0}]]},"Airtop: Type (username)":{"main":[[{"node":"Airtop: Click (submit)","type":"main","index":0}]]},"Airtop: Type (password)":{"main":[[{"node":"Airtop: Click (submit)","type":"main","index":0}]]},"Airtop: Click (submit)":{"main":[[{"node":"Airtop: Query (validate)","type":"main","index":0}]]},"Airtop: Query (validate)":{"main":[[{"node":"Airtop: End session","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set (URL & Creds)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Airtop: Create session":[{"json":{"sessionId":"08d8add5-e717-4b30-96f0-ab840628e863","meta":{"requestId":"Ek1nDboKC9"},"data":{"id":"08d8add5-e717-4b30-96f0-ab840628e863","status":"initializing","dateCreated":"2025-10-30T03:10:26.96676124Z","lastActivity":"0001-01-01T00:00:00Z","configuration":{"baseProfileId":"dportn8n","timeoutMinutes":10},"cdpUrl":"https://api.airtop.ai/cdp/08d8add5-e717-4b30-96f0-ab840628e863","cdpWsUrl":"wss://api.airtop.ai/cdpws/08d8add5-e717-4b30-96f0-ab840628e863","chromedriverUrl":"https://api.airtop.ai/chromedriver/08d8add5-e717-4b30-96f0-ab840628e863"},"errors":null,"warnings":[]}}]},"versionId":"0530307f-a9e6-4aca-8661-ee64baac3940","triggerCount":0,"shared":[{"updatedAt":"2025-10-29T19:55:27.353Z","createdAt":"2025-10-29T19:55:27.353Z","role":"workflow:owner","workflowId":"fvr9nQsiPYlwijsZ","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}