ecommerceagent-hotgHvcFItSrF5T2.json
{"updatedAt":"2025-09-28T02:58:22.000Z","createdAt":"2025-09-27T11:25:01.624Z","id":"hotgHvcFItSrF5T2","name":"EcommerceAgent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-576,-144],"id":"c199ac6c-29d2-4305-9e92-9ff307ddff40","name":"When chat message received","webhookId":"71c08153-e97a-4576-baed-5d018a376fe6"},{"parameters":{"promptType":"define","text":"=#Rol\nEres un asistente capaz de contestar preguntas del usuario basándote en información sobre el Ecommerce\n\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza información de la herramienta ListaProductos para consultas sobre productos del Ecommerce\n\n- Utiliza información de la herramienta Documentos_Ecommerce para cualquier consulta relacionada con el funcionamiento del Ecommerce\n\n#Notas\n\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres\n\n- Si el cliente decide comprar el producto puedes pasarle el enlace para que pague. El enlace es https://ivanalsigo.com y debe ir siempre en un hipervinculo","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-224,-144],"id":"f0d38e6e-e0e1-4a19-b3b2-09734a1c83b1","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-352,80],"id":"c4b95a20-d414-40f4-b9ec-ab71f3969aeb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-224,80],"id":"ab100616-ca5e-4d83-85b5-542f966ded8c","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[216,288],"id":"af0f75e0-31fd-4131-acb3-c786e0d23360","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"ecomerce","mode":"list","cachedResultName":"ecomerce"},"options":{"pineconeNamespace":"name_ecommerce"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-72,288],"id":"c4a04d08-f558-41df-88f4-4efd7b492719","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ePrbY8oZ6PSc72vD","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[8,496],"id":"fdf179d9-8ed2-492a-ad66-912278e138fc","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1jLTODK8ZA04PL1SEXMiiGDgIAMYbTXCqvInsgyvhpV4","mode":"list","cachedResultName":"ProductosE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jLTODK8ZA04PL1SEXMiiGDgIAMYbTXCqvInsgyvhpV4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jLTODK8ZA04PL1SEXMiiGDgIAMYbTXCqvInsgyvhpV4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-96,80],"id":"bdbb5cb0-694a-4969-94e0-7824b86cc3fb","name":"ListaProductos","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"description":"Esta herramienta a a dar informacion sobre el duncionamiento del ecommerce"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[32,80],"id":"985f66d0-2237-406b-98c2-611b1191dc93","name":"Documentos_Ecommerce"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Documentos_Ecommerce","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Documentos_Ecommerce","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"ListaProductos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Documentos_Ecommerce":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"19e120ed-36cb-41d1-ba27-c5f55d6bc1a0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-27T11:25:01.629Z","createdAt":"2025-09-27T11:25:01.629Z","role":"workflow:owner","workflowId":"hotgHvcFItSrF5T2","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}