ecommerceupload-ZwkCaH49L5XylfMf.json
{"updatedAt":"2025-09-27T11:23:36.000Z","createdAt":"2025-09-27T11:04:31.046Z","id":"ZwkCaH49L5XylfMf","name":"EcommerceUpload","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VxtlthPgiWYS8T9bQp_X6OaAXAVBgygD","mode":"list","cachedResultName":"DocumentosE","cachedResultUrl":"https://drive.google.com/drive/folders/1VxtlthPgiWYS8T9bQp_X6OaAXAVBgygD"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-368,-144],"id":"b9ecbe87-a2e8-422d-8ada-1b9bf77992bf","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,-144],"id":"efe41071-d32e-4fee-8a48-0c12b0aae16f","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ecomerce","mode":"list","cachedResultName":"ecomerce"},"options":{"pineconeNamespace":"name_ecommerce"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[48,-144],"id":"27d94473-e64f-49ca-a4ed-d1a91f8c6fb5","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ePrbY8oZ6PSc72vD","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-32,80],"id":"ba9dc95f-873d-4e6e-a624-4395e6662eff","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"data"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[160,112],"id":"b97628f0-e939-46db-8f02-9132b47c65e1","name":"Default Data Loader"},{"parameters":{"chunkSize":200,"chunkOverlap":20},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[256,320],"id":"9b2694e3-b1ba-4bda-bdac-c368e6cd12e4","name":"Token Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d87bf0fd-f6f9-44af-88c8-11a0680ce332","triggerCount":0,"shared":[{"updatedAt":"2025-09-27T11:04:31.051Z","createdAt":"2025-09-27T11:04:31.051Z","role":"workflow:owner","workflowId":"ZwkCaH49L5XylfMf","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}