evolution-P32NxkF6KjmZjLUi.json
{"updatedAt":"2025-12-24T22:14:26.750Z","createdAt":"2025-12-20T17:40:59.583Z","id":"P32NxkF6KjmZjLUi","name":"Evolution","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('SeteaValores').item.json.instancia }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","messageId":"={{ $('SeteaValores').item.json.mensajeId }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-32,-400],"id":"9d3e22e4-0b31-4e10-b797-3b115f56ead2","name":"Marcar mensagens como lidas","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('SeteaValores').item.json.instancia }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","messageText":"ok","options_message":{"delay":2000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-400],"id":"07de87d5-e979-4842-968d-b3185944dccf","name":"Enviar texto","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('SeteaValores').item.json.instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('SeteaValores').item.json.mensajeId }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,-400],"id":"5d607f77-d128-4a5f-9174-864ff7ff1443","name":"Evolution bot","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91cd03d4-222e-4048-a145-237e4d2cb027","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"9dc79d09-2663-45b4-9973-0c572b411b52","name":"contacto","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"dccfd686-045a-44cf-b67a-68c60502ce2b","name":"mensajeId","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-400],"id":"eec4f7cd-9b91-4476-b73b-0cea47ae2376","name":"SeteaValores"},{"parameters":{"httpMethod":"POST","path":"fmcr01","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,-400],"id":"90d745ce-472f-42be-8d78-d9b404d79194","name":"Webhook","webhookId":"2b2f7d6d-e033-40cf-acbd-607e61babdce"}],"connections":{"Marcar mensagens como lidas":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"SeteaValores":{"main":[[{"node":"Marcar mensagens como lidas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"SeteaValores","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3730f4ef-3a67-4f76-b276-c750a463d96e","activeVersionId":"3730f4ef-3a67-4f76-b276-c750a463d96e","triggerCount":1,"shared":[{"updatedAt":"2025-12-20T17:40:59.602Z","createdAt":"2025-12-20T17:40:59.602Z","role":"workflow:owner","workflowId":"P32NxkF6KjmZjLUi","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-12-24T22:14:30.000Z","createdAt":"2025-12-24T22:14:26.751Z","versionId":"3730f4ef-3a67-4f76-b276-c750a463d96e","workflowId":"P32NxkF6KjmZjLUi","nodes":[{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('SeteaValores').item.json.instancia }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","messageId":"={{ $('SeteaValores').item.json.mensajeId }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-32,-400],"id":"9d3e22e4-0b31-4e10-b797-3b115f56ead2","name":"Marcar mensagens como lidas","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('SeteaValores').item.json.instancia }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","messageText":"ok","options_message":{"delay":2000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-400],"id":"07de87d5-e979-4842-968d-b3185944dccf","name":"Enviar texto","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('SeteaValores').item.json.instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('SeteaValores').item.json.mensajeId }}","remoteJid":"={{ $('SeteaValores').item.json.contacto }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,-400],"id":"5d607f77-d128-4a5f-9174-864ff7ff1443","name":"Evolution bot","credentials":{"evolutionApi":{"id":"rbDMP4bwsEHFI7gN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91cd03d4-222e-4048-a145-237e4d2cb027","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"9dc79d09-2663-45b4-9973-0c572b411b52","name":"contacto","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"dccfd686-045a-44cf-b67a-68c60502ce2b","name":"mensajeId","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-400],"id":"eec4f7cd-9b91-4476-b73b-0cea47ae2376","name":"SeteaValores"},{"parameters":{"httpMethod":"POST","path":"fmcr01","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,-400],"id":"90d745ce-472f-42be-8d78-d9b404d79194","name":"Webhook","webhookId":"2b2f7d6d-e033-40cf-acbd-607e61babdce"}],"connections":{"Marcar mensagens como lidas":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"SeteaValores":{"main":[[{"node":"Marcar mensagens como lidas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"SeteaValores","type":"main","index":0}]]}},"authors":"Manuel Cuya","name":"Version 3730f4ef","description":""},"tags":[]}