formularios-t-shirt-postgres-Z4cecU96mYRliuFp.json
{"updatedAt":"2025-10-19T12:27:25.000Z","createdAt":"2025-10-19T11:19:54.629Z","id":"Z4cecU96mYRliuFp","name":"Formularios T-Shirt Postgres","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a7f83b5-64a3-4151-8607-5cf608015f43","leftValue":"={{ $json['Dirección de correo electrónico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"78f615a7-5f79-446c-83e3-fa34f7966b7b","leftValue":"={{ $json['Fecha de verificación'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2080,-128],"id":"af9c5097-77d6-4e1f-942a-3c241804bf63","name":"Filtrar Registros Sin Correo Electronico"},{"parameters":{"content":"## Google Sheets\nLeer y filtrar Respuestas","height":288,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2160,-224],"typeVersion":1,"id":"f246a58c-9340-46ac-b1da-e657ebbcaf05","name":"Sticky Note"},{"parameters":{"sendTo":"fmcuya@gmail.com","subject":"Respuesta Solicitud Camiseta","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n  <body style=\"margin:0;background:#f5f5f5;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;\">\n      <tr>\n        <td align=\"center\" style=\"padding:20px;\">\n          <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;background:#ffffff;border:1px solid #eee;border-radius:6px;\">\n            <tr>\n              <td align=\"center\" style=\"padding:20px 16px;background:#0d6efd;border-radius:6px 6px 0 0;\">\n                <img src=\"{{logo_url}}\" alt=\"{{org_name}}\" width=\"110\" style=\"display:block;border:0;\">\n                <div style=\"height:8px;\"></div>\n                <h1 style=\"margin:0;font:700 18px Arial,Helvetica,sans-serif;color:#ffffff;\">Solicitud recibida</h1>\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:16px 20px;font:14px/1.6 Arial,Helvetica,sans-serif;color:#333333;\">\n                <p style=\"margin:0 0 10px;\">Hola ,</p>\n                <p style=\"margin:0 0 10px;\">\n                  Confirmamos la recepción de tu <strong>solicitud de camisetas</strong> con número\n                  <strong></strong> realizada el {{ $now }}.\n                </p>\n                              </td>\n            </tr>\n\n           \n          </table>\n\n          <!-- Texto de vista previa en bandeja -->\n          <div style=\"display:none;max-height:0;overflow:hidden;opacity:0;\">\n            Recibimos tu solicitud # {{ $json['Dirección de correo electrónico'] }}. Te contactaremos con la cotización.\n          </div>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1232,-448],"id":"b5ea65d0-4e31-4b4e-a42d-f5e55c3bb66b","name":"Enviar Correo Recepción","webhookId":"49049d08-7029-47fc-b99c-92740a8abd77","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-2304,-128],"id":"da9827cb-adfa-4874-a696-4649d08ac5a0","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"e9Kp6emfIKBgwOqB","name":"Google Sheets Trigger account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Dirección de correo electrónico"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1456,-448],"id":"952720f6-2f86-45fa-aef1-5fe4df304769","name":"Agrupar Flujos"},{"parameters":{"content":"## Unir Ramas\nUnir Ramas y enviar correo electrónico","height":288,"width":528,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1520,-544],"typeVersion":1,"id":"7b682356-d323-478c-bf27-7d8be0aec779","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1760,-128],"id":"adcd866f-748f-478a-936d-e391751cb3ae","name":"Barrer Solicitud Nueva"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Fin del Loop","typeVersion":1,"position":[-416,-128],"id":"eb03f577-df6b-4575-85a2-9aa03c9259f6"},{"parameters":{"operation":"executeQuery","query":"select * from inventory where SIZE = '{{ $json['Talla de camiseta'] .substring(0,4).replaceAll('-','')}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1536,-112],"id":"239b6fae-3138-4680-a62a-aed933ca0d28","name":"Obtener Inventario por Talla","alwaysOutputData":true,"credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea00a16f-cc40-48b8-a2d4-3398ed990b1a","leftValue":"={{ $json.in_stock }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"a48399b9-3eb9-48a2-bed6-fb9b5da4be71","leftValue":"={{ $json.in_stock }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1312,-112],"id":"e2ffc334-4327-45fe-b0d7-074085e76eb1","name":"¿Hay Existencias?"},{"parameters":{"assignments":{"assignments":[{"id":"ec47f0ad-2a77-4e8e-b854-9ffbd09664e3","name":"in_stock","value":"={{ ($json.in_stock - 1 > 0) ?  $json.in_stock - 1 : 0 }}","type":"number"},{"id":"13d3fca6-bb77-4caf-89c1-87fbfc041639","name":"size","value":"={{ $json.size }}","type":"string"},{"id":"5ecc06cd-2a11-47be-9349-bb12ef951ddb","name":"product_name","value":"={{ $json.product_name }}","type":"string"},{"id":"9ee3a676-b85a-46ab-87eb-2d76c882939f","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,-128],"id":"3769bc74-6760-4778-89f9-610909e07ee3","name":"Restar Inventario"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inventory","mode":"list","cachedResultName":"inventory"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","in_stock":"={{ $json.in_stock }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"product_name","displayName":"product_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"in_stock","displayName":"in_stock","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-864,-128],"id":"b5d44b86-ee95-493a-9c5d-bb5ba4afc7f0","name":"Actualizar Inventario","credentials":{"postgres":{"id":"cckDIo38BjLvMhZb","name":"Postgres account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"columns":{"mappingMode":"defineBelow","value":{"Dirección de correo electrónico":"={{ $('Filtrar Registros Sin Correo Electronico').item.json['Dirección de correo electrónico'] }}","Verificado":"={{  true }}","Fecha de verificación":"={{ $now }}"},"matchingColumns":["Dirección de correo electrónico"],"schema":[{"id":"Marca temporal","displayName":"Marca temporal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Talla de camiseta","displayName":"Talla de camiseta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Otros comentarios","displayName":"Otros comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dirección de correo electrónico","displayName":"Dirección de correo electrónico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Verificado","displayName":"Verificado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de verificación","displayName":"Fecha de verificación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-656,-128],"id":"98131513-baa3-4931-a83f-91b7a1dbea80","name":"Actualizar Respuestas","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"columns":{"mappingMode":"defineBelow","value":{"Dirección de correo electrónico":"={{ $('Filtrar Registros Sin Correo Electronico').item.json['Dirección de correo electrónico'] }}","Verificado":"={{  false }}","Fecha de verificación":"={{ $now.format('yyyy-MM-dd HH:MM') }}"},"matchingColumns":["Dirección de correo electrónico"],"schema":[{"id":"Marca temporal","displayName":"Marca temporal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Talla de camiseta","displayName":"Talla de camiseta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Otros comentarios","displayName":"Otros comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dirección de correo electrónico","displayName":"Dirección de correo electrónico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Verificado","displayName":"Verificado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de verificación","displayName":"Fecha de verificación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1312,224],"id":"932b5f9a-860d-4067-a8f8-a368a435d473","name":"Actualizar Respuestas Sin Inventario","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}}],"connections":{"Filtrar Registros Sin Correo Electronico":{"main":[[{"node":"Barrer Solicitud Nueva","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Filtrar Registros Sin Correo Electronico","type":"main","index":0}]]},"Agrupar Flujos":{"main":[[{"node":"Enviar Correo Recepción","type":"main","index":0}]]},"Barrer Solicitud Nueva":{"main":[[{"node":"Agrupar Flujos","type":"main","index":0}],[{"node":"Obtener Inventario por Talla","type":"main","index":0}]]},"Fin del Loop":{"main":[[{"node":"Barrer Solicitud Nueva","type":"main","index":0}]]},"Obtener Inventario por Talla":{"main":[[{"node":"¿Hay Existencias?","type":"main","index":0}]]},"¿Hay Existencias?":{"main":[[{"node":"Restar Inventario","type":"main","index":0}],[{"node":"Actualizar Respuestas Sin Inventario","type":"main","index":0}]]},"Restar Inventario":{"main":[[{"node":"Actualizar Inventario","type":"main","index":0}]]},"Actualizar Inventario":{"main":[[{"node":"Actualizar Respuestas","type":"main","index":0}]]},"Actualizar Respuestas Sin Inventario":{"main":[[{"node":"Barrer Solicitud Nueva","type":"main","index":0}]]},"Actualizar Respuestas":{"main":[[{"node":"Fin del Loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Lima","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3a630f5-1353-496e-b146-709e55f9c924","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-19T11:19:54.652Z","createdAt":"2025-10-19T11:19:54.652Z","role":"workflow:owner","workflowId":"Z4cecU96mYRliuFp","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}