formularios-t-shirt-xaytn7rYrYAf6eCU.json
{"updatedAt":"2025-10-14T21:39:48.000Z","createdAt":"2025-10-12T00:54:01.306Z","id":"xaytn7rYrYAf6eCU","name":"Formularios T-Shirt","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1792,-800],"id":"6821d0cb-08d7-440b-bea4-bea4a96cb059","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1568,-256],"id":"5158d4ab-acf2-47ff-988c-64840e024c1f","name":"Obtener Solicitudes de Camisetas","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a7f83b5-64a3-4151-8607-5cf608015f43","leftValue":"={{ $json['Dirección de correo electrónico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"78f615a7-5f79-446c-83e3-fa34f7966b7b","leftValue":"={{ $json['Fecha de verificación'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1344,-256],"id":"ec7e7577-f4a9-45a7-97fa-e5899d9cd6d8","name":"Filtrar Registros Sin Correo Electronico"},{"parameters":{"content":"## Google Sheets\nLeer y filtrar Respuestas","height":288,"width":624,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1608,-384],"typeVersion":1,"id":"03e8357d-f639-42c6-9906-5213709c1dd2","name":"Sticky Note"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-256],"id":"52291f2b-cec6-460b-a9a7-e0f0a10b69d9","name":"Agrupar Solicitudes"},{"parameters":{"documentId":{"__rl":true,"value":"1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU","mode":"list","cachedResultName":"T-Shirt Inventario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-896,-256],"id":"5a9849d0-7b76-4d4f-8e49-a74689472031","name":"Obtener Inventario","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-672,-256],"id":"c2ca259a-4a38-419c-9438-e6604b7a01e6","name":"Agrupar Inventario"},{"parameters":{"content":"## Google Sheets\nObetener Inventario","height":288,"width":528,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-888,-384],"typeVersion":1,"id":"3f021fe4-1c49-4f35-9ff9-2daba26086d3","name":"Sticky Note1"},{"parameters":{"jsCode":"// const items = $input.all();\n// const filteredItems = items.filter((item) => item?.json[\"Email Address\"]);\n// return filteredItems.map((item) => item.json);\n\n\nreturn $input.all().filter((item) => !!item.json[\"Email Address\"])"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-576],"id":"3a345076-47aa-46ad-9dfa-7f20b45d5cd2","name":"Filtrar registros con Correo","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\nconst inventory = items.map((item) => item.json.data).flat();\nconst newOrders = $('Agrupar Solicitudes').first().json.data;\n\nfor (const newOrder of newOrders) {\n  const sizeProduct = inventory.find(item => item.Talla === newOrder['Talla de camiseta']);\n\n  // No se encuentra el producto por talla\n  if ( !sizeProduct ) continue;\n  \n  if ( !sizeProduct.Inventario ) continue;\n\n  // No hay existencias\n  if ( sizeProduct.Inventario <= 0) continue;\n\n  // Esto muta el item en el arreglo\n  sizeProduct.Inventario--;\n  newOrder.isSuccess = true;\n  \n}\n\n\n\nreturn {\n  inventory: inventory,\n  orders: newOrders,\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-256],"id":"2fe4ee0c-eaee-4ee0-a999-18e656760351","name":"Reducir Inventario"},{"parameters":{"fieldToSplitOut":"orders","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-224,-352],"id":"5802dfc7-bd18-4067-be7c-cc014cd6216e","name":"Extraer Detalle Ordenes"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"columns":{"mappingMode":"defineBelow","value":{"Dirección de correo electrónico":"={{ $json['Dirección de correo electrónico'] }}","Verificado":"={{ !!$json.isSuccess }}","Fecha de verificación":"={{ $now }}"},"matchingColumns":["Dirección de correo electrónico"],"schema":[{"id":"Marca temporal","displayName":"Marca temporal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Talla de camiseta","displayName":"Talla de camiseta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Otros comentarios","displayName":"Otros comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dirección de correo electrónico","displayName":"Dirección de correo electrónico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Verificado","displayName":"Verificado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de verificación","displayName":"Fecha de verificación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,-352],"id":"7bc9ba2f-e55d-4e3c-a08e-f2869d75d5d4","name":"Marcar Ordenes Verificadas","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"inventory","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-224,-160],"id":"bea4c822-8cda-4720-b276-35c43207636c","name":"Extraer Nuevo Inventario"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU","mode":"list","cachedResultName":"T-Shirt Inventario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTRg_QGNIDAX-_fPqlT3XfGK-4fVOVFz2xCjvjMaikU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Inventario":"={{ $json.Inventario }}"},"matchingColumns":["row_number"],"schema":[{"id":"Producto","displayName":"Producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Talla","displayName":"Talla","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Inventario","displayName":"Inventario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,-160],"id":"aea13750-c7d3-4952-8195-72a53a0db6c4","name":"Actualizar Inventario","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"content":"## Google Sheets\nActualizar Ordenes","height":272,"width":544},"type":"n8n-nodes-base.stickyNote","position":[-320,-576],"typeVersion":1,"id":"946eba78-f01b-4f7f-815f-a761eae0d32f","name":"Sticky Note2"},{"parameters":{"content":"## Google Sheets\nActualizar Inventario","height":272,"width":544},"type":"n8n-nodes-base.stickyNote","position":[-336,-240],"typeVersion":1,"id":"c9a37165-8d3d-4be7-85c8-3ad941fde269","name":"Sticky Note3"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,-256],"id":"8a664aea-357e-4fcf-98f5-c9665fe003a8","name":"Unir Resultado"},{"parameters":{"sendTo":"fmcuya@gmail.com","subject":"Respuesta Solicitud Camiseta","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n  <body style=\"margin:0;background:#f5f5f5;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;\">\n      <tr>\n        <td align=\"center\" style=\"padding:20px;\">\n          <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;background:#ffffff;border:1px solid #eee;border-radius:6px;\">\n            <tr>\n              <td align=\"center\" style=\"padding:20px 16px;background:#0d6efd;border-radius:6px 6px 0 0;\">\n                <img src=\"{{logo_url}}\" alt=\"{{org_name}}\" width=\"110\" style=\"display:block;border:0;\">\n                <div style=\"height:8px;\"></div>\n                <h1 style=\"margin:0;font:700 18px Arial,Helvetica,sans-serif;color:#ffffff;\">Solicitud recibida</h1>\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:16px 20px;font:14px/1.6 Arial,Helvetica,sans-serif;color:#333333;\">\n                <p style=\"margin:0 0 10px;\">Hola {{ $('Obtener Solicitudes de Camisetas').item.json.Nombre }},</p>\n                <p style=\"margin:0 0 10px;\">\n                  Confirmamos la recepción de tu <strong>solicitud de camisetas</strong> con número\n                  <strong>#{{ $('Obtener Solicitudes de Camisetas').item.json.row_number }}</strong> realizada el {{ $now }}.\n                </p>\n\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:14px 0;border:1px solid #eee;border-radius:4px;\">\n                  <tr>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\"><strong>Modelo</strong></td>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\">{{modelo}}</td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\"><strong>Color</strong></td>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\">{{color}}</td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\"><strong>Tallas/Cant.</strong></td>\n                    <td style=\"padding:10px;border-bottom:1px solid #eee;\">{{resumen_tallas}} <!-- p.ej.: Sx5, Mx8, Lx3 --></td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:10px;\"><strong>Total prendas</strong></td>\n                    <td style=\"padding:10px;\"><strong>{{total_items}}</strong></td>\n                  </tr>\n                </table>\n\n                <p style=\"margin:0 0 10px;\"><strong>Próximos pasos</strong>: revisaremos disponibilidad y te enviaremos la cotización y fecha estimada de entrega a {{customer_email}}.</p>\n\n                <p style=\"margin:14px 0 0;font-size:12px;color:#666;\">\n                  ¿Duda o corrección? Responde este correo o escribe a <a href=\"mailto:{{support_email}}\" style=\"color:#0d6efd;text-decoration:none;\">{{support_email}}</a>.\n                </p>\n              </td>\n            </tr>\n\n            <tr>\n              <td align=\"center\" style=\"padding:16px;background:#fafafa;border-top:1px solid #eee;border-radius:0 0 6px 6px;font:12px Arial,Helvetica,sans-serif;color:#888;\">\n                {{org_name}} · {{org_city}}\n              </td>\n            </tr>\n          </table>\n\n          <!-- Texto de vista previa en bandeja -->\n          <div style=\"display:none;max-height:0;overflow:hidden;opacity:0;\">\n            Recibimos tu solicitud #{{order_id}}. Te contactaremos con la cotización.\n          </div>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[656,-256],"id":"5bb6e29d-a4d4-4160-9a26-fa94a43c3f67","name":"Enviar Correo Recepción","webhookId":"c29144bf-ee93-468a-981f-4cc66c21c11e","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q","mode":"list","cachedResultName":"T-Shirt - Respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1768494163,"mode":"list","cachedResultName":"Respuestas de formulario 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1dDGSyFHVff-ZzyWlSv8wrclP6FzfAnAdcZCfIJ6Q/edit#gid=1768494163"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1792,-256],"id":"3951b791-06f1-4120-9faf-cd9ce3949872","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"e9Kp6emfIKBgwOqB","name":"Google Sheets Trigger account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,-256],"id":"77582ad2-e84c-4576-b3f3-f02bd386b67e","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Obtener Solicitudes de Camisetas":{"main":[[{"node":"Filtrar Registros Sin Correo Electronico","type":"main","index":0}]]},"Filtrar Registros Sin Correo Electronico":{"main":[[{"node":"Agrupar Solicitudes","type":"main","index":0}]]},"Agrupar Solicitudes":{"main":[[{"node":"Obtener Inventario","type":"main","index":0}]]},"Obtener Inventario":{"main":[[{"node":"Agrupar Inventario","type":"main","index":0}]]},"Agrupar Inventario":{"main":[[{"node":"Reducir Inventario","type":"main","index":0}]]},"Reducir Inventario":{"main":[[{"node":"Extraer Detalle Ordenes","type":"main","index":0},{"node":"Extraer Nuevo Inventario","type":"main","index":0}]]},"Extraer Detalle Ordenes":{"main":[[{"node":"Marcar Ordenes Verificadas","type":"main","index":0}]]},"Marcar Ordenes Verificadas":{"main":[[{"node":"Unir Resultado","type":"main","index":0}]]},"Extraer Nuevo Inventario":{"main":[[{"node":"Actualizar Inventario","type":"main","index":0}]]},"Actualizar Inventario":{"main":[[{"node":"Unir Resultado","type":"main","index":1}]]},"Unir Resultado":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Obtener Solicitudes de Camisetas","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Enviar Correo Recepción","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6e6803f-2b96-4fb0-bc9c-cd3c80341e7d","triggerCount":0,"shared":[{"updatedAt":"2025-10-12T00:54:01.315Z","createdAt":"2025-10-12T00:54:01.315Z","role":"workflow:owner","workflowId":"xaytn7rYrYAf6eCU","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}