fromtelegramtextvoiceimage-hVol3JBObrWrr3id.json
{"updatedAt":"2025-09-29T19:55:14.628Z","createdAt":"2025-09-29T19:55:14.628Z","id":"hVol3JBObrWrr3id","name":"FromTelegramTextVoiceImage","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"id":"802433c2-b5ac-4584-9aa3-f1c1e1ff4d11","name":"Telegram Trigger","webhookId":"969d3b50-8ff7-4581-a213-f42f6ee62c03"},{"parameters":{"assignments":{"assignments":[{"id":"tg-1","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"tg-2","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"tg-3","name":"nombre_usuario","value":"={{ ($json.message.from.first_name || '') + ($json.message.from.last_name ? (' ' + $json.message.from.last_name) : '') }}","type":"string"},{"id":"tg-4","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"tg-5","name":"id_mensaje","value":"={{ $json.message.message_id }}","type":"number"},{"id":"tg-6","name":"hora","value":"={{ $json.message.date }}","type":"number"},{"id":"tg-7","name":"mensaje_usuario","value":"={{ $json.message.text || $json.message.caption || '' }}","type":"string"},{"id":"tg-8","name":"tipo_mensaje","value":"={{ $json.message.voice ? 'audio' : ($json.message.photo ? 'image' : ($json.message.text ? 'text' : '')) }}","type":"string"},{"id":"tg-9","name":"voice_file_id","value":"={{ $json.message.voice?.file_id }}","type":"string"},{"id":"tg-10","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"84aa8c60-4c98-4d0a-9865-fa8097eed619","name":"InfoDeTG"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"tg-s-1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-2","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-3","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,0],"id":"27b8969f-d89f-4648-8165-c42095470c19","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.voice_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[704,0],"id":"63a38a53-889d-48db-bd44-5987635c1a6e","name":"ObtenerAudioTG","webhookId":"979405d0-1445-442b-862a-1116178ecd8d"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.photo_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[704,192],"id":"598c8a06-ac6f-4d1a-b10e-ac51b895d997","name":"ObtenerImagenTG","webhookId":"52d8bedb-f1db-4873-9609-a8503e05155f"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1136,0],"id":"a0950e24-851e-4d0c-86b6-523891922524","name":"Transcribe a recording"},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-1","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,0],"id":"16471a30-988f-4ef6-9d6c-be80ca67d096","name":"Edit Fields"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Analiza la Imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1168,192],"id":"d43e8334-3b8e-4798-82bc-9262934af817","name":"Analyze image"},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-2","name":"mensaje","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,192],"id":"92ae6ad0-dd2b-43c2-bc74-21f6854394fc","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-3","name":"mensaje","value":"={{ $json.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,608],"id":"5a2e5540-9bea-481c-bb7c-4d31aaacabbd","name":"Edit Fields2"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"Eres el asistente personal de Manuel Cuya"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1712,112],"id":"aff7d1aa-de34-43a2-9df4-3e21183465e7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1648,384],"id":"635ccc82-33d1-44b6-8426-70aa285545c3","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('InfoDeTG').item.json.chat_id + '-' + $('InfoDeTG').item.json.id_mensaje }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1792,336],"id":"09eea3c4-1320-4482-bedc-b00084460d3f","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2064,112],"id":"73dd91d9-60bf-43f9-b31b-210087d9fddd","name":"Enviar a Telegram","webhookId":"96ed0f36-c54d-49ed-882b-154a498ca767"}],"connections":{"Telegram Trigger":{"main":[[{"node":"InfoDeTG","type":"main","index":0}]]},"InfoDeTG":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"ObtenerAudioTG","type":"main","index":0}],[{"node":"ObtenerImagenTG","type":"main","index":0}]]},"ObtenerAudioTG":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ObtenerImagenTG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar a Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1b05460a-cc69-4ba8-a493-11723e858aa9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-29T19:55:14.632Z","createdAt":"2025-09-29T19:55:14.632Z","role":"workflow:owner","workflowId":"hVol3JBObrWrr3id","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}