log-de-errores-n8n-nsZ5WMk6wtwCw1Sy.json
{"updatedAt":"2025-10-05T03:47:22.835Z","createdAt":"2025-10-05T03:47:22.835Z","id":"nsZ5WMk6wtwCw1Sy","name":"Log de Errores n8n","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[48,896],"id":"e6a664eb-9cdd-4e32-876d-3afa1e91401f","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"timestamp","name":"timestamp","value":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss', {zone: 'Europe/Madrid'}) }}","type":"string"},{"id":"workflow-name","name":"workflow_name","value":"={{ $json.workflow?.name || 'Workflow Desconocido' }}","type":"string"},{"id":"error-message","name":"error_message","value":"={{ $json.execution?.error?.message || $json.error?.message || 'Error sin mensaje' }}","type":"string"},{"id":"node-name","name":"node_name","value":"={{ $json.execution?.error?.node?.name || 'Nodo Desconocido' }}","type":"string"},{"id":"execution-url","name":"execution_url","value":"={{ $json.execution?.url || 'No disponible' }}","type":"string"},{"id":"severity","name":"severity","value":"={{ $json.execution?.error?.message?.toLowerCase().includes('timeout') || $json.execution?.error?.message?.toLowerCase().includes('connection') ? 'CRÍTICO' : 'Normal' }}","type":"string"}]},"options":{}},"id":"19502cf8-435d-4cc4-ab28-46d5639578ea","name":"2️⃣ Extraer Info del Error","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[320,896]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU","mode":"list","cachedResultName":"Error Logs n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $json.timestamp }}","Workflow":"={{ $json.workflow_name }}","Nodo":"={{ $json.node_name }}","Gravedad":"={{ $json.severity }}","Mensaje de error":"={{ $json.error_message }}","ID":"={{ $json.execution_url }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nodo","displayName":"Nodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje de error","displayName":"Mensaje de error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Gravedad","displayName":"Gravedad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1a5a81f0-3f09-4a38-8310-933ef8dbbbde","name":"3️⃣ Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[544,896]},{"parameters":{"authentication":"oAuth2","select":"user","user":{"__rl":true,"value":"U07BY7VQ5B3","mode":"list","cachedResultName":"info"},"text":"⚠️ **Error detectado en n8n**\n\n🕐 **Cuándo:** {{ $('2️⃣ Extraer Info del Error').item.json.timestamp }}\n📋 **Workflow:** {{ $('2️⃣ Extraer Info del Error').item.json.workflow_name }}\n⚙️ **Nodo:** {{ $('2️⃣ Extraer Info del Error').item.json.node_name }}\n🔴 **Error:** {{ $('2️⃣ Extraer Info del Error').item.json.error_message }}\n📊 **Tipo:** {{ $('2️⃣ Extraer Info del Error').item.json.severity }}\n🔗 **Ver:** {{ $('2️⃣ Extraer Info del Error').item.json.execution_url }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"0e5e3e86-f4f8-4912-ae96-336988587b16","name":"4️⃣ Notificar en Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[768,896],"webhookId":"d2d54266-70a7-452e-832d-3ba167c2652d"},{"parameters":{"content":"# 📚 GUÍA - Sistema de Errores n8n\n\n## 🎯 ¿Qué hace este workflow?\nCuando **CUALQUIER** workflow falla, este sistema:\n1. Captura el error automáticamente\n2. Guarda la información en Google Sheets\n3. Envía notificación a Slack\n\n## ⚙️ CONFIGURACIÓN NECESARIA:\n\n### 📋 PASO 1: Crear Google Sheet\n1. Ve a Google Sheets\n2. Crea una nueva hoja\n3. Pon estas columnas en la fila 1:\n   `Fecha y Hora | Workflow | Nodo con Error | Mensaje de Error | Tipo | Ver Ejecución`\n4. Copia el ID de la URL (la parte larga después de /d/)\n5. Reemplaza `AQUI_VA_TU_GOOGLE_SHEET_ID` en el nodo 3️⃣\n\n### 🔐 PASO 2: Configurar Credenciales Google Sheets\n1. Click en nodo \"3️⃣ Guardar en Google Sheets\"\n2. Click en \"Select Credential\"\n3. Crear nueva credencial OAuth2\n4. Autorizar acceso a Google\n\n### 💬 PASO 3: Configurar Slack (Opcional)\n1. Click en nodo \"4️⃣ Notificar en Slack\"\n2. Configurar credenciales de Slack\n3. Elegir canal (ej: #errores-n8n)\n\n### 🔗 PASO 4: Configurar workflows para usar este sistema\n**¡MUY IMPORTANTE!**\nPara CADA workflow que quieras monitorear:\n1. Ve al workflow → Settings (3 puntos)\n2. Error Workflow → Selecciona este workflow\n3. Save\n\n## 🧪 PASO 5: Probar el sistema\n1. Crea un workflow simple\n2. Añade HTTP Request con URL: `https://servidor-que-no-existe.com`\n3. Configura Error Workflow en Settings\n4. Ejecuta → ¡Debería generar error y registrarlo!\n\n---\n**💡 TIP:** Siempre configura el Error Workflow en Settings de cada workflow que quieras monitorear","height":1204,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,144],"id":"21b08fee-c42e-49d6-93f0-43bbbb5b7ea2","name":"📚 INSTRUCCIONES PARA ALUMNOS"},{"parameters":{"content":"# ✅ CHECKLIST DE CONFIGURACIÓN\n\n## Antes de activar, verifica:\n\n□ **Google Sheet creado** con columnas correctas\n□ **ID del Sheet** copiado en nodo 3️⃣\n□ **Credenciales Google** configuradas\n□ **Credenciales Slack** configuradas (opcional)\n□ **Canal de Slack** seleccionado\n□ **Workflow guardado**\n\n## Para usar en otros workflows:\n□ **Settings** → **Error Workflow** → Seleccionar este\n□ **Workflow activado**\n□ **Probado** con error simulado\n\n---\n## 🚨 Solución de Problemas:\n\n**❌ No se dispara el error:**\n- Verificar que el workflow tenga configurado Error Workflow en Settings\n- El workflow con error debe estar activo\n\n**❌ No guarda en Sheets:**\n- Verificar credenciales Google\n- Verificar ID del Sheet\n- Verificar columnas del Sheet\n\n**❌ No notifica en Slack:**\n- Verificar credenciales Slack\n- Verificar que el canal existe","height":812,"width":672,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"4b331414-a31d-42f8-9a95-11aa36b614d6","name":"✅ CHECKLIST"},{"parameters":{"content":"# 🧪 WORKFLOW DE PRUEBA\n\n## Crea este workflow para probar:\n\n1. **HTTP Request Node:**\n   - URL: `https://httpstat.us/500`\n   - Method: GET\n   \n2. **En Settings del workflow de prueba:**\n   - Error Workflow → Selecciona este workflow\n   \n3. **Activa y ejecuta**\n   \n4. **Resultado esperado:**\n   - Nueva fila en Google Sheets\n   - Mensaje en Slack\n   - Error clasificado como \"Normal\"\n\n---\n\n## Para probar error CRÍTICO:\nCambia URL a: `https://servidor-timeout-database.com`\n\n¡El error debería clasificarse como \"CRÍTICO\"!","height":676,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,128],"id":"764e3eb1-5864-4558-a5f1-f14d3aa3c44e","name":"🧪 PRUEBA"}],"connections":{"Error Trigger":{"main":[[{"node":"2️⃣ Extraer Info del Error","type":"main","index":0}]]},"2️⃣ Extraer Info del Error":{"main":[[{"node":"3️⃣ Guardar en Google Sheets","type":"main","index":0}]]},"3️⃣ Guardar en Google Sheets":{"main":[[{"node":"4️⃣ Notificar en Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9bbe7a16-be07-443f-a6b2-b1c72ff5868b","activeVersionId":"9bbe7a16-be07-443f-a6b2-b1c72ff5868b","triggerCount":0,"shared":[{"updatedAt":"2025-10-05T03:47:22.840Z","createdAt":"2025-10-05T03:47:22.840Z","role":"workflow:owner","workflowId":"nsZ5WMk6wtwCw1Sy","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-11-28T10:24:07.534Z","createdAt":"2025-11-28T10:24:07.534Z","versionId":"9bbe7a16-be07-443f-a6b2-b1c72ff5868b","workflowId":"nsZ5WMk6wtwCw1Sy","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[48,896],"id":"e6a664eb-9cdd-4e32-876d-3afa1e91401f","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"timestamp","name":"timestamp","value":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss', {zone: 'Europe/Madrid'}) }}","type":"string"},{"id":"workflow-name","name":"workflow_name","value":"={{ $json.workflow?.name || 'Workflow Desconocido' }}","type":"string"},{"id":"error-message","name":"error_message","value":"={{ $json.execution?.error?.message || $json.error?.message || 'Error sin mensaje' }}","type":"string"},{"id":"node-name","name":"node_name","value":"={{ $json.execution?.error?.node?.name || 'Nodo Desconocido' }}","type":"string"},{"id":"execution-url","name":"execution_url","value":"={{ $json.execution?.url || 'No disponible' }}","type":"string"},{"id":"severity","name":"severity","value":"={{ $json.execution?.error?.message?.toLowerCase().includes('timeout') || $json.execution?.error?.message?.toLowerCase().includes('connection') ? 'CRÍTICO' : 'Normal' }}","type":"string"}]},"options":{}},"id":"19502cf8-435d-4cc4-ab28-46d5639578ea","name":"2️⃣ Extraer Info del Error","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[320,896]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU","mode":"list","cachedResultName":"Error Logs n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OFMVcN5tax_1QErYt7yEuBIfgpr-aHITAzMmemhP4bU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $json.timestamp }}","Workflow":"={{ $json.workflow_name }}","Nodo":"={{ $json.node_name }}","Gravedad":"={{ $json.severity }}","Mensaje de error":"={{ $json.error_message }}","ID":"={{ $json.execution_url }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nodo","displayName":"Nodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje de error","displayName":"Mensaje de error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Gravedad","displayName":"Gravedad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1a5a81f0-3f09-4a38-8310-933ef8dbbbde","name":"3️⃣ Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[544,896]},{"parameters":{"authentication":"oAuth2","select":"user","user":{"__rl":true,"value":"U07BY7VQ5B3","mode":"list","cachedResultName":"info"},"text":"⚠️ **Error detectado en n8n**\n\n🕐 **Cuándo:** {{ $('2️⃣ Extraer Info del Error').item.json.timestamp }}\n📋 **Workflow:** {{ $('2️⃣ Extraer Info del Error').item.json.workflow_name }}\n⚙️ **Nodo:** {{ $('2️⃣ Extraer Info del Error').item.json.node_name }}\n🔴 **Error:** {{ $('2️⃣ Extraer Info del Error').item.json.error_message }}\n📊 **Tipo:** {{ $('2️⃣ Extraer Info del Error').item.json.severity }}\n🔗 **Ver:** {{ $('2️⃣ Extraer Info del Error').item.json.execution_url }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"0e5e3e86-f4f8-4912-ae96-336988587b16","name":"4️⃣ Notificar en Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[768,896],"webhookId":"d2d54266-70a7-452e-832d-3ba167c2652d"},{"parameters":{"content":"# 📚 GUÍA - Sistema de Errores n8n\n\n## 🎯 ¿Qué hace este workflow?\nCuando **CUALQUIER** workflow falla, este sistema:\n1. Captura el error automáticamente\n2. Guarda la información en Google Sheets\n3. Envía notificación a Slack\n\n## ⚙️ CONFIGURACIÓN NECESARIA:\n\n### 📋 PASO 1: Crear Google Sheet\n1. Ve a Google Sheets\n2. Crea una nueva hoja\n3. Pon estas columnas en la fila 1:\n   `Fecha y Hora | Workflow | Nodo con Error | Mensaje de Error | Tipo | Ver Ejecución`\n4. Copia el ID de la URL (la parte larga después de /d/)\n5. Reemplaza `AQUI_VA_TU_GOOGLE_SHEET_ID` en el nodo 3️⃣\n\n### 🔐 PASO 2: Configurar Credenciales Google Sheets\n1. Click en nodo \"3️⃣ Guardar en Google Sheets\"\n2. Click en \"Select Credential\"\n3. Crear nueva credencial OAuth2\n4. Autorizar acceso a Google\n\n### 💬 PASO 3: Configurar Slack (Opcional)\n1. Click en nodo \"4️⃣ Notificar en Slack\"\n2. Configurar credenciales de Slack\n3. Elegir canal (ej: #errores-n8n)\n\n### 🔗 PASO 4: Configurar workflows para usar este sistema\n**¡MUY IMPORTANTE!**\nPara CADA workflow que quieras monitorear:\n1. Ve al workflow → Settings (3 puntos)\n2. Error Workflow → Selecciona este workflow\n3. Save\n\n## 🧪 PASO 5: Probar el sistema\n1. Crea un workflow simple\n2. Añade HTTP Request con URL: `https://servidor-que-no-existe.com`\n3. Configura Error Workflow en Settings\n4. Ejecuta → ¡Debería generar error y registrarlo!\n\n---\n**💡 TIP:** Siempre configura el Error Workflow en Settings de cada workflow que quieras monitorear","height":1204,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,144],"id":"21b08fee-c42e-49d6-93f0-43bbbb5b7ea2","name":"📚 INSTRUCCIONES PARA ALUMNOS"},{"parameters":{"content":"# ✅ CHECKLIST DE CONFIGURACIÓN\n\n## Antes de activar, verifica:\n\n□ **Google Sheet creado** con columnas correctas\n□ **ID del Sheet** copiado en nodo 3️⃣\n□ **Credenciales Google** configuradas\n□ **Credenciales Slack** configuradas (opcional)\n□ **Canal de Slack** seleccionado\n□ **Workflow guardado**\n\n## Para usar en otros workflows:\n□ **Settings** → **Error Workflow** → Seleccionar este\n□ **Workflow activado**\n□ **Probado** con error simulado\n\n---\n## 🚨 Solución de Problemas:\n\n**❌ No se dispara el error:**\n- Verificar que el workflow tenga configurado Error Workflow en Settings\n- El workflow con error debe estar activo\n\n**❌ No guarda en Sheets:**\n- Verificar credenciales Google\n- Verificar ID del Sheet\n- Verificar columnas del Sheet\n\n**❌ No notifica en Slack:**\n- Verificar credenciales Slack\n- Verificar que el canal existe","height":812,"width":672,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"4b331414-a31d-42f8-9a95-11aa36b614d6","name":"✅ CHECKLIST"},{"parameters":{"content":"# 🧪 WORKFLOW DE PRUEBA\n\n## Crea este workflow para probar:\n\n1. **HTTP Request Node:**\n   - URL: `https://httpstat.us/500`\n   - Method: GET\n   \n2. **En Settings del workflow de prueba:**\n   - Error Workflow → Selecciona este workflow\n   \n3. **Activa y ejecuta**\n   \n4. **Resultado esperado:**\n   - Nueva fila en Google Sheets\n   - Mensaje en Slack\n   - Error clasificado como \"Normal\"\n\n---\n\n## Para probar error CRÍTICO:\nCambia URL a: `https://servidor-timeout-database.com`\n\n¡El error debería clasificarse como \"CRÍTICO\"!","height":676,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,128],"id":"764e3eb1-5864-4558-a5f1-f14d3aa3c44e","name":"🧪 PRUEBA"}],"connections":{"Error Trigger":{"main":[[{"node":"2️⃣ Extraer Info del Error","type":"main","index":0}]]},"2️⃣ Extraer Info del Error":{"main":[[{"node":"3️⃣ Guardar en Google Sheets","type":"main","index":0}]]},"3️⃣ Guardar en Google Sheets":{"main":[[{"node":"4️⃣ Notificar en Slack","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}