mychatbottelegram-k2i3cklE0pacYKAl.json
{"updatedAt":"2025-12-01T00:02:01.000Z","createdAt":"2025-11-30T23:26:44.324Z","id":"k2i3cklE0pacYKAl","name":"MyChatBotTelegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1296,-384],"id":"a4ead015-0bac-49dc-ada4-908da01ecdf2","name":"Telegram Trigger","webhookId":"9bfaf353-1af4-46e0-a8b0-c5c4d8fdef5e","credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Dame un momento","additionalFields":{"reply_to_message_id":"={{ $json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1072,-384],"id":"c323a7db-8fff-4138-bf50-91c24b1b2a0a","name":"Send a text message","webhookId":"74b400c8-f47e-4d83-85b1-5e607ccbbffe","credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b53ee94f-279b-4a55-8523-cded5135df53","leftValue":"={{ $json.result.reply_to_message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-384],"id":"ebdbb00b-8ab0-402a-a277-70728184003f","name":"Contiene Mensaje de Voz"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,-384],"id":"7ee87716-e497-4b8e-882a-7422613cf654","name":"Get a file","webhookId":"8eb754ec-8fe0-47b7-bc5c-90586f8e3523","credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-400,-384],"id":"2e47ad9f-a1a1-43e4-af0f-2bb6c3e6654e","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Eres un asistente que resume audio de voz, dime en pocas palabras lo que necesita"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-176,-384],"id":"2bc4d1ef-319c-44b9-93f4-e948fb868ebc","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-224,-96],"id":"f63688bb-971a-49f3-b4e9-57bc78fb1c82","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[176,-384],"id":"3e4748ec-6aae-4b1b-8006-ae08ab4a8d05","name":"Generate audio","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,-384],"id":"0d81d8e1-a173-4f30-a2e0-2be3452202ef","name":"Send an audio file","webhookId":"bd56ea5d-dca7-4ae3-809d-1a32de0f6b01","credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Contiene Mensaje de Voz","type":"main","index":0}]]},"Contiene Mensaje de Voz":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f5c1a41-d155-468b-b39e-63752ea38ccf","triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:26:44.329Z","createdAt":"2025-11-30T23:26:44.329Z","role":"workflow:owner","workflowId":"k2i3cklE0pacYKAl","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}