personalassitantfmcr-AmL3UdtbGT8ebkrc.json
{"updatedAt":"2025-09-29T18:00:27.000Z","createdAt":"2025-09-29T16:39:41.840Z","id":"AmL3UdtbGT8ebkrc","name":"PersonalAssitantFMCR","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-864,-384],"id":"7d1d0dea-a252-4780-b5b5-409fee710b35","name":"When chat message received","webhookId":"8c96e15c-02a2-4064-8404-56df7c9d5995"},{"parameters":{"promptType":"define","text":"=#Rol\nEres un asistente personal que ayudarás al usuario con la gestión de sus contactos\n\n##Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza información de la herramienta Contactos para encontrar datos sobre los contactos\n\n- Utiliza la herramienta AgendarReuniones para agendar eventos y reuniones tomando de referencia la hora acutal: {{ $now }}\n\n- Utiliza la herramienta EnviarEmail para enviar correos electrónicos a los contactos\n\n##Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-464,-384],"id":"25384118-2d8e-494a-90d7-730a4b01f9ad","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-640,-160],"id":"1ae47927-a980-44db-8952-b6fe75f3aad3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-512,-160],"id":"0d1b56cc-2daf-4c41-b4b7-b01542ec92d2","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U","mode":"list","cachedResultName":"ContactosFMCR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-384,-160],"id":"b07e445d-7515-4611-b4d5-7cb26a11ebf5","name":"Contactos","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"senderName":"Personal Assistant FMCR"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-256,-160],"id":"5a6a5a5f-2a4b-4a0f-a356-b17147f747dd","name":"EnviarEmail","webhookId":"64263d70-bd55-4a21-beb5-484542460af8","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"fmcuya@gmail.com","mode":"list","cachedResultName":"fmcuya@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-128,-160],"id":"0065eebb-d88c-4cd1-96f8-d5f99eb9ef58","name":"AgendarReuniones","credentials":{"googleCalendarOAuth2Api":{"id":"sX57ATAsJNQSKVNk","name":"Google Calendar account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Contactos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"EnviarEmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AgendarReuniones":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Lima","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"179d77ce-2516-4e57-aa93-d0a0edc07c8b","triggerCount":0,"shared":[{"updatedAt":"2025-09-29T16:39:41.848Z","createdAt":"2025-09-29T16:39:41.848Z","role":"workflow:owner","workflowId":"AmL3UdtbGT8ebkrc","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}