play-with-spotify-from-telegram-xO4nVePLkSr9ek83.json
{"updatedAt":"2025-12-03T21:25:17.000Z","createdAt":"2025-11-16T12:23:36.061Z","id":"xO4nVePLkSr9ek83","name":"Play with Spotify from Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"aa5f2cd0-4d25-4e8b-9616-1a2394dde408","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-736,432],"webhookId":"e7aa284b-5eef-4ac1-94bf-8e4d307a3b14","typeVersion":1.1,"credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=get artist and song name from '{{ $json.message.text }}'. Reply only eg. 'track:song name artist:artist name'"}]},"options":{}},"id":"5671799d-aab0-460d-bee7-dcce36d9f573","name":"OpenAI - Ask about a track","type":"@n8n/n8n-nodes-langchain.openAi","position":[-560,304],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"resource":"track","operation":"search","query":"={{ $json.message.content }}","limit":1,"filters":{}},"id":"5bbfaa70-ac23-4b3b-88f6-5fba14841b98","name":"Search track","type":"n8n-nodes-base.spotify","position":[-128,224],"typeVersion":1,"alwaysOutputData":true,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}},"onError":"continueErrorOutput"},{"parameters":{"id":"=spotify:track:{{ $json.id }}"},"id":"6e765b2f-5601-4acf-ab8b-8c6268784a2c","name":"Add song","type":"n8n-nodes-base.spotify","position":[112,176],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"nextSong"},"id":"ebd45add-e531-4b0d-bfe0-ea5d03f181fc","name":"Next Song","type":"n8n-nodes-base.spotify","position":[320,144],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"resume"},"id":"ea458fe3-4c17-475a-8448-d36b3ef77003","name":"Resume play","type":"n8n-nodes-base.spotify","position":[576,32],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}},"onError":"continueRegularOutput","notes":"We don't have to stop here on error. An error is thrown from Spotify if the player is already playing."},{"parameters":{"operation":"currentlyPlaying"},"id":"14afdfc3-b5a8-487d-a03c-4c4438a99964","name":"Currently Playing","type":"n8n-nodes-base.spotify","position":[752,112],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## Telegram to Spotify \nAsk AI about a track with artist and song name or if you can't remember describe it and AI does it's thing.\n","width":254.05813953488382,"color":5},"id":"2ea8b37e-8391-404c-9453-4487741fb6f1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-560,112],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"ebddbfa7-4839-46eb-b0fa-b0e15cc0f97e","name":"Merge","type":"n8n-nodes-base.merge","position":[-240,640],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"02af5387-07d2-4a16-bd83-e1359d091165","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json?.id }}","rightValue":""}]},"options":{}},"id":"8d60adaa-4306-4a11-bf17-9bfcbdf1ed1a","name":"If","type":"n8n-nodes-base.if","position":[-48,-32],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"93cd2545-c6e9-4717-96b7-d49eb056ac70","name":"message","type":"string","value":"={{ $json.error }}"}]},"options":{}},"id":"610c338b-f5af-4cae-ba0c-bc50a9317a69","name":"Message parser","type":"n8n-nodes-base.set","position":[608,384],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": \"Song not found\"\n}\n","options":{}},"id":"a0c5691c-9b48-4ba6-a16e-d8b7388225ba","name":"Not found error message","type":"n8n-nodes-base.set","position":[208,-48],"typeVersion":3.4},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"={{ $('Message parser').item.json.message }}","additionalFields":{}},"id":"53790583-4daa-4462-978c-89ac37f4692e","name":"Return message to Telegram","type":"n8n-nodes-base.telegram","position":[96,640],"typeVersion":1.2,"webhookId":"9f17997a-6f05-4449-b685-a7975a11fcc5","credentials":{"telegramApi":{"id":"8mOuNCstNkw01bcN","name":"Telegram_957348717_fmcr_bot_bot"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"error\": \"Now playing {{ $json.item.name }} - {{ $json.item.artists[0].name }} - {{ $json.item.album.name }}\"\n}\n","options":{}},"id":"f9d07525-9920-42d4-b680-091f3c7c6ca1","name":"Define Now Playing","type":"n8n-nodes-base.set","position":[992,176],"typeVersion":3.4,"notes":"We use the object \"error\" as a returned bject so we can re-use the Message Parser node."}],"connections":{"If":{"main":[[{"node":"Add song","type":"main","index":0}],[{"node":"Not found error message","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Return message to Telegram","type":"main","index":0}]]},"Add song":{"main":[[{"node":"Next Song","type":"main","index":0}],[{"node":"Message parser","type":"main","index":0}]]},"Next Song":{"main":[[{"node":"Resume play","type":"main","index":0}],[{"node":"Message parser","type":"main","index":0}]]},"Resume play":{"main":[[{"node":"Currently Playing","type":"main","index":0}]]},"Search track":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Message parser","type":"main","index":0}]]},"Message parser":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"OpenAI - Ask about a track","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Currently Playing":{"main":[[{"node":"Define Now Playing","type":"main","index":0}],[{"node":"Message parser","type":"main","index":0}]]},"Define Now Playing":{"main":[[{"node":"Message parser","type":"main","index":0}]]},"Not found error message":{"main":[[{"node":"Message parser","type":"main","index":0}]]},"OpenAI - Ask about a track":{"main":[[{"node":"Search track","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b53d419f-3a86-448a-9b38-3c770f2e7a8e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-16T12:23:36.065Z","createdAt":"2025-11-16T12:23:36.065Z","role":"workflow:owner","workflowId":"xO4nVePLkSr9ek83","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}