pokemon-scraper-hgp8JbOyvQFrhwYg.json
{"updatedAt":"2025-10-12T00:06:09.000Z","createdAt":"2025-10-09T04:35:41.822Z","id":"hgp8JbOyvQFrhwYg","name":"Pokemon Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,-192],"id":"619d99b0-bc40-493e-b1c8-d376c4e67d20","name":"Click"},{"parameters":{"documentId":{"__rl":true,"value":"1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno","mode":"list","cachedResultName":"PokemonInformation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pokemon","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1872,-192],"id":"8189cada-57be-4537-85b8-7cfc762047e1","name":"Obtener ids Pokemons","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"url":"=https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,-192],"id":"fae147c4-148f-49ce-bfa8-914a209fb2e0","name":"Obtener Pokemon Info"},{"parameters":{"assignments":{"assignments":[{"id":"551da8b3-dbab-4b98-af08-ff441ac8269a","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"002846d3-40ac-434d-9a41-7003936845a3","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"0afc8803-7832-4a4f-9d81-34a2b1a7ee19","name":"type","value":"={{ $json.types[0].type.name }}","type":"string"},{"id":"b2cb539b-fb99-4eb2-8f74-8da857f80284","name":"photos.front","value":"={{ $json.sprites.front_default }}","type":"string"},{"id":"22fd6e8c-7fe2-4acd-89f2-bbbb3ffb8ed5","name":"photos.back","value":"={{ $json.sprites.back_default }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,-192],"id":"cfe8427d-fe77-4326-94f7-1650f1523247","name":"Extraer Datos Pokemon"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno","mode":"list","cachedResultName":"PokemonInformation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pokemon","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAL1F5mbUKd_FGyGo6nbkfOaQv7eaET-pPNqaPNXDno/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Nombre":"={{ $json.name }}","Tipo":"={{ $json.type }}","Sprite Frontal":"={{ $json.photos.front }}","Sprite Posterior":"={{ $json.photos.back }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sprite Frontal","displayName":"Sprite Frontal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sprite Posterior","displayName":"Sprite Posterior","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-752,-192],"id":"7c55930b-4a6c-48f2-9e1a-9dc5d3f1f53d","name":"Actualizar Informacion Pokemon","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec9b9586-ce66-46f0-8091-87f2f4f80cd1","leftValue":"={{ $json.Nombre }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"fb04f258-5313-4ab5-b471-86370b36675d","leftValue":"={{ $json.Tipo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1536,-192],"id":"39da335e-f67a-4043-8422-16e6156647dd","name":"Filtrar Pokemones a Buscar"},{"parameters":{"content":"## Google Sheet\nObtener Ids Pokemones","height":256,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1952,-272],"typeVersion":1,"id":"74c85a2c-a282-4611-87fc-3b659cd700a0","name":"Sticky Note"},{"parameters":{"content":"## Google Sheet\nGuardar Infoprmación Pokemones","height":256,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-848,-272],"typeVersion":1,"id":"c8719bb1-63b9-4f13-aa71-93a3dbdd491d","name":"Sticky Note1"},{"parameters":{"content":"## Filtro\nUnicamente se filtran los que no tienen información","height":272,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1632,-272],"typeVersion":1,"id":"c8ee2f5f-2b86-4b63-aa9a-493956cee487","name":"Sticky Note2"},{"parameters":{"content":"## HTTP\nTrae información de los Pokemones","height":272,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1280,-272],"typeVersion":1,"id":"ac6af282-c801-4c3f-871d-1cba9a0b42dc","name":"Sticky Note3"},{"parameters":{"sendTo":"fmcuya@gmail.com","subject":"El proceso de migracion terminó","message":"=<h1>Proceso Terminó</h1>\n\n<h1>Nuevmos Pokemones ({{ $json.ID.length }})</h2>\n{{ $json.ID }}\n<br/>\n{{ $json.Nombre }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-112,-192],"id":"e510160d-18b4-4006-9c29-742a3e4de51d","name":"Enviar Correo Resultado","webhookId":"c8b94795-13f7-48f6-81a1-f952219d96fb","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Nombre"},{"fieldToAggregate":"ID"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-480,-192],"id":"256e9e0e-0a03-40e9-9925-69263199b2b3","name":"Agrupar información"},{"parameters":{"content":"## Enviar Correo\nSe encia correo con el resumen del Proceso","height":256,"width":352},"type":"n8n-nodes-base.stickyNote","position":[-240,-272],"typeVersion":1,"id":"fdb71722-5ef3-45b6-a141-8947e6123376","name":"Sticky Note4"},{"parameters":{"content":"## Agrupar\nAgrupa informacion de la lista de pokemosnes actualizada","height":256,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-560,-272],"typeVersion":1,"id":"1263c942-d341-4ca5-9bbf-e25c059e817d","name":"Sticky Note5"}],"connections":{"Click":{"main":[[{"node":"Obtener ids Pokemons","type":"main","index":0}]]},"Obtener ids Pokemons":{"main":[[{"node":"Filtrar Pokemones a Buscar","type":"main","index":0}]]},"Obtener Pokemon Info":{"main":[[{"node":"Extraer Datos Pokemon","type":"main","index":0}]]},"Extraer Datos Pokemon":{"main":[[{"node":"Actualizar Informacion Pokemon","type":"main","index":0}]]},"Filtrar Pokemones a Buscar":{"main":[[{"node":"Obtener Pokemon Info","type":"main","index":0}]]},"Actualizar Informacion Pokemon":{"main":[[{"node":"Agrupar información","type":"main","index":0}]]},"Agrupar información":{"main":[[{"node":"Enviar Correo Resultado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0c25b01-c853-4ff8-aa0d-b08df4cc7b41","triggerCount":0,"shared":[{"updatedAt":"2025-10-09T04:35:41.832Z","createdAt":"2025-10-09T04:35:41.832Z","role":"workflow:owner","workflowId":"hgp8JbOyvQFrhwYg","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}