qdrant-demo---compatible-7ADBKjm3UxndI41j.json
{"updatedAt":"2025-10-08T12:36:14.000Z","createdAt":"2025-10-08T11:58:28.217Z","id":"7ADBKjm3UxndI41j","name":"Qdrant Demo - Compatible","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"BASE_URL","value":"https://n8n-project-qdrant.z4znbw.easypanel.host"},{"name":"API_KEY","value":"F3rr3r$$1972$$"},{"name":"COLLECTION","value":"comercio"}]},"options":{}},"name":"Set Config","type":"n8n-nodes-base.set","typeVersion":1,"position":[-512,288],"id":"5536fc11-b7ac-435f-a3cd-bb99b8bda1bd"},{"parameters":{"requestMethod":"PUT","url":"={{$json.BASE_URL + '/collections/' + $json.COLLECTION}}","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{'Bearer ' + $json.API_KEY}}"},{"name":"content","value":"Content-Type: application/json"}]},"queryParametersUi":{"parameter":[{}]}},"name":"Create Collection","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-224,144],"id":"9e2e9b6c-9267-471a-b42d-60d1977be43e"},{"parameters":{"url":"={{$json.BASE_URL + '/collections/' + $json.COLLECTION + '/points?wait=true'}}","jsonParameters":true,"options":{}},"name":"Upsert Points","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[48,288],"id":"5a322bc1-ea91-40e6-a6df-201f2b923c8b"},{"parameters":{"url":"={{$json.BASE_URL + '/collections/' + $json.COLLECTION + '/points/search'}}","jsonParameters":true,"options":{}},"name":"Search","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[320,448],"id":"b09591ca-fb32-4157-9864-b50fe373a93e"},{"parameters":{"url":"={{$json.BASE_URL + '/collections'}}","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{'Bearer ' + $json.API_KEY}}"}]}},"name":"List Collections","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-224,448],"id":"0d6080bc-8b23-46c5-bb49-4bf5b52e33dc"},{"parameters":{"url":"https://n8n-project-qdrant.z4znbw.easypanel.host/collections","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer F3rr3r$$1972$$"}]}},"name":"Ping Collections","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-608,-80],"id":"d0e6e584-1797-48b5-96c0-889da49727e3","disabled":true}],"connections":{"Set Config":{"main":[[{"node":"Create Collection","type":"main","index":0},{"node":"List Collections","type":"main","index":0}]]},"Create Collection":{"main":[[{"node":"Upsert Points","type":"main","index":0}]]},"Upsert Points":{"main":[[{"node":"Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"40d05e27-6516-4658-a98d-8cecd3f58c0b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-08T11:58:28.230Z","createdAt":"2025-10-08T11:58:28.230Z","role":"workflow:owner","workflowId":"7ADBKjm3UxndI41j","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}