raginput-K8wg5KoNjjbGq5MO.json
{"updatedAt":"2025-09-20T04:31:03.000Z","createdAt":"2025-09-20T04:26:26.828Z","id":"K8wg5KoNjjbGq5MO","name":"RAGInput","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YYYK9GVknQjzmjHjanxIJBLY8l2sIe-I","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1YYYK9GVknQjzmjHjanxIJBLY8l2sIe-I"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"f9fadc5b-b8f7-4b83-8ae1-ed6b9f7f0f75","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ecomerce","mode":"list","cachedResultName":"ecomerce"},"options":{"pineconeNamespace":"namespaceecomerce"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[480,0],"id":"ead50b72-4959-4b97-ada9-e2e4f81103bd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ePrbY8oZ6PSc72vD","name":"PineconeApi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"5da5c788-c41d-4ad7-9612-27c38b03e605","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,224],"id":"cc55eaa3-b048-485e-b976-41f09c981cd4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"data","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,224],"id":"58291235-6060-4570-844c-e0e2efaca955","name":"Default Data Loader"},{"parameters":{"chunkSize":200,"chunkOverlap":20},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[656,432],"id":"85fe6a8d-b6fb-48af-9583-71077a1e2806","name":"Token Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-20T04:28:22Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57939112-9726-455c-a5be-c493015f9b78","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-20T04:26:26.834Z","createdAt":"2025-09-20T04:26:26.834Z","role":"workflow:owner","workflowId":"K8wg5KoNjjbGq5MO","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}