raginput-qdrant-ZQR2TuSG48jgT1X8.json
{"updatedAt":"2025-10-08T12:39:36.000Z","createdAt":"2025-10-08T12:04:38.645Z","id":"ZQR2TuSG48jgT1X8","name":"RAGInput Qdrant","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1YYYK9GVknQjzmjHjanxIJBLY8l2sIe-I","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1YYYK9GVknQjzmjHjanxIJBLY8l2sIe-I"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"644662b2-1e00-4f82-a266-45ccd2154056","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ecomerce","mode":"list","cachedResultName":"ecomerce"},"options":{"pineconeNamespace":"namespaceecomerce"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[912,-64],"id":"a97d3caf-ca16-4000-9446-cd811bb7661a","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ePrbY8oZ6PSc72vD","name":"PineconeApi account"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"6e7394e1-893f-4d68-ae0b-d935a7607c93","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,224],"id":"bdb265dd-f71f-441f-b477-d03afe177aa5","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"data","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,224],"id":"363409f2-63dd-4f91-bb82-61f5602a48a4","name":"Default Data Loader"},{"parameters":{"chunkSize":200,"chunkOverlap":20},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[656,432],"id":"a1567124-bb8e-462f-8bb6-370f33957e93","name":"Token Splitter"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"comercio","mode":"list","cachedResultName":"comercio"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[464,0],"id":"bdd9ea7b-b57c-4ccd-8c05-b16f3ec4cce8","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"j0ROEzR2Z2a8sWdf","name":"QdrantApi account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-20T04:28:22Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80edf9a6-7127-40ec-b31b-59a9b1b91f8b","triggerCount":1,"shared":[{"updatedAt":"2025-10-08T12:04:38.649Z","createdAt":"2025-10-08T12:04:38.649Z","role":"workflow:owner","workflowId":"ZQR2TuSG48jgT1X8","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}