setlist_manager-3s23VOqlFreC4qSH.json
{"updatedAt":"2025-11-16T12:19:47.000Z","createdAt":"2025-11-16T12:08:31.834Z","id":"3s23VOqlFreC4qSH","name":"Setlist_Manager","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Setlist Manager\nThis workflow takes a Google spreadsheet called 'Setlist_Manager' with 'Artist' and 'SongTitle' entries and get's Lyrics for each song and creates a playlist for that set of songs.\n\n1. Create Spotify Playlist (naming it 'Setlist - [date of today]')\n2. Create the Google doc that will store the lyrics found. (naming it 'Setlist - [date of today]')\n3. Get the rows of songs from 'Setlist_Manager'.\n4. Use AI to verify the Artist name and song title.\n5. Get the lyrics to the song.\n6. Append the Google Doc with the lyrics.\n7. Search for the song in Spotify.\n8. Add that song to the Spotify Playlist.\n9. Go to band practice and be prepared! =)\n","height":340,"width":680},"id":"70895609-2334-4574-bd5a-f1c63cc183f2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[240,-112],"typeVersion":1},{"parameters":{},"id":"42166fc5-cafe-4ee3-aa58-35ec56803927","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[240,288],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"value":"1-JX1FK7NzkfF0DKuiZl-MCE2AAOkeiCG_zRg50ursh0","mode":"list","cachedResultName":"ToSpotifySetList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-JX1FK7NzkfF0DKuiZl-MCE2AAOkeiCG_zRg50ursh0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-JX1FK7NzkfF0DKuiZl-MCE2AAOkeiCG_zRg50ursh0/edit#gid=0"},"options":{}},"id":"1bb40036-4d33-4163-ae0f-0f58d6dae157","name":"get data","type":"n8n-nodes-base.googleSheets","position":[912,288],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"text":"=You will be given an artist name and a song title. You'll need to verify the spelling and accuracy of the information. \n\nartist: {{ $json.Artist }}\nsongTitle: {{ $json.SongTitle }}","attributes":{"attributes":[{"name":"Artist","description":"The artist that wrote the song","required":true},{"name":"SongTitle","description":"The name of the song","required":true}]},"options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"b132e60c-2d3e-45dd-9e32-1520ce287c70","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1136,288],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"fe935570-d647-4cd8-96ac-54bc208b878a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1216,512],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.lyrics.ovh/v1/{{ $json.output.Artist }}/{{ $json.output.SongTitle }}","options":{}},"id":"f9b284e7-72c7-43bb-9a60-2cb9d6e6428c","name":"Get Lyrics","type":"n8n-nodes-base.httpRequest","position":[1488,288],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentURL":"={{ $('Create Doc').item.json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Information Extractor').item.json.output.SongTitle }} - {{ $('Information Extractor').item.json.output.Artist }}\n\n{{ $('Get Lyrics').item.json.lyrics }}"},{"object":"pageBreak","action":"insert"}]}},"id":"fbe4650c-9322-464b-b436-e4f82d9ab01d","name":"Populate Doc","type":"n8n-nodes-base.googleDocs","position":[1712,288],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"XQWG549mFgVPvBIQ","name":"Google Docs account"}}},{"parameters":{"resource":"track","operation":"search","query":"={{ $('get data').item.json.Artist }} by {{ $('get data').item.json.SongTitle }}","limit":1,"filters":{}},"id":"b7db6fd7-8a7f-4cd8-bbae-02a190ee008a","name":"Search for Song","type":"n8n-nodes-base.spotify","position":[1936,288],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}}},{"parameters":{"resource":"playlist","id":"={{ $('Create Playlist').item.json.uri }}","trackID":"={{ $('Search for Song').item.json.uri }}","additionalFields":{"position":0}},"id":"2808ca83-89e5-4885-a562-3a34ddff5cca","name":"Add Song to Playlist","type":"n8n-nodes-base.spotify","position":[2160,288],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}}},{"parameters":{"resource":"playlist","operation":"create","name":"=Setlist - {{ $now.format('yyyy-MM-dd') }}","additionalFields":{}},"id":"1fd79267-69e4-4177-8abd-91f98bef6551","name":"Create Playlist","type":"n8n-nodes-base.spotify","position":[464,288],"typeVersion":1,"credentials":{"spotifyOAuth2Api":{"id":"n1grodYu66rtc4ya","name":"Spotify FMCR"}}},{"parameters":{"folderId":"1YYYK9GVknQjzmjHjanxIJBLY8l2sIe-I","title":"=Setlist - {{ $now.format('yyyy-MM-dd') }}"},"id":"c51104d5-2eac-40b1-a534-84ccae3d5017","name":"Create Doc","type":"n8n-nodes-base.googleDocs","position":[688,288],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"XQWG549mFgVPvBIQ","name":"Google Docs account"}}}],"connections":{"get data":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"get data","type":"main","index":0}]]},"Get Lyrics":{"main":[[{"node":"Populate Doc","type":"main","index":0}]]},"Populate Doc":{"main":[[{"node":"Search for Song","type":"main","index":0}]]},"Create Playlist":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Search for Song":{"main":[[{"node":"Add Song to Playlist","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Get Lyrics","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Create Playlist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1618c38e-e721-4865-b670-08e1aaa2bd52","triggerCount":0,"shared":[{"updatedAt":"2025-11-16T12:08:31.846Z","createdAt":"2025-11-16T12:08:31.846Z","role":"workflow:owner","workflowId":"3s23VOqlFreC4qSH","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}