sistemaragestandar-tP5O0DarX7mi7acl.json
{"updatedAt":"2025-11-15T14:05:07.000Z","createdAt":"2025-11-04T02:41:44.712Z","id":"tP5O0DarX7mi7acl","name":"SistemaRAGEstandar","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Carga Documento","formFields":{"values":[{"fieldLabel":"docuemntoo","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-3584,-64],"id":"1751cb6f-f49b-44e2-acc3-a3a9fad125d3","name":"On form submission","webhookId":"af3912f4-be26-4d83-8de2-a4515552657b","disabled":true},{"parameters":{"mode":"insert","embeddingBatchSize":250,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1440,272],"id":"95d95ca6-0ef3-4b21-8dfe-1bfd5aecc54e","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1344,800],"id":"896db89a-b13a-4a31-bd5b-0c572c5dfb73","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1296,480],"id":"03ace0d5-f20f-4d8c-9bb8-51245c2e19ab","name":"Default Data Loader"},{"parameters":{"chunkOverlap":250,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1200,624],"id":"12897f90-c590-4624-ab44-c5cb6a84fa6a","name":"Recursive Character Text Splitter"},{"parameters":{"public":true,"initialMessages":"Hola! 👋\nMi nombre es Belisario, tienes alguna pregunta acerca del Reglamento de la Asociación de Scouts del Perú?","options":{"subtitle":"Chat inciado. Estamos para ayudarte  24/7.","title":"Hola! 👋"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-656,208],"id":"6e5187e9-3d24-492c-bbe9-646dc96ad762","name":"When chat message received","webhookId":"289996f4-ee92-4fec-9441-3be46dfce1ad"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,352],"id":"30910cd6-6a74-4ac4-ad43-0913fe4866ce","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,352],"id":"07d7f2a6-987d-48e5-91a4-145a060bdf29","name":"Simple Memory"},{"parameters":{"description":"Aqui puedes tomar los documentos cargados como base de informacion para responder preguntas relacionadas"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-160,352],"id":"e06f0448-7121-404f-b8a7-b58b9d637646","name":"Answer questions with a vector store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-272,560],"id":"50c998ae-f244-4155-bb7a-5d4d14346be1","name":"Postgres PGVector Store2","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[16,560],"id":"172fd638-b77c-4f5f-974e-c3f965379bf0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1616,272],"id":"da39cf1d-aaca-4c66-8192-a485a9881366","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3792,272],"id":"631cdba0-b541-457e-8294-1460f83b84ab","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3792,496],"id":"ddf35e6f-94d7-4eff-82a6-6d522e54b6c7","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Qh295TwIMBcsK2iwqMtUEnPYio07TmMl","mode":"list","cachedResultName":"DocumentosFMCR","cachedResultUrl":"https://drive.google.com/drive/folders/1Qh295TwIMBcsK2iwqMtUEnPYio07TmMl"},"includeTrashed":false},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3520,368],"id":"a3eae59e-f4e2-4c6a-b486-3d6b88b36a0c","name":"Buscar Archivos y Directorios","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44645007-1098-4620-906a-256366b25261","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.folder","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3312,368],"id":"61316cda-7b4a-4ca4-9e0a-333b0f3b86a9","name":"¿En un archivo?"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,480],"id":"e52ad0ad-4b51-4f06-9753-93cff7cc49a0","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"select count(*) as ingested from public.ingested_files\nwhere file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2944,240],"id":"905e7496-3176-47a4-9a92-ac0001e02baa","name":"Obtener Carga Previa","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41810138-fc92-47ce-ac08-445c0a7437e3","leftValue":"={{ $json.ingested }}","rightValue":"=0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2736,240],"id":"139218ef-a078-4581-95fe-c296eee59814","name":"¿Fue Previamente Cargado?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2512,96],"id":"a64da7c4-c283-4b03-bf97-3bd65f2619d7","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"bf2e151c-0b18-494b-8e5a-81b4d5e05dfe","name":"id","value":"={{ $('¿En un archivo?').item.json.id }}","type":"string"},{"id":"78836bc5-5212-489c-b562-86f5f653f9ab","name":"md5Checksum","value":"={{ $('¿En un archivo?').item.json.md5Checksum }}","type":"string"},{"id":"34aef73d-31c1-41f4-8865-320661c0e252","name":"mimeType","value":"={{ $('¿En un archivo?').item.json.mimeType }}","type":"string"},{"id":"a7329051-1202-4436-b4fe-96b36658ae4b","name":"modifiedTime","value":"={{ $('¿En un archivo?').item.json.modifiedTime }}","type":"string"},{"id":"9709f102-cf5e-47bc-9f00-e0524afe557e","name":"name","value":"={{ $('¿En un archivo?').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2512,256],"id":"af9a89b9-77ea-4efc-b0b0-1fd4532dfc91","name":"Extraer variables"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_vectors where file_id= '{{ $json.id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,400],"id":"9df995f2-dbeb-4ef8-9228-1b3267e4b3ef","name":"Borrar referencias","alwaysOutputData":true,"credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2048,272],"id":"1b8ad38b-8781-4f46-985c-c26458f5a932","name":"Esperar Eliminacion"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ingested_files","mode":"list","cachedResultName":"ingested_files"},"columns":{"mappingMode":"defineBelow","value":{"file_id":"={{ $json.id }}","name":"={{ $json.name }}","mime_type":"={{ $json.mimeType }}","md5_checksum":"={{ $json.md5Checksum }}","modified_time":"={{ $json.modifiedTime }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mime_type","displayName":"mime_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"md5_checksum","displayName":"md5_checksum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modified_time","displayName":"modified_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"last_ingested","displayName":"last_ingested","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1840,272],"id":"819fcb1f-284e-4859-8f34-7a76f5f32af9","name":"Insertar documento","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_vectors\nSET file_id = '{{ $('Extraer variables').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1088,272],"id":"79b56748-2e85-460c-b5d7-5656755a1d74","name":"Actualizar file_id en Vectores","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-832,384],"id":"a513c136-c53b-49b9-bc95-c8c00e4498fe","name":"Termina Proceso"},{"parameters":{"options":{"systemMessage":"=# Rol: Asistente\n\n## Descripción\nEres un asistente diseñado para ayudar a una persona a consultar información contenida en documentos internos. \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional y formal, y prioriza la exactitud legal en todas tus respuestas.  \n\nTus respuestas deben de ser cortas y puntuales.\n\nSi no conoces la respuesta, responde que no dispones de la información.\n\n\n\n## Capacidades\n- Búsqueda y recuperación de información relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Mantener confidencialidad y precisión en todas las respuestas.  \n\n\n## Comportamiento\n1. Recepción de la consulta: Recibe la pregunta o solicitud de una persona.  \n2. Búsqueda de información en la base de conocimiento para encontrar información relevante en los documentos.  \n3. Generación de la respuesta:  \n   - Si encuentras la información:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre o identificación del documento y sección/cláusula si aplica).  \n   - Si no encuentras la información:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n4. Confidencialidad: No reveles información fuera de lo que esté contenido en los documentos.  \n5. Tono: Profesional, formal, claro y directo.  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-368,128],"id":"fc2f3c9d-6e9d-4050-aa3f-b1b67ce0f2a1","name":"AI Agent"}],"connections":{"On form submission":{"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres PGVector Store2":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Buscar Archivos y Directorios","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar Archivos y Directorios","type":"main","index":0}]]},"Buscar Archivos y Directorios":{"main":[[{"node":"¿En un archivo?","type":"main","index":0}]]},"¿En un archivo?":{"main":[[{"node":"Obtener Carga Previa","type":"main","index":0}],[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"¿En un archivo?","type":"main","index":0}]]},"Obtener Carga Previa":{"main":[[{"node":"¿Fue Previamente Cargado?","type":"main","index":0}]]},"¿Fue Previamente Cargado?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Extraer variables","type":"main","index":0}]]},"Extraer variables":{"main":[[{"node":"Borrar referencias","type":"main","index":0},{"node":"Esperar Eliminacion","type":"main","index":0}]]},"Borrar referencias":{"main":[[{"node":"Esperar Eliminacion","type":"main","index":1}]]},"Esperar Eliminacion":{"main":[[{"node":"Insertar documento","type":"main","index":0}]]},"Insertar documento":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Actualizar file_id en Vectores","type":"main","index":0}]]},"Actualizar file_id en Vectores":{"main":[[{"node":"Termina Proceso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20574dbd-c7de-4bc4-b847-9b07c4bfdd6e","activeVersionId":"20574dbd-c7de-4bc4-b847-9b07c4bfdd6e","triggerCount":2,"shared":[{"updatedAt":"2025-11-04T02:41:44.726Z","createdAt":"2025-11-04T02:41:44.726Z","role":"workflow:owner","workflowId":"tP5O0DarX7mi7acl","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-11-28T10:24:07.534Z","createdAt":"2025-11-28T10:24:07.534Z","versionId":"20574dbd-c7de-4bc4-b847-9b07c4bfdd6e","workflowId":"tP5O0DarX7mi7acl","nodes":[{"parameters":{"formTitle":"Carga Documento","formFields":{"values":[{"fieldLabel":"docuemntoo","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-3584,-64],"id":"1751cb6f-f49b-44e2-acc3-a3a9fad125d3","name":"On form submission","webhookId":"af3912f4-be26-4d83-8de2-a4515552657b","disabled":true},{"parameters":{"mode":"insert","embeddingBatchSize":250,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1440,272],"id":"95d95ca6-0ef3-4b21-8dfe-1bfd5aecc54e","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1344,800],"id":"896db89a-b13a-4a31-bd5b-0c572c5dfb73","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1296,480],"id":"03ace0d5-f20f-4d8c-9bb8-51245c2e19ab","name":"Default Data Loader"},{"parameters":{"chunkOverlap":250,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1200,624],"id":"12897f90-c590-4624-ab44-c5cb6a84fa6a","name":"Recursive Character Text Splitter"},{"parameters":{"public":true,"initialMessages":"Hola! 👋\nMi nombre es Belisario, tienes alguna pregunta acerca del Reglamento de la Asociación de Scouts del Perú?","options":{"subtitle":"Chat inciado. Estamos para ayudarte  24/7.","title":"Hola! 👋"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-656,208],"id":"6e5187e9-3d24-492c-bbe9-646dc96ad762","name":"When chat message received","webhookId":"289996f4-ee92-4fec-9441-3be46dfce1ad"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,352],"id":"30910cd6-6a74-4ac4-ad43-0913fe4866ce","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,352],"id":"07d7f2a6-987d-48e5-91a4-145a060bdf29","name":"Simple Memory"},{"parameters":{"description":"Aqui puedes tomar los documentos cargados como base de informacion para responder preguntas relacionadas"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-160,352],"id":"e06f0448-7121-404f-b8a7-b58b9d637646","name":"Answer questions with a vector store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-272,560],"id":"50c998ae-f244-4155-bb7a-5d4d14346be1","name":"Postgres PGVector Store2","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[16,560],"id":"172fd638-b77c-4f5f-974e-c3f965379bf0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1616,272],"id":"da39cf1d-aaca-4c66-8192-a485a9881366","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3792,272],"id":"631cdba0-b541-457e-8294-1460f83b84ab","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3792,496],"id":"ddf35e6f-94d7-4eff-82a6-6d522e54b6c7","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Qh295TwIMBcsK2iwqMtUEnPYio07TmMl","mode":"list","cachedResultName":"DocumentosFMCR","cachedResultUrl":"https://drive.google.com/drive/folders/1Qh295TwIMBcsK2iwqMtUEnPYio07TmMl"},"includeTrashed":false},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3520,368],"id":"a3eae59e-f4e2-4c6a-b486-3d6b88b36a0c","name":"Buscar Archivos y Directorios","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44645007-1098-4620-906a-256366b25261","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.folder","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3312,368],"id":"61316cda-7b4a-4ca4-9e0a-333b0f3b86a9","name":"¿En un archivo?"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,480],"id":"e52ad0ad-4b51-4f06-9753-93cff7cc49a0","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"Bfb8BlI7kafDgPWn","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"select count(*) as ingested from public.ingested_files\nwhere file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2944,240],"id":"905e7496-3176-47a4-9a92-ac0001e02baa","name":"Obtener Carga Previa","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41810138-fc92-47ce-ac08-445c0a7437e3","leftValue":"={{ $json.ingested }}","rightValue":"=0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2736,240],"id":"139218ef-a078-4581-95fe-c296eee59814","name":"¿Fue Previamente Cargado?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2512,96],"id":"a64da7c4-c283-4b03-bf97-3bd65f2619d7","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"bf2e151c-0b18-494b-8e5a-81b4d5e05dfe","name":"id","value":"={{ $('¿En un archivo?').item.json.id }}","type":"string"},{"id":"78836bc5-5212-489c-b562-86f5f653f9ab","name":"md5Checksum","value":"={{ $('¿En un archivo?').item.json.md5Checksum }}","type":"string"},{"id":"34aef73d-31c1-41f4-8865-320661c0e252","name":"mimeType","value":"={{ $('¿En un archivo?').item.json.mimeType }}","type":"string"},{"id":"a7329051-1202-4436-b4fe-96b36658ae4b","name":"modifiedTime","value":"={{ $('¿En un archivo?').item.json.modifiedTime }}","type":"string"},{"id":"9709f102-cf5e-47bc-9f00-e0524afe557e","name":"name","value":"={{ $('¿En un archivo?').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2512,256],"id":"af9a89b9-77ea-4efc-b0b0-1fd4532dfc91","name":"Extraer variables"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_vectors where file_id= '{{ $json.id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,400],"id":"9df995f2-dbeb-4ef8-9228-1b3267e4b3ef","name":"Borrar referencias","alwaysOutputData":true,"credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2048,272],"id":"1b8ad38b-8781-4f46-985c-c26458f5a932","name":"Esperar Eliminacion"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ingested_files","mode":"list","cachedResultName":"ingested_files"},"columns":{"mappingMode":"defineBelow","value":{"file_id":"={{ $json.id }}","name":"={{ $json.name }}","mime_type":"={{ $json.mimeType }}","md5_checksum":"={{ $json.md5Checksum }}","modified_time":"={{ $json.modifiedTime }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mime_type","displayName":"mime_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"md5_checksum","displayName":"md5_checksum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modified_time","displayName":"modified_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"last_ingested","displayName":"last_ingested","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1840,272],"id":"819fcb1f-284e-4859-8f34-7a76f5f32af9","name":"Insertar documento","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_vectors\nSET file_id = '{{ $('Extraer variables').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1088,272],"id":"79b56748-2e85-460c-b5d7-5656755a1d74","name":"Actualizar file_id en Vectores","credentials":{"postgres":{"id":"7IqqF3gK4EKCRiDj","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-832,384],"id":"a513c136-c53b-49b9-bc95-c8c00e4498fe","name":"Termina Proceso"},{"parameters":{"options":{"systemMessage":"=# Rol: Asistente\n\n## Descripción\nEres un asistente diseñado para ayudar a una persona a consultar información contenida en documentos internos. \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional y formal, y prioriza la exactitud legal en todas tus respuestas.  \n\nTus respuestas deben de ser cortas y puntuales.\n\nSi no conoces la respuesta, responde que no dispones de la información.\n\n\n\n## Capacidades\n- Búsqueda y recuperación de información relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Mantener confidencialidad y precisión en todas las respuestas.  \n\n\n## Comportamiento\n1. Recepción de la consulta: Recibe la pregunta o solicitud de una persona.  \n2. Búsqueda de información en la base de conocimiento para encontrar información relevante en los documentos.  \n3. Generación de la respuesta:  \n   - Si encuentras la información:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre o identificación del documento y sección/cláusula si aplica).  \n   - Si no encuentras la información:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n4. Confidencialidad: No reveles información fuera de lo que esté contenido en los documentos.  \n5. Tono: Profesional, formal, claro y directo.  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-368,128],"id":"fc2f3c9d-6e9d-4050-aa3f-b1b67ce0f2a1","name":"AI Agent"}],"connections":{"On form submission":{"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres PGVector Store2":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Buscar Archivos y Directorios","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar Archivos y Directorios","type":"main","index":0}]]},"Buscar Archivos y Directorios":{"main":[[{"node":"¿En un archivo?","type":"main","index":0}]]},"¿En un archivo?":{"main":[[{"node":"Obtener Carga Previa","type":"main","index":0}],[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"¿En un archivo?","type":"main","index":0}]]},"Obtener Carga Previa":{"main":[[{"node":"¿Fue Previamente Cargado?","type":"main","index":0}]]},"¿Fue Previamente Cargado?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Extraer variables","type":"main","index":0}]]},"Extraer variables":{"main":[[{"node":"Borrar referencias","type":"main","index":0},{"node":"Esperar Eliminacion","type":"main","index":0}]]},"Borrar referencias":{"main":[[{"node":"Esperar Eliminacion","type":"main","index":1}]]},"Esperar Eliminacion":{"main":[[{"node":"Insertar documento","type":"main","index":0}]]},"Insertar documento":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Actualizar file_id en Vectores","type":"main","index":0}]]},"Actualizar file_id en Vectores":{"main":[[{"node":"Termina Proceso","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}