sub-enrutado-FJV8h70seq7pGSph.json
{"updatedAt":"2025-11-29T13:10:48.000Z","createdAt":"2025-11-23T15:43:26.786Z","id":"FJV8h70seq7pGSph","name":"sub-enrutado","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1xUl4oQ2L6XzkGwJyVTLFXH4wwdUmIyT9IxYfCacogx8","mode":"list","cachedResultName":"Peticiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xUl4oQ2L6XzkGwJyVTLFXH4wwdUmIyT9IxYfCacogx8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xUl4oQ2L6XzkGwJyVTLFXH4wwdUmIyT9IxYfCacogx8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"usuario":"={{ $('Start').item.json.usuario }}","mensaje":"={{ $('Start').item.json.mensaje }}","fecha":"={{ $('Start').item.json.fecha }}","categoria":"={{ $json.categoria }}","estado":"en tramite"},"matchingColumns":[],"schema":[{"id":"usuario","displayName":"usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,724],"id":"24faf6ce-9e8f-46cc-9df6-3f5dc7266e93","name":"Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"sendTo":"fmcuya@gmail.com","subject":"=Nueva Petición -  {{ $('Start').item.json.usuario }}","message":"=Usuario: {{ $('Start').item.json.usuario }}\nMensaje: {{ $('Start').item.json.mensaje }}\nPrioridad: {{ $('Start').item.json.pioridad }}\nFecha: {{ $('Start').item.json.fecha }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,288],"id":"6a34132c-94b8-4c8c-a219-13e6eb5f9e3e","name":"Gmail","webhookId":"a100da5f-630c-4dd0-bd37-240566fe3b16","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.categoria }}","rightValue":"it","operator":{"type":"string","operation":"equals"},"id":"b07ece39-3904-4f05-a5a0-5db0a0dbe5b6"}],"combinator":"and"},"renameOutput":true,"outputKey":"IT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99ce5497-a46d-4aa7-965f-1e839207fcf0","leftValue":"={{ $json.categoria }}","rightValue":"legal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Legal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c69b005a-4ddb-41ff-9171-c81d7a0c3e0e","leftValue":"={{ $json.categoria }}","rightValue":"facilities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facilities"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[336,256],"id":"a4fa2c36-7b83-4b40-a442-de954a00b8ba","name":"Switch"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2b4b9d2b-70a3-80ff-a2f7-ffb35ec432ec","mode":"list","cachedResultName":"BDFMCR","cachedResultUrl":"https://www.notion.so/2b4b9d2b70a380ffa2f7ffb35ec432ec"},"title":"={{ $('Start').item.json.ejecucion_id }} - {{ $('Start').item.json.usuario }}","propertiesUi":{"propertyValues":[{"key":"Estado|rich_text","textContent":"en tramite"},{"key":"Fecha|date","date":"={{ $('Start').item.json.fecha }}"},{"key":"Mensaje|rich_text","textContent":"={{ $('Start').item.json.mensaje }}"},{"key":"Usuario|title","title":"={{ $('Start').item.json.usuario }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[560,916],"id":"3bb1af9b-8865-44b0-a669-bf52890c9f67","name":"Notion","credentials":{"notionApi":{"id":"7i9ZzX92Zq1Tb3FB","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f5ddf0b5-12f9-427e-a3ea-71184ddc4bed","name":"origen","value":"={{ $prevNode.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,288],"id":"ffecc8c9-ad04-4d19-9caa-d1ad62066e51","name":"Edit Fields1"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09URK4DUBU","mode":"list","cachedResultName":"soporte"},"text":"=Solicitud de {{ $('Start').item.json.usuario }}\nCategoría : {{ $json.categoria }}\nMensaje : {{ $('Start').item.json.mensaje }}\nPrioridad: {{ $('Start').item.json.pioridad }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[560,96],"id":"c8201686-0b65-40df-a5c0-2112dc6de3e8","name":"Slack","webhookId":"8016074f-f1d4-4764-93c3-b88a37a5d8fb","credentials":{"slackOAuth2Api":{"id":"RSK8CjjomAuorJzN","name":"Slack account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"categoria","type":"any"},{"name":"pioridad","type":"any"},{"name":"usuario","type":"any"},{"name":"mensaje","type":"any"},{"name":"ejecucion_id","type":"any"},{"name":"fecha","type":"any"}]}},"id":"af05f46a-ed39-42ed-bc48-5df64e4ffcc4","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[112,288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0515755-3e60-40c1-8e25-3a41a9fdb537","leftValue":"={{ $json.pioridad }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[560,532],"id":"ad964595-1a77-4f93-a51e-bcb6d0a503e6","name":"Filter"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json) }}","options":{"systemMessage":"=Agenda un evento en el calendario con el usuario para resolver su problema con una duracion maxima de 15 minutos lo antes posible.\n\nEnvia un correo al usuario bien formateado con la fecha del evento  y con seccion de posibles soluciones que hemos conseguido des SerpAPI.\n\nEl mensaje tiene que ser formateado en html difereciando las secciones para que sea facil de leer para el usuario.\n\nLa respuesta debe ser en español"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[848,512],"id":"6f90a245-1d4b-4c0c-9463-1f6793d7b67c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[792,808],"id":"ea1757c8-54cb-43ae-ae6d-18bce2c02a6c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"endpointUrl":"https://n8n-project-n8n.z4znbw.easypanel.host/mcp/herramientas","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[920,808],"id":"7018cf42-e908-4dac-a9a2-2a2f45afb177","name":"MCP Client"}],"connections":{"Switch":{"main":[[{"node":"Slack","type":"main","index":0},{"node":"Filter","type":"main","index":0}],[],[{"node":"Gmail","type":"main","index":0}],[{"node":"Google Sheet","type":"main","index":0}]]},"Slack":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Sheet":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Start":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Filter":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"categoria":"it","pioridad":"alta","usuario":"fmcuya@gmail.com","mensaje":"no me funciona el mpouse que debo hacer","ejecucion_id":5558,"fecha":"2025/11/29"}}]},"versionId":"17b86858-34fe-48d2-bc74-eb730e3ccd3f","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T15:43:26.802Z","createdAt":"2025-11-23T15:43:26.802Z","role":"workflow:owner","workflowId":"FJV8h70seq7pGSph","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}