sub_clasificar_mensaje-Q6o2A3hJDHnkQd7U.json
{"updatedAt":"2025-11-23T11:34:23.000Z","createdAt":"2025-11-23T11:28:17.368Z","id":"Q6o2A3hJDHnkQd7U","name":"sub_clasificar_mensaje","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,-64],"id":"aa1f2e04-e537-4ad9-a16a-43226d1b5539","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","hasOutputParser":true,"options":{"systemMessage":"Clasifica el siguiente mensaje segun su tema: IT, Legal, Facilities u Otro. Devuelve solo una palabra, en minuscula."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-304,-64],"id":"fcce7a92-0cd9-408e-85ba-fae8f62a3d6d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-296,160],"id":"5c147088-298b-444b-a558-f8ed4c24fc84","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"categoria\": \"it\",\n\t\"confianza\": \"alta\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-168,160],"id":"b66d8a19-064c-40c2-9b26-aaee725b22fb","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"d7b24179-ca04-4d6d-a746-9d64cf6ebaa2","name":"categoria","value":"={{ $json.output.categoria }}","type":"string"},{"id":"71d8bb38-1b6c-4189-bf5e-d5d09734b6a2","name":"confianza","value":"={{ $json.output.confianza }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-64],"id":"2e6f57b8-c8e7-4fb8-b56d-0e11618c4f68","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"Creare tarea en el proyecto backend"}}]},"versionId":"903c6387-10be-4b3e-bde6-f1877d3a8cf4","activeVersionId":"903c6387-10be-4b3e-bde6-f1877d3a8cf4","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T11:28:17.375Z","createdAt":"2025-11-23T11:28:17.375Z","role":"workflow:owner","workflowId":"Q6o2A3hJDHnkQd7U","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-11-28T10:24:07.534Z","createdAt":"2025-11-28T10:24:07.534Z","versionId":"903c6387-10be-4b3e-bde6-f1877d3a8cf4","workflowId":"Q6o2A3hJDHnkQd7U","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,-64],"id":"aa1f2e04-e537-4ad9-a16a-43226d1b5539","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","hasOutputParser":true,"options":{"systemMessage":"Clasifica el siguiente mensaje segun su tema: IT, Legal, Facilities u Otro. Devuelve solo una palabra, en minuscula."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-304,-64],"id":"fcce7a92-0cd9-408e-85ba-fae8f62a3d6d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-296,160],"id":"5c147088-298b-444b-a558-f8ed4c24fc84","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"categoria\": \"it\",\n\t\"confianza\": \"alta\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-168,160],"id":"b66d8a19-064c-40c2-9b26-aaee725b22fb","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"d7b24179-ca04-4d6d-a746-9d64cf6ebaa2","name":"categoria","value":"={{ $json.output.categoria }}","type":"string"},{"id":"71d8bb38-1b6c-4189-bf5e-d5d09734b6a2","name":"confianza","value":"={{ $json.output.confianza }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-64],"id":"2e6f57b8-c8e7-4fb8-b56d-0e11618c4f68","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}