telegrambot-MEfyXvtWth8Ue6Ee.json
{"updatedAt":"2025-11-15T14:12:17.000Z","createdAt":"2025-11-11T12:22:46.010Z","id":"MEfyXvtWth8Ue6Ee","name":"TelegramBot","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2480,-848],"id":"d1036594-791e-4833-a9fe-2b150144fc09","name":"Telegram Trigger","webhookId":"fd4df59e-2976-4aad-ac53-e4dc7830b32f","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"operation":"sendSticker","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-1088],"id":"4c1702b0-ea1e-453a-aa29-3a5e714a0840","name":"Enviar Sticker","webhookId":"c353b772-a209-4448-9323-05dec754715b","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"url":"https://api.giphy.com/v1/stickers/random?api_key=OojKn8li7ojrHnsVGDR7Z0CjaNomnKWZ&tag=Hola&rating=pg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2032,-1088],"id":"005b9443-7318-4d18-b034-ac2a643f3318","name":"HTTP Request"},{"parameters":{"url":"={{ $json.data.images.original.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1808,-1088],"id":"8d534a18-dab7-41f6-953b-530a6e4846be","name":"Descargar Sticker"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"9ade1c60-4e1e-4cda-94bb-b994c9092bc1"}],"combinator":"and"},"renameOutput":true,"outputKey":"/start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43e4a602-97f4-461e-8cd8-0d7f2921bcff","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text-message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be95e02b-b599-4581-a546-aef73da8fd8f","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image-message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42205e3b-27e7-4b6b-a262-9ff0928183e4","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio-message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2256,-880],"id":"a4c328e4-861f-45c0-ba8e-3a7ed34a538e","name":"¿Qué tipo de mensaje es?"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1360,-944],"id":"03c78c42-59fc-43fe-890a-7017d546aefe","name":"Escribiendo","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n\"ai\":\"\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-944],"id":"90ce7cd0-f03f-44ba-b9d4-a2dcf26fb847","name":"Datos del Mensaje"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=## Descripción\n- Eres un asistente que ayuda a las personas con problemas de cultura general\n\n- A veces recibirás textos de imágenes previamente analizadas por otro AI, la respuesta no ha sido enviada al usuario, tu labor sería enviarle ese mensaje al usuario.\n\n## Información previa de la imagen mediante IA {{ $json.ai }}\n\n\n\n## Tools\n\"send_telegram\" te permite enviar mensajes de telegram\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-688,-752],"id":"b471f8e9-a7ed-429d-a894-f634bd0feac9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-688,-528],"id":"c7ba27cc-884a-4c29-8b88-7ec66c689166","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-560,-528],"id":"4f4e8c2a-8cd7-465c-8510-2412baf788e6","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-112,-656],"id":"a562eca4-e689-4569-b83e-b5c8f31e2fa5","name":"EnviaMesajeTexto","webhookId":"c23798f3-2715-40ce-ab4e-22bfb1c82a88","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"jsCode":"return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1]  || $('Telegram Trigger').first().json.message.photo[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-752],"id":"99ee2092-1b14-4731-a964-f65d6bc24fe4","name":"Seleccionar Foto con Mejor Resolucion"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,-752],"id":"459c0787-61e1-4a8b-b6b0-130a527acced","name":"Escribiendo1","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || '¿ Qué hay en la imagen ?' }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1360,-752],"id":"dd908914-fb0e-4aff-9ccb-272e916da92d","name":"Analizar Imagen","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.caption || '¿ Qué hay en la imagen ?' }}\",\n  \"type\": \"image\",\n\"ai\":{{ $json['0'].content[0].text.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-752],"id":"1a5b4027-2e57-4fc5-83a8-c493b2a7297b","name":"Datos de la Imagen"},{"parameters":{"jsCode":"return {\n  text : $input.first().json.text,\n  type:$input.first().json.type,\n  ai:$input.first().json.ai\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,-752],"id":"069b02bb-4872-448a-8b63-7b7e87046be2","name":"Unir Datos"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","action":"record_audio"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1808,-560],"id":"949071d0-8143-4f1b-afc5-7ed691e60c7d","name":"Grabando Audio","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-752],"id":"9b79ce42-808d-444a-b1bd-0e30b768fe5e","name":"Descarga Foto","webhookId":"3f8f22da-7248-4380-9b33-42bcd86fe318","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-560],"id":"c50c9742-8431-4c52-817a-ee0be7d21abb","name":"Descarga Audio","webhookId":"3f8f22da-7248-4380-9b33-42bcd86fe318","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1360,-560],"id":"26cd5bfa-a657-4575-92d0-22dec5bb0add","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": {{ $json.text.toJsonString() }},\n  \"type\": \"audio\",\n\"ai\":\"\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-560],"id":"ec474b24-146d-4334-9f6d-cc47583a2ead","name":"Datos del Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"660a7495-601e-477e-878f-e2e828d97aec","leftValue":"={{ $('Unir Datos').item.json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-752],"id":"0f4623f2-22b4-4113-addc-f80c356437bf","name":"¿ Es Audio ?"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"echo","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-112,-848],"id":"a4d9c639-7c7f-4a8a-ab63-0c3679259be0","name":"Generate audio","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[112,-848],"id":"c4d38774-d70b-465e-bbaf-db9492c79ea3","name":"Send an audio file","webhookId":"3a42dcd0-3927-49a4-859b-01d63d68f116","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"¿Qué tipo de mensaje es?","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Descargar Sticker","type":"main","index":0}]]},"Descargar Sticker":{"main":[[{"node":"Enviar Sticker","type":"main","index":0}]]},"¿Qué tipo de mensaje es?":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Escribiendo","type":"main","index":0}],[{"node":"Escribiendo1","type":"main","index":0}],[{"node":"Grabando Audio","type":"main","index":0}]]},"Escribiendo":{"main":[[{"node":"Datos del Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Datos del Mensaje":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"¿ Es Audio ?","type":"main","index":0}]]},"Escribiendo1":{"main":[[{"node":"Seleccionar Foto con Mejor Resolucion","type":"main","index":0}]]},"Seleccionar Foto con Mejor Resolucion":{"main":[[{"node":"Descarga Foto","type":"main","index":0}]]},"Analizar Imagen":{"main":[[{"node":"Datos de la Imagen","type":"main","index":0}]]},"Datos de la Imagen":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"Unir Datos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Descarga Foto":{"main":[[{"node":"Analizar Imagen","type":"main","index":0}]]},"Grabando Audio":{"main":[[{"node":"Descarga Audio","type":"main","index":0}]]},"Descarga Audio":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Datos del Audio","type":"main","index":0}]]},"Datos del Audio":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"¿ Es Audio ?":{"main":[[{"node":"Generate audio","type":"main","index":0}],[{"node":"EnviaMesajeTexto","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"278f68d7-c82d-497f-a277-abf48e560fee","activeVersionId":"278f68d7-c82d-497f-a277-abf48e560fee","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T12:22:46.018Z","createdAt":"2025-11-11T12:22:46.018Z","role":"workflow:owner","workflowId":"MEfyXvtWth8Ue6Ee","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":{"updatedAt":"2025-11-28T10:24:07.534Z","createdAt":"2025-11-28T10:24:07.534Z","versionId":"278f68d7-c82d-497f-a277-abf48e560fee","workflowId":"MEfyXvtWth8Ue6Ee","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2480,-848],"id":"d1036594-791e-4833-a9fe-2b150144fc09","name":"Telegram Trigger","webhookId":"fd4df59e-2976-4aad-ac53-e4dc7830b32f","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"operation":"sendSticker","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-1088],"id":"4c1702b0-ea1e-453a-aa29-3a5e714a0840","name":"Enviar Sticker","webhookId":"c353b772-a209-4448-9323-05dec754715b","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"url":"https://api.giphy.com/v1/stickers/random?api_key=OojKn8li7ojrHnsVGDR7Z0CjaNomnKWZ&tag=Hola&rating=pg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2032,-1088],"id":"005b9443-7318-4d18-b034-ac2a643f3318","name":"HTTP Request"},{"parameters":{"url":"={{ $json.data.images.original.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1808,-1088],"id":"8d534a18-dab7-41f6-953b-530a6e4846be","name":"Descargar Sticker"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"9ade1c60-4e1e-4cda-94bb-b994c9092bc1"}],"combinator":"and"},"renameOutput":true,"outputKey":"/start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43e4a602-97f4-461e-8cd8-0d7f2921bcff","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text-message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be95e02b-b599-4581-a546-aef73da8fd8f","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image-message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42205e3b-27e7-4b6b-a262-9ff0928183e4","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio-message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2256,-880],"id":"a4c328e4-861f-45c0-ba8e-3a7ed34a538e","name":"¿Qué tipo de mensaje es?"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1360,-944],"id":"03c78c42-59fc-43fe-890a-7017d546aefe","name":"Escribiendo","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n\"ai\":\"\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-944],"id":"90ce7cd0-f03f-44ba-b9d4-a2dcf26fb847","name":"Datos del Mensaje"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=## Descripción\n- Eres un asistente que ayuda a las personas con problemas de cultura general\n\n- A veces recibirás textos de imágenes previamente analizadas por otro AI, la respuesta no ha sido enviada al usuario, tu labor sería enviarle ese mensaje al usuario.\n\n## Información previa de la imagen mediante IA {{ $json.ai }}\n\n\n\n## Tools\n\"send_telegram\" te permite enviar mensajes de telegram\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-688,-752],"id":"b471f8e9-a7ed-429d-a894-f634bd0feac9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-688,-528],"id":"c7ba27cc-884a-4c29-8b88-7ec66c689166","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-560,-528],"id":"4f4e8c2a-8cd7-465c-8510-2412baf788e6","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-112,-656],"id":"a562eca4-e689-4569-b83e-b5c8f31e2fa5","name":"EnviaMesajeTexto","webhookId":"c23798f3-2715-40ce-ab4e-22bfb1c82a88","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"jsCode":"return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1]  || $('Telegram Trigger').first().json.message.photo[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-752],"id":"99ee2092-1b14-4731-a964-f65d6bc24fe4","name":"Seleccionar Foto con Mejor Resolucion"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,-752],"id":"459c0787-61e1-4a8b-b6b0-130a527acced","name":"Escribiendo1","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || '¿ Qué hay en la imagen ?' }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1360,-752],"id":"dd908914-fb0e-4aff-9ccb-272e916da92d","name":"Analizar Imagen","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.caption || '¿ Qué hay en la imagen ?' }}\",\n  \"type\": \"image\",\n\"ai\":{{ $json['0'].content[0].text.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-752],"id":"1a5b4027-2e57-4fc5-83a8-c493b2a7297b","name":"Datos de la Imagen"},{"parameters":{"jsCode":"return {\n  text : $input.first().json.text,\n  type:$input.first().json.type,\n  ai:$input.first().json.ai\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,-752],"id":"069b02bb-4872-448a-8b63-7b7e87046be2","name":"Unir Datos"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","action":"record_audio"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1808,-560],"id":"949071d0-8143-4f1b-afc5-7ed691e60c7d","name":"Grabando Audio","webhookId":"cb7450f4-1a87-445c-b17c-bd75e9e74069","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-752],"id":"9b79ce42-808d-444a-b1bd-0e30b768fe5e","name":"Descarga Foto","webhookId":"3f8f22da-7248-4380-9b33-42bcd86fe318","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,-560],"id":"c50c9742-8431-4c52-817a-ee0be7d21abb","name":"Descarga Audio","webhookId":"3f8f22da-7248-4380-9b33-42bcd86fe318","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-1360,-560],"id":"26cd5bfa-a657-4575-92d0-22dec5bb0add","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"text\": {{ $json.text.toJsonString() }},\n  \"type\": \"audio\",\n\"ai\":\"\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,-560],"id":"ec474b24-146d-4334-9f6d-cc47583a2ead","name":"Datos del Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"660a7495-601e-477e-878f-e2e828d97aec","leftValue":"={{ $('Unir Datos').item.json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-752],"id":"0f4623f2-22b4-4113-addc-f80c356437bf","name":"¿ Es Audio ?"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"echo","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-112,-848],"id":"a4d9c639-7c7f-4a8a-ab63-0c3679259be0","name":"Generate audio","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[112,-848],"id":"c4d38774-d70b-465e-bbaf-db9492c79ea3","name":"Send an audio file","webhookId":"3a42dcd0-3927-49a4-859b-01d63d68f116","credentials":{"telegramApi":{"id":"M6uNwFhToCJI8EZZ","name":"CustomBotFmcr"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"¿Qué tipo de mensaje es?","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Descargar Sticker","type":"main","index":0}]]},"Descargar Sticker":{"main":[[{"node":"Enviar Sticker","type":"main","index":0}]]},"¿Qué tipo de mensaje es?":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Escribiendo","type":"main","index":0}],[{"node":"Escribiendo1","type":"main","index":0}],[{"node":"Grabando Audio","type":"main","index":0}]]},"Escribiendo":{"main":[[{"node":"Datos del Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Datos del Mensaje":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"¿ Es Audio ?","type":"main","index":0}]]},"Escribiendo1":{"main":[[{"node":"Seleccionar Foto con Mejor Resolucion","type":"main","index":0}]]},"Seleccionar Foto con Mejor Resolucion":{"main":[[{"node":"Descarga Foto","type":"main","index":0}]]},"Analizar Imagen":{"main":[[{"node":"Datos de la Imagen","type":"main","index":0}]]},"Datos de la Imagen":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"Unir Datos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Descarga Foto":{"main":[[{"node":"Analizar Imagen","type":"main","index":0}]]},"Grabando Audio":{"main":[[{"node":"Descarga Audio","type":"main","index":0}]]},"Descarga Audio":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Datos del Audio","type":"main","index":0}]]},"Datos del Audio":{"main":[[{"node":"Unir Datos","type":"main","index":0}]]},"¿ Es Audio ?":{"main":[[{"node":"Generate audio","type":"main","index":0}],[{"node":"EnviaMesajeTexto","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}