telegrampersonalassitantfmcr-(oct-25-at-07:48:37)-TAkpmg5aagol7uCd.json
{"updatedAt":"2025-11-15T14:10:16.000Z","createdAt":"2025-10-25T13:37:57.930Z","id":"TAkpmg5aagol7uCd","name":"TelegramPersonalAssitantFMCR (Oct 25 at 07:48:37)","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1344,-112],"id":"94e9bd97-cf7f-4631-8807-8de96f020a4e","name":"When chat message received","webhookId":"1140d0f7-d7c3-49cb-b9dd-87d64870619e","disabled":true},{"parameters":{"promptType":"define","text":"=#Rol\nEres un asistente personal que ayudarás al usuario con la gestión de sus contactos\n\n##Tareas\n- Tu función principal es responder a este mensaje {{ $json.mensaje }}\n\n- Utiliza información de la herramienta Contactos para encontrar datos sobre los contactos\n\n- Utiliza la herramienta AgendarReuniones para agendar eventos y reuniones tomando de referencia la hora acutal: {{ $now }}\n\n- Utiliza la herramienta EnviarEmail para enviar correos electrónicos a los contactos\n\n##Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 1000 caracteres","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[192,-432],"id":"790c2253-09b8-444d-b270-79605be2e4d8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,-208],"id":"19ebedeb-f1eb-4b1f-b039-569ef541cccf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_id"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,-208],"id":"a0848be7-84d3-424f-ab94-f69eb48319b8","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U","mode":"list","cachedResultName":"ContactosFMCR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_BqTN_-2KxVUpRS5QnryJ8Bm6JNWk9A38KUcggNhV_U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[224,-176],"id":"d080a3e9-d566-4c67-b28a-0fd56a03c6b7","name":"Contactos","credentials":{"googleSheetsOAuth2Api":{"id":"IJGJv2jwxblwnVgm","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false,"senderName":"Personal Assistant FMCR"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[304,-176],"id":"67684cac-d014-414d-b0e8-100026f83ac0","name":"EnviarEmail","webhookId":"10a3fcbb-1fd7-479f-bc6c-8ae53a8f37db","credentials":{"gmailOAuth2":{"id":"GBlsLd0bFmPejiQ0","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"fmcuya@gmail.com","mode":"list","cachedResultName":"fmcuya@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,-208],"id":"61406c76-3559-4b28-beec-c9137818a594","name":"AgendarReuniones","credentials":{"googleCalendarOAuth2Api":{"id":"sX57ATAsJNQSKVNk","name":"Google Calendar account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1344,-432],"id":"4e8b59c3-7737-408b-8257-97cce70b1ee7","name":"Telegram Trigger","webhookId":"8cdc1f0d-33dd-4e55-8288-c1ef7930baf9","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-432],"id":"e6fa7e33-f883-4488-8fbc-a393c4afd662","name":"Reply in Telegram","webhookId":"b96b7a41-9806-455f-b72e-00aa638eda71","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"tg-1","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"tg-2","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"tg-3","name":"nombre_usuario","value":"={{ ($json.message.from.first_name || '') + ($json.message.from.last_name ? (' ' + $json.message.from.last_name) : '') }}","type":"string"},{"id":"tg-4","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"tg-5","name":"id_mensaje","value":"={{ $json.message.message_id }}","type":"number"},{"id":"tg-6","name":"hora","value":"={{ $json.message.date }}","type":"number"},{"id":"tg-7","name":"mensaje_usuario","value":"={{ $json.message.text || $json.message.caption || '' }}","type":"string"},{"id":"tg-8","name":"tipo_mensaje","value":"={{ $json.message.voice ? 'audio' : ($json.message.photo ? 'image' : ($json.message.text ? 'text' : '')) }}","type":"string"},{"id":"tg-9","name":"voice_file_id","value":"={{ $json.message.voice?.file_id }}","type":"string"},{"id":"tg-10","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-432],"id":"119c730e-42e1-40e2-8134-5e62c45dc077","name":"InfoDeTG"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"tg-s-1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tg-s-2","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-896,-448],"id":"7e5a41bf-4904-4c1f-beb9-fc092111587d","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('InfoDeTG').item.json.voice_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-704,-400],"id":"48cbdc6e-3c79-4f0e-8003-34e3dbfd7a67","name":"ObtenerAudioTG","webhookId":"979405d0-1445-442b-862a-1116178ecd8d","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-496,-352],"id":"4fd28df1-dbaa-4f1c-a6c2-280b2eea75ef","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-1","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-336],"id":"4497756f-a835-4a90-8a5c-6866ace8f2e8","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"tg-set-3","name":"mensaje","value":"={{ $json.mensaje_usuario }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-528],"id":"23fde29b-7b96-4366-8371-246f0ea5a2ee","name":"Edit Fields2"}],"connections":{"When chat message received":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Contactos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"EnviarEmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AgendarReuniones":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"InfoDeTG","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Reply in Telegram","type":"main","index":0}]]},"InfoDeTG":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"ObtenerAudioTG","type":"main","index":0}]]},"ObtenerAudioTG":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"fd3a7421-73c9-43bc-b178-c2915a91e4a2","triggerCount":1,"shared":[{"updatedAt":"2025-10-25T13:37:57.934Z","createdAt":"2025-10-25T13:37:57.934Z","role":"workflow:owner","workflowId":"TAkpmg5aagol7uCd","projectId":"1gg6i9VZSAt1Ux0x"}],"tags":[]}