telegram-UBQ8yrw43SBsnolg.json
{"updatedAt":"2025-09-18T20:47:25.000Z","createdAt":"2025-09-18T20:11:10.022Z","id":"UBQ8yrw43SBsnolg","name":"Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-512,0],"id":"a29c3349-6bf9-41e8-a55d-d2b569a2d6ee","name":"Telegram Trigger","webhookId":"043e6c29-40c3-439e-8606-7cbe5596f6cd","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,0],"id":"7f275dda-7f75-4445-aa31-9a0c59168e47","name":"Send a text message","webhookId":"63209f31-b6fb-49d0-9f2e-0d2167b25845","credentials":{"telegramApi":{"id":"BubtDmyVOQJPI0nc","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Tu funcion principal es responder a este mensaje: {{ $json.message.text }} con menos de 300 caracteres","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-288,0],"id":"d55ec82c-b421-4450-abf0-e782b3e9cb5e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-192,224],"id":"14a96e66-5e3d-48e1-b3da-0e7e72882338","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-288,224],"id":"a66fb872-25fe-4697-8d5e-a5d6e254be0d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cRbWyQCvwRrTh8Bw","name":"OpenAi account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4dfbb47f-1b18-445a-b6c7-0d99c74746ab","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-18T20:11:10.025Z","createdAt":"2025-09-18T20:11:10.025Z","role":"workflow:owner","workflowId":"UBQ8yrw43SBsnolg","projectId":"1gg6i9VZSAt1Ux0x"}],"activeVersion":null,"tags":[]}